.clear
{
	height: 0px;
}

#content
{
	padding-right: 0;
}

fieldset, div.addressBlock, #userMenuContainer, .orderDetails
{
	background-color: #F3FCFF;
}

fieldse, div.addressBlock, .table, .shipment, #userMenuContainer, .orderDetails
{
	border: 1px solid #A6DAFF
}

.table thead
{
	background-color:#E6F5FF;
}

/*
	Forms
*/
input.submit, input.text, input.password, select
{
	border: 1px solid lightblue;
}

/*
	Header
*/

/*
#smallCart
{
	position: absolute;
	text-align: right;
	width: 100%;
	left: 0;
}
*/

.quickSearch
{
	background-image: url(../image/cornerBottomLeft.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-bottom: 3px;
}

#currency, #language
{
	line-height: 1.3em;
	margin-top: 8px;
	padding-bottom: 8px;
}

#searchContainer
{
	background-image: url(../image/boxGradient.gif);
	background-repeat: repeat-x;
	background-color: #F3FCFF;
	border: 0;
	border-top: 1px solid #A6DAFF;
}

#searchContainer .wrapper
{
	background-image: url(../image/cornerBottomRight.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}

#language
{
	padding-top: 1px;
}

#language img
{
	margin-top: 1px;
}

#language select
{
	margin-top: -1px;
}

#currency
{
	margin-right: 0;
	line-height: 16px;
	padding-right: 12px;
}

#breadCrumb
{
	font-size: smaller;
}

#breadCrumb .separator
{
	font-size: smaller;
}

/*
	Side boxes
*/

div.box
{
	margin-bottom: 10px;
	background-color: #F3FCFF;
	background-image: url(../image/bottomCorners.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}

div.box .title
{
	background-color: #E7F8FF;
	background-color: #cef1ff;
	border: 0;
	background-image: url(../image/cornerTopLeft.gif);
	background-repeat: no-repeat;
	padding: 0;
}

div.box .title div
{
	background-image: url(../image/cornerTopRight.gif);
	background-position: right top;
	background-repeat: no-repeat;
	padding-top: 6px;
	padding-bottom: 4px;
	font-size: 115%;
	border-bottom: 1px dashed #A6DAFF;
}

div.box .content
{
	border: 0;
	background: none;
	background-image: url(../image/boxGradient.gif);
	background-repeat: repeat-x;
}

/*
	Category/filter boxes
*/
.count
{
	font-size: smaller;
}

/*
	Category list
*/

.subCategories
{
	margin-left: 30px;
}

.subCategories.first
{
	# margin-left: 15px;
}

.subCategories td.details.verticalSep
{
	border: 0;
}

.subCategories td.details
{
	background-color: #E6FAFF;
	padding: 0;
	background-repeat: no-repeat;
	background-image: url(../image/cornerTopLeft.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

.subCategories .subCatContainer
{
	background-repeat: no-repeat;
	background-image: url(../image/cornerBottomLeft.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}

.subCategories .subCatContainer .subCatContainer
{
	background-image: url(../image/cornerBottomRight.gif);
	background-position: right bottom;
}

.subCategories .subCatContainer .subCatContainer .subCatContainer
{
	background-image: url(../image/cornerTopRight.gif);
	background-position: top right;
	padding-left: 15px;
	vertical-align: middle;
	height: 200px;
	width: 252px;
}

.noSubCats .subCatContainer
{
	text-align: center;
	padding-left: 0 !important;
}

tr.separator div
{
	border: 0;
}

/*
	Product list
*/
.resultStats
{
	padding-right: 0;
	font-size: 100%;
}

ul.productList li
{
	position: relative;
}

ul.productList .pricingInfo, .productGrid .pricingInfo
{
	float: right;
	background-color: #FFF3FC;
	line-height: 2em;
	margin-top: -5px;
	margin-bottom: 5px;
	width: 220px;
	background-image: url(../image/cornerTopRight.gif);
	background-position: right top;
	background-repeat: no-repeat;
	#padding-top: 5px;
	#background-position: right 5px;
}

.productGrid .pricingInfo
{
	float: none;
	margin: 0 auto;
}

.productGrid td
{
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.productGrid td.last
{
	border-right: 0;
}

.productGrid tr.last td
{
	border-bottom: 0;
}

.pricingInfo span
{
	display: none;
}

.pricingInfo span.price
{
	font-size: larger;
	display: inline !important;
	padding-left: 0.5em;
	float: left;
	background-image: url(../image/cornerTopLeft.gif);
	background-position: left top;
	background-repeat: no-repeat;
}

.pricingInfo div
{
	background-image: url(../image/cornerBottomLeft.gif);
	background-position: left bottom;
	background-repeat: no-repeat;

}

.pricingInfo div div
{
	background-image: url(../image/cornerBottomRight.gif);
	background-position: right bottom;
}

.pricingInfo a.addToCart
{
	margin-right: 1em;
}

ul.productList .sep
{
	display: none;
}

ul.productList .image
{
	border-right: 1px solid #eee;
}

ul.productList .orderingControls
{
	float: left;
}

ul.productList .addToWishList, #productToWishList td.value a, .productGrid .addToWishList
{
	background-image: url(../../../image/silk/gif/heart_add.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 22px;
}

.productGrid .orderingControls
{
	margin-top: 0.5em;
	font-size: smaller;
}

.productList .title a
{
	overflow: hidden;
	display: block;
	width: 380px;
}

ul.productList .spec
{
	margin-top: 0;
}

/*
	Product page
*/
#productPrice, #productToCart, #productToWishList
{
	background-color: #FFF3FC;
}

#productPrice td.value, #productToCart td.value, #productToWishList td.value
{
 	padding-right: 1em;
}

#productPrice td
{
	padding-top: 1em;
}

#productPrice td.param
{
	background-image: url(../image/cornerTopLeft.gif);
	background-position: left top;
	background-repeat: no-repeat;
}

#productPrice td.value
{
	background-image: url(../image/cornerTopRight.gif);
	background-position: right top;
	background-repeat: no-repeat;
}

#productToWishList td.param
{
	background-image: url(../image/cornerBottomLeft.gif);
	background-position: left bottom;
	background-repeat: no-repeat;
}

#productToWishList td.value
{
	background-image: url(../image/cornerBottomRight.gif);
	background-position: right bottom;
	background-repeat: no-repeat;
	text-align: left;
}

#productToWishList td
{
	padding-bottom: 1em !important;
}

#productSpecification table
{
	border: 0;
}

tr.specificationGroup
{
	background-repeat: repeat-x;
	background-color: #E8F8FF;
}

tr.even
{
	background-color: #F5FCFF;
}

tr.odd
{
	background-color: #F1FAFF;
}

#productSpecification tr.first td.param
{
	background-image: url(../image/cornerTopLeft.gif);
	background-position: top left;
	background-repeat: no-repeat;
}

#productSpecification tr.first td.value
{
	background-image: url(../image/cornerTopRight.gif);
	background-position: top right;
	background-repeat: no-repeat;
}

#productSpecification tr.last td.param
{
	background-image: url(../image/cornerBottomLeft.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
}

#productSpecification tr.last td.value
{
	background-image: url(../image/cornerBottomRight.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

.returnToCategory
{
	margin-left: -1em;
}

.specSummary
{
	background: transparent;
	margin-top: -5px;
	margin-left: 10px;
	margin-bottom: 5px;
	max-width: 1000px;
	width: auto;
	padding: 0;
	z-index: 0;
	float: none;
	font-family: sans-serif;
}

/*
	Shopping cart
*/
#cart .first .cartControl, #wishList .first .cartControl
{
	background-image: url(../image/cornerTopLeft.gif);
	background-position: top left;
	background-repeat: no-repeat;
}

#cart .first .cartQuant, #wishList .first .cartPrice
{
	background-image: url(../image/cornerTopRight.gif);
	background-position: top right;
	background-repeat: no-repeat;
}

#cart .last, #wishList .last
{
	background-image: url(../image/cornerBottomLeft.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
}

#cart .last .cartQuant, #wishList .last .cartPrice
{
	background-image: url(../image/cornerBottomRight.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

a.proceedToCheckout
{
	padding: 0;
	border: 0;
	background-color: #FFF3FC;
}

a.proceedToCheckout span
{
	display: block;
}

a.proceedToCheckout span, #checkoutProgress a span
{
	background-image: url(../image/cornerBottomRight.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

a.proceedToCheckout span span, #checkoutProgress a span span
{
	background-image: url(../image/cornerBottomLeft.gif);
	background-position: bottom left;
}

a.proceedToCheckout span span span, #checkoutProgress a span span span
{
	background-image: url(../image/cornerTopLeft.gif);
	background-position: top left;
}

a.proceedToCheckout span span span span, #checkoutProgress a span span span span
{
	background-image: url(../image/cornerTopRight.gif);
	background-position: top right;
}

a.proceedToCheckout span span span span
{
	padding: 10px 27px 10px 10px;
}

/*
	Checkout
*/
#checkoutProgress a, #checkoutProgress span.progressOrder
{
	float: left;
}

#checkoutProgress a, #checkoutProgress a.completed, .progressPayment a, #progressCart, .progressShipping #progressAddress, .shippingSelected, .addressSelected, .progressPayment #progressPayment, .progressCart #progressCart, .progressAddress #progressAddress, .progressShipping #progressShipping
{
	padding: 0;
	border: 0 !important;
	line-height: 25px;
}

#checkoutProgress a span
{
	display: block;
}

#checkoutProgress a span span span span
{
	padding-left: 10px;
	padding-right: 10px;
}

#checkoutProgress a span span span span, #checkoutProgress span.progressOrder
{
	line-height: 40px;
}

/* uncompleted steps */
#checkoutProgress a
{
	background-color: #cef;
}

/* completed steps */
#checkoutProgress a.completed, .progressPayment a, #progressCart, .progressShipping #progressAddress, .shippingSelected, .addressSelected
{
	background-color: #F3FFF3 !important;
}

/* current step */
.progressPayment #progressPayment, .progressCart #progressCart, .progressAddress #progressAddress, .progressShipping #progressShipping
{
	background-color: #dfd !important;
	font-weight: bold;
}

/*
	Site news
*/
.newsReadMore a
{
	background-image:url(../../../image/silk/gif/page_white_text.gif);
	background-position:left center;
	background-repeat:no-repeat;
	padding-left: 22px;
	padding-top: 4px;
}