.clear
{
	height: 0px;
}


h1, h2, h3
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #143788;
}

h1
{
	font-size: 24px;
	padding-left: 10px;
	margin-bottom: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0d71be;
	padding-top: 8px;
}

h2
{
	font-size: 24px;
	padding-left: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0d71be;
	background-image: url(../image/h2bg.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
	line-height: 25px;
	text-align: left;
	vertical-align: middle;
	display: block;
	height: 25px;
	padding-bottom: 2px;
	margin-top: 20px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	border-style: none;
}

div#container
{
	margin-top: 31px;
	min-height: 0;
}

/*
	footer
*/
div#footer
{
	position: static;
	border: 0;
	padding: 0;
	margin-bottom: 30px;
	clear: both;
}

#footerLeftCorner
{
	float: left;
	width: 28px;
	height: 67px;
	background-image: url(../image/footerLeftCorner.gif);
}

#footerContent
{
	float: left;
	width: 894px;
	height: 67px;
	background-color: #E7F4FA;
}

#footerCopyright
{
	float: right;
	text-align: right;
	margin-top:20px;
}

#footerRightCorner
{
	float: right;
	width: 28px;
	height: 67px;
	background-image: url(../image/footerRightCorner.gif);
}

.informationMenu
{
	float: left;
	margin-top: 20px;
}

#content
{
	padding-left: 10px;
	background-image: url(../image/vert_sep.gif);
	background-repeat: repeat-y;
	background-position: left top;
	margin-left: 210px;
	padding-right: 35px;
	padding-top: 0px;
}



fieldset, div.addressBlock, #userMenuContainer, .orderDetails
{
	background: none;
}

fieldse, div.addressBlock, .table, .shipment, #userMenuContainer, .orderDetails
{
	border: 1px solid #A6DAFF
}

.table thead
{
	background-color:#E6F5FF;
}

/*
	Forms
*/
input.submit, input.text, input.password, select
{
	border: 1px solid lightblue;
}

/*
	Header
*/
#header
{
	padding: 0;
}

#headerSearchBar
{
	float: left;
	height: 47px;
	background-image: url(../image/headerTop.jpg);
}

#headerLeftCorner
{
	float: left;
	width: 25px;
	height: 47px;
	background-image: url(../image/headerLeftCorner.jpg);
}

#headerRightCorner
{
	float: right;
	width: 25px;
	height: 47px;
	background-image: url(../image/headerRightCorner.jpg);
}

#headerContent
{
	height: 93px;
	padding-left: 1em;
	background-image: url(../image/headerContent.jpg);
	position: relative;
}

.rootCategories
{
	position: absolute;
	bottom: 0;
}

#headerSeparator
{
	height: 2px;
	line-height: 2px;
	margin-left: 15px;
	margin-right: 23px;
}

.index #headerSeparator
{
	height: 20px;
}

.quickSearch
{
	padding-left: 1em;
}

#language
{
	padding-top: 0px;
}

#language img
{
	margin-top: 1px;
}

#language select
{
	display: inline-block;
}

#currency
{
	margin-right: 0;
	line-height: 16px;
	padding-right: 12px;
}

#breadCrumb
{
	font-size: smaller;
	padding: 10px 0 6px 25px;
	width: auto;
	margin-bottom: 0;
}

#breadCrumb .separator
{
	font-size: smaller;
}

/*
	Side boxes
*/

div.box
{
	margin-bottom: 10px;
	background-color:none;
	background-repeat: no-repeat;
	background-position: right bottom;
}

div.box .title
{
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #0a7bc4;
	font-weight: normal;
	text-align: left;
	text-transform: uppercase;
	border: 0;
	background-repeat: repeat-x;
	padding: 0;
	background-image: url(../image/sep_hor.gif);
	background-position: center bottom;
	background-color: transparent;
}

div.box .title div
{
	background-position: right top;
	background-repeat: no-repeat;
	padding-top: 6px;
	padding-bottom: 4px;
	font-size: 14px;
}

div.box .content
{
	border: 0;
	background: none;
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px !important;
}

/*
	Category/filter boxes
*/
.count
{
	font-size: smaller;
}

/*
	Category list
*/

.subCategories
{
	margin-left: 1px;

}

.subCategories.first
{
	# margin-left: 10px;
	# padding-right: 15px;
}

.subCategories.first
{
	background-repeat: repeat-y;
	background-position: right top;
	background-image: url(../image/vert_sep.gif);
}

.subCategories td.details
{
	border: 0;
	background-repeat: repeat-x;
	background-position: left bottom;
	background-image: url(../image/sep_hor.gif);
}

.subCategories td.details
{
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
}

.subCategories td.details.verticalSep
{
	border: 0;
}

.subCategories .subCatContainer
{
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-position: left bottom;
}

.subCategories .subCatContainer .subCatContainer
{
	background-position: right bottom;
}

.subCategories .subCatContainer .subCatContainer .subCatContainer
{
	background-position: top right;
	vertical-align: middle;
	height: 120px;
	width: 252px;
}

.noSubCats .subCatContainer
{
	text-align: center;
	padding-left: 0 !important;

}

tr.separator div
{
	border: 0;
}

/*
	Product list
*/
.resultStats
{
	padding-right: 0;
	font-size: 100%;
}

ul.productList li
{

}

ul.productList .pricingInfo, .productGrid .pricingInfo
{
	line-height: 2em;
	width: 120px;
	height: 60px;
}

ul.productList .pricingInfo
{
	float: right;
	margin-left: 1em;
	position: relative;
}

.productGrid .pricingInfo
{
	margin: 0 auto;
	position: relative;
}

.productGrid td
{
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	position: relative;
}

.productGrid td.last
{
	border-right: 0;
}

.productGrid tr.last td
{
	border-bottom: 0;
}

.pricingInfo span
{
	display: none;
}

.pricingInfo span.price
{
	padding: 0;
	text-align: center;
	width: 125px;

	font-size: 18px;
	display: block;
	font-family: "Times New Roman", Times, serif;
	color: #CC6600;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
}

.pricingInfo br
{
	display: none;
}

.pricingInfo a.addToCart
{
	background-position: left top;
	background-image: url(../image/button_bg.gif) !important;
	background-repeat: no-repeat;
	display: block;
	line-height: 29px;
	height: 29px;
	width: 125px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-indent: 3px;
	text-decoration: none;
	position: absolute;
	top: 30px;
	left: 0;
	text-align: center;
}

/* IE */
* html .productGrid .pricingInfo, *+html .productGrid .pricingInfo,
* html .pricingInfo span.price, *+html .pricingInfo span.price,
* html .pricingInfo a.addToCart, *+html .pricingInfo a.addToCart
{
	position: static;
}

.productGrid .pricingInfo,
.pricingInfo span.price,
.pricingInfo a.addToCart
{
	_position: static;
}

ul.productList .sep
{
	display: none;
	background-image: url(../image/sep_hor.gif);
	background-repeat: repeat-x;
	background-position: center center;
}

ul.productList .image
{
	border-right: 1px solid #eee;
}

ul.productList .orderingControls
{
	float: left;
}

ul.productList .addToWishList, #productToWishList td.value a, .productGrid .addToWishList
{
	background-image: url(../../../image/silk/gif/heart_add.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 22px;
	font-size: smaller;
	padding-top: 3px;
	padding-bottom: 3px;
}

.productGrid .addToWishList
{
	background-image: url(../../../image/silk/gif/heart_add.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	width: 120px;
}

.productGrid .orderingControls
{
	margin-top: 0.5em;
}

.productList .title a
{
	overflow: hidden;
	display: block;
	width: 400px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #2E8B98;
}

ul.productList .spec
{
	margin-top: 0;
}

/*
	Product page
*/
#productPrice, #productToCart, #productToWishList
{
	background-color:none;
}

#productToCart select
{
	margin-top: 0
}

#productPrice td.value, #productToCart td.value, #productToWishList td.value
{
 	padding-right: 1em;
}

#productPrice td
{
	padding-top: 1em;
}

#productToWishList td.value
{
	text-align: left;
	padding-top: 0;
}

#productToWishList td
{
	padding-bottom: 1em !important;
}

#mainInfo table
{
	margin-top: 0;
}

#productPurchaseLinks
{
	border-bottom: 1px solid #def;
}

#productSpecification table
{
	border: 0;
	margin-right: 10px;
	margin-left: 10px;
}

tr.specificationGroup
{
	background-repeat: repeat-x;
	background-color: #D2EEF2;
	background-image: url(../image/page_top.gif);
}

tr.even
{
	background-color: #F5FCFF;
}

tr.odd
{
	background-color: #F1FAFF;
}

#productSpecification tr.first td.param
{
	background-image: url(../../light/image/cornerTopLeft.gif);
	background-position: top left;
	background-repeat: no-repeat;
}

#productSpecification tr.first td.value
{
	background-image: url(../../light/image/cornerTopRight.gif);
	background-position: top right;
	background-repeat: no-repeat;
}

#productSpecification tr.last td.param
{
	background-image: url(../../light/image/cornerBottomLeft.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
}

#productSpecification tr.last td.value
{
	background-image: url(../../light/image/cornerBottomRight.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

.returnToCategory
{
	line-height: 24px;
	text-transform: uppercase;
	display: block;
	color: #CC6600;
	font-size: 12px;
	margin-bottom: 0;
}

.specSummary
{
	background: transparent;
	margin-top: -5px;
	margin-left: 10px;
	margin-bottom: 5px;
	max-width: 1000px;
	width: auto;
	padding: 0;
	z-index: 0;
	float: none;
	font-family: sans-serif;
}

.cartLinks .submit
{
	background: transparent url(../image/button_bg.gif) repeat scroll 0%;
	border: 0pt none;
	color: white;
	font-weight: bold;
	height: 29px;
	padding-left: 25px;
	position: relative;
	width: 125px;
}

/*
	Shopping cart
*/
#cart .first .cartControl, #wishList .first .cartControl
{
	background-image: url(../../light/image/cornerTopLeft.gif);
	background-position: top left;
	background-repeat: no-repeat;
}

#cart .first .cartQuant, #wishList .first .cartPrice
{
	background-image: url(../../light/image/cornerTopRight.gif);
	background-position: top right;
	background-repeat: no-repeat;
}

#cart .last, #wishList .last
{
	background-image: url(../../light/image/cornerBottomLeft.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
}

#cart .last .cartQuant, #wishList .last .cartPrice
{
	background-image: url(../../light/image/cornerBottomRight.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

a.proceedToCheckout
{
	padding: 0;
	border: 0;
	background-color: #FFFFFF;
}

a.proceedToCheckout span
{
	display: block;
}

a.proceedToCheckout span, #checkoutProgress a span
{
	background-image: url(../../light/image/cornerBottomRight.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

a.proceedToCheckout span span, #checkoutProgress a span span
{
	background-image: url(../../light/image/cornerBottomLeft.gif);
	background-position: bottom left;
}

a.proceedToCheckout span span span, #checkoutProgress a span span span
{
	background-image: url(../../light/image/cornerTopLeft.gif);
	background-position: top left;
}

a.proceedToCheckout span span span span, #checkoutProgress a span span span span
{
	background-image: url(../../light/image/cornerTopRight.gif);
	background-position: top right;
}

a.proceedToCheckout span span span span
{
	padding: 10px 27px 10px 10px;
}

#cart, #wishlist
{
	margin-top: 1em;
}

/*
	Checkout
*/
#checkoutProgress a, #checkoutProgress span.progressOrder
{
	float: left;
}

#checkoutProgress a, #checkoutProgress a.completed, .progressPayment a, #progressCart, .progressShipping #progressAddress, .shippingSelected, .addressSelected, .progressPayment #progressPayment, .progressCart #progressCart, .progressAddress #progressAddress, .progressShipping #progressShipping
{
	padding: 0;
	border: 0 !important;
	line-height: 25px;
}

#checkoutProgress a span
{
	display: block;
}

#checkoutProgress a span span span span
{
	padding-left: 10px;
	padding-right: 10px;
}

#checkoutProgress a span span span span, #checkoutProgress span.progressOrder
{
	line-height: 40px;
}

/* uncompleted steps */
#checkoutProgress a
{
	background-color: #cef;
}

/* completed steps */
#checkoutProgress a.completed, .progressPayment a, #progressCart, .progressShipping #progressAddress, .shippingSelected, .addressSelected
{
	background-color: #F3FFF3 !important;
}

/* current step */
.progressPayment #progressPayment, .progressCart #progressCart, .progressAddress #progressAddress, .progressShipping #progressShipping
{
	background-color: #dfd !important;
	font-weight: bold;
}

/*
	Site news
*/
.newsReadMore a
{
	background-image:url(../../../image/silk/gif/page_white_text.gif);
	background-position:left center;
	background-repeat:no-repeat;
	padding-left: 22px;
	padding-top: 4px;
}

/*
	Added
*/

/*****************************
	Header css override
*****************************/


.quickSearch
{
	background-image:none;
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-bottom: 3px;
}

#currency, #language
{
	margin-top: 8px;
	display: inline;
}
#currency a, #language a
{
	display: inline;
	line-height: 15px;
	margin-top: 3px;
	padding-bottom: 3px;

	text-transform: uppercase;
	color: #BADFF9;
	font-size: 11px;
	text-decoration: none;
}


#headerSearchBar
{
	width: 950px;
}

#searchContainer
{
    border-top: 0px solid #CCCCCC;
    border-bottom: 0px solid #DDDDDD;
    background:none;
    margin-bottom: 0px;
}

#currency
{
	margin-right: 0;
	line-height: 16px;
	padding-right: 0px;
}

#breadCrumb
{
font-weight: normal;
	font-family: Tahoma;
	font-size: 11px;
	color: #406883;
	text-transform: uppercase;
}

#breadCrumb li.first
{
	margin-left: 0px;
	padding-right: 0px;
}

#breadCrumb .separator
{
font-weight: normal;
	font-family: Tahoma;
	font-size: 11px;
	color: #406883;
	text-transform: uppercase;
}


/*****************************
	Category box
*****************************/
.categories ul
{
	display: block;
	background-image: url(../image/leftmenu_bg.gif);
	text-indent: 0px;
	margin: 0px;
	padding: 0px;
}

.categories .content
{
	padding-left: 0px !important;
	padding-top: 0px !important;
	border-bottom: 1px solid #CCCCCC;
	padding-right: 0px;
	padding-bottom: 12px;
}
.categories .content a
{
	color: #666666;
	text-decoration: none;
	background-repeat: repeat-x;
	background-position: left bottom;
	list-style-type: none;
	display: block;
}
.categories .content a:hover, .filterGroup a:hover
{
	color: black;
}

.categories li, .categories li a
{
	margin-top: 0px;
	line-height: 25px;
	text-decoration: none;
	display: inline-block;
	list-style-type: none;
		margin-left: 0px;
}

.categories ul li
{
	list-style-type: none;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: left 1px;
	background-image: url(../image/leftmenu4.gif);
	padding-left: 10px;
	margin-left: 0px;
}

.categories ul ul
{
	list-style-type: none;
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
	background-repeat: no-repeat;
	background-position: left center;
	margin-left: 0px;
}


.current ul, .subSubCats
{
	margin-left: 0 !important;
	padding-left: 0 !important;
	list-style-type: none;
	display: inline;

}
ul.subSubCats
{
    margin: 0px;
    margin-top: 2px;
}
 .subSubCats li a
 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #168c9d;
	text-decoration: none;
	margin: 0px;
	padding: 0px;

}
 .current ul
{

	padding: 0px;
	line-height: 24px;
	display: block;

}
.current ul li, .subSubCats li
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #168c9d;
	text-decoration: none;
	background-image: url(../image/arrow.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
	text-indent: 0;
}

.subSubCats li
{
	_padding-left: 0px;
}

li.moreSubCats, li.moreSubCats a
{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #cc4800;
	background-image: none;
	text-indent: 0px;
}
.categories .count
{

}

.categories ul li
{
	width: 95%;
}

.categories ul li.current
{
	background-image: none;
}

.currentName
{
	font-weight: normal;
	background-color:none;
	padding: 0px;
	line-height: 24px;
	text-transform: uppercase;
	color: #CC6600;
	font-size: 11px;
	margin-left: 0;
}





/*****************************
	Filters
*****************************/
.filterGroup ul
{
	padding-left: 0px;
	padding-right: 0;
	width: auto;
	color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
}

.filterGroup ul li a
{
	color: #4a5666;
	text-decoration: none;

	line-height: 24px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	background-image: url(../image/arrow_narrow.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 10px;
	margin-left: -8px;
}

.expandResults .filterGroup ul li a
{
	background-image: url(../../../image/silk/gif/bullet_delete.gif);
	padding-left: 16px;
}

.filterGroup
{
	margin-top: 0.7em;
}

.filterGroup ul li.showAll a
{
	background-image: none;
}

.filterGroup ul li
{
	color: #666666;
	display: block;
	padding-left: 8px;
	height: auto;
	text-decoration: none;
	list-style-type:none;
	margin-bottom:0px;
	padding-right:0px;
	background-image: url(../image/sep_hor.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}

.filterGroup h4
{
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0a7bc4;
	font-weight: normal;
	text-align: left;
	text-transform: uppercase;
	border: 0;
	background-repeat: repeat-x;
	padding: 0;
	line-height: 24px;
	background-image: url(../image/sep_hor.gif);
	background-position: center bottom;
}

.filterGroup .count, .categories .count
{
	color: #666666;
}

.filterGroup .showAll
{
	list-style: none;
	font-weight: normal;
	margin-top: 0px;
	padding-top: 0px;
	background-position: right top;
	background-repeat: no-repeat;
	padding-left: 0px;
	margin-left: 0px;
	z-index: 10;
	background-image: url(../image/more.gif);
	display: block;
}








.filterGroup2 h4
{
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #CC6600;
	font-weight: normal;
	text-align: left;
	text-transform: uppercase;
	border: 0;
	background-repeat: repeat-x;
	padding: 0;
	line-height: 24px;
	background-position: center bottom;
	display: block;
	background-image: url(../image/sep_hor.gif);
	text-indent: 12px;
}

.allFilters
{
	background-color: #eff8ff;
}

.allFilters li
{
	background-image: none !important;
	margin-bottom: 0 !important;
}

.allFilters .filterGroup
{
	margin-top: 0;
}

.logout
{
	margin-top: 0.5em;
	font-size: smaller;
	text-align: left;
}
body {
	background-image: url(../image/bodyBackground.png);
	background-repeat: repeat-x;
}

.page_content_bg {
	background-color: #FFFFFF;
	background-image: url(../image/page_top.gif);
	background-repeat: repeat-x;
	border-right: 1px solid #e0f0fc;
	border-left: 1px solid #E0F0FC;
}

.sep_hor {
	background-image: url(../image/sep_hor.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
}

#leftSide
{
	float: left;
	width: 185px;
	overflow: visible;
	position: relative;
	margin-bottom: 120px;
	padding-right: 10px;
	padding-left: 15px;
}

#leftSide .informationMenu
{
	display: none;
}

#breadCrumbCaption
{
	font-weight: normal;
	font-family: Tahoma;
	font-size: 11px;
	color: #406883;
	text-transform: uppercase;
}

.box categories,
{
background:none;
}
.box narrowResults
{
background:none;
}

.rootCategories li
{
	float: left;
	margin-right: 2px;
	list-style-type: none;
	background-image: url(../image/tab_btn_09.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
	line-height: 27px;
	height: 27px;
}
.rootCategories li span
{
	display: block;
	background-image: url(../image/tab_btn_08.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	text-indent: 8px;

}

.rootCategories li a
{
	display: block;
	background-image: url(../image/tab_btn_11.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	color: #0C3D65;
	text-decoration: none;
	font-size: 11px;
	text-transform: uppercase;
	padding-right: 8px;

}

.rootCategories li.current
{
	display: block;
	background-image: url(../image/tab_btn_04.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
	padding-right: 0px;
	color: #0C3D65;
	text-decoration: none;
	font-size: 11px;
	text-transform: uppercase;


}
.rootCategories li.current span
{
	background-image: url(../image/tab_btn_03.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	width: auto;
}

.rootCategories li.current a
{
	background-image: url(../image/tab_btn_06.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	width: auto;
	color: #E8F4FA;
	margin-right: 0px;
	padding-right: 8px;
}
ul.productList .descr
{
    margin-left: 110px;
}

.categories .content
{
	background-image: url(../image/sep_hor.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
}
/*****************************
	Information menu
*****************************/
.informationMenu ul li
{
	list-style-type: none;
	margin-bottom: 5px;
	font-size: smaller;
	display: inline;
	margin-top: 20px;
}

#smallCart .sep
{
	display: none;
}

#smallCart
{
	float: right;
	margin-right: 1em;
	padding-top: 0;
}

#smallCart, #smallCart a
{
	text-transform: uppercase;
	color: #0C3D65;
}

#smallCart a, #smallCart .menu_cartItemCount
{
	font-size: 11px;
	display: inline-block;
	text-decoration: none;
	background-position: left center;
	background-repeat: no-repeat;
	padding: 5px 0 5px 20px;
	margin-left: 1.3em;
}

#smallCart a.menu_yourAccount
{
	background-image: url(../image/account.gif);
}

#smallCart a.menu_shoppingCart
{
	background-image: url(../image/cart.gif);
}

#smallCart a.checkout
{
	background-image: url(../image/checkout.gif);
	background-position: left center;
	padding-right: 0;
}

#smallCart .logout
{
	display: inline;
	font-size: 100%;
}

#smallCart .logout a
{
	background-image: url(../image/signout.gif);
	padding-left: 15px;
}

#smallCart .menu_cartItemCount
{
	font-size: smaller;
	margin-left: 0;
	padding-left: 0.3em;
}

#content.left
{
    background-image: none;
}

.subCategories td.subCatImage, .subCategories td.details
{
	background-repeat: repeat-x;
	background-position: left bottom;
	background-image: url(../image/sep_hor.gif);
}

.subCategories .separator
{
	display: none;
}

.subCatName, .subCatName a
{
	font-size: 14px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	color: #0b3c65;
	text-align: left;
	line-height: 16px;
	text-decoration: none;
	width: 225px;
	padding-bottom: 5px;
}

.subCategories td.subCatImage
{
	width: 85px;
	text-align: center;
	padding-right: 15px;
	padding-left: 8px;

}
.subCatImage
{
	vertical-align: middle;
}


ul.news li.newsEntry
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	background-color: #F7F7F7;
	display: block;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 10px;
}

h3, h3 a
{
	margin-bottom: 10px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #168c9d;
	text-decoration: none;
}
.productSeparator
{
	margin-top: 15px;
	margin-bottom: -7px;
	margin-left: 10px;
	margin-right: auto;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cde;

}

#imageContainer
{
	width: 450px;
	float: left;
	text-align: center;
	margin-left: 10px;
}

#largeImage
{
	border: 1px solid #cde;
}

#moreImages
{
	padding-top: 1em;
}

#mainInfo
{
	float: left;
	margin-left: 20px;
	border: 1px solid #cde;
}

#productPurchaseLinks
{
	background-image: url(../image/price_bg.gif);
	background-repeat: repeat-x;
	background-position: center top;
}

#relatedProducts
{
	margin-right: 20px;
}

.returnToCategory a
{
	background-image: url(../image/back.jpg);
	background-position: left center;
    padding-left: 22px;
    margin-left: 10px;
    margin-top: 4px;
    font-weight: bold;
    position: relative;
}

ul.productList .spec
{
	font-size: smaller;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 2px;
		display: block;
	width: 400px;
}

.white_bg
{
	background-color: #FFFFFF;
	text-align: center;
	display: block;
}

ul.productList a.addToCart, .productGrid a.addToCart
{
    padding-left: 0;
    text-indent: 27px;
    float: right;
}

table.productGrid
{
	width: 680px;
	table-layout: fixed;
}

.proceedToCheckout
{
	background-color: #DDEEFF;
	background-image: url(../image/checkout_p.png);
	background-position: 100% center;
	background-repeat: no-repeat;
	border: 1px solid #DDDDDD;
	float: right;
	font-weight: bold;
	width: 208px;
	padding-top: 5px;
	padding-right: 27px;
	padding-bottom: 5px;
	padding-left: 5px;
	color: #fff;
	text-align: center;
}

.continueShopping
{
	float: left;
	background-image: url(../image/checkout_p2.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	font-weight: bold;
	width: 208px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 42px;
	margin-top:-7px;
	color: #cc6600;
	height: 28px;
	vertical-align: middle;
}