/* general theme overrides/resets */
a
{
	text-decoration: underline;
}

input.submit, input.text, input.password, select, textarea
{
	border: 1px solid;
}

tr.last td
{
	border-bottom: 0;
}

#productSummaryContainer,
div.box .title
{
	background-color: transparent;
}

#breadCrumbCaption,
.currentName,
.filterGroup .showAll,
.filterGroup h4,
.subCatName, .subCatName a,
div.box .title
{
	font-weight: normal;
}

#searchContainer,
div.box .title,
div.box .title div,
div.box .content,
.subCategories td.details.verticalSep,
tr.separator div,
#productSpecification table,
a.proceedToCheckout,
#checkoutProgress a,
h2,
div#footer,
.cartLinks .submit,
ul.news li.newsEntry
{
	border-width: 0;
}

#searchContainer,
div.box .title,
.subCategories td.details,
.specSummary,
a.proceedToCheckout,
.categories ul,
.categories ul ul,
.subSubCats li a,
#checkoutProgress a,
div#footer
{
	padding: 0;
}

.categories ul,
.subSubCats li a,
.rootCategories .li .li,
#productSummaryContainer,
ul.subSubCats
{
    margin: 0;
}

/* rounded corners */
a.proceedToCheckout span,
#checkoutProgress a span,
#productToWishList td.value,
#productSpecification tr.last td.value,
#cart .last .cartQuant, #wishList .last .cartPrice
{
	background-image: url(../../light/image/cornerBottomRight.gif);
	background-position: bottom right;
}

a.proceedToCheckout span span,
#checkoutProgress a span span,
#productToWishList td.param,
#productSpecification tr.last td.param,
#cart .last, #wishList .last
{
	background-image: url(../../light/image/cornerBottomLeft.gif);
	background-position: bottom left;
}

a.proceedToCheckout span span span,
#checkoutProgress a span span span,
#productSpecification tr.heading td.param,
#cart .first .cartControl, #wishList .first .cartControl
{
	background-image: url(../../light/image/cornerTopLeft.gif);
	background-position: top left;
}

a.proceedToCheckout span span span span,
#checkoutProgress a span span span span,
ul.productList .pricingInfo, .productGrid .pricingInfo,
#productSpecification tr.heading td.value,
#cart .first .cartQuant, #wishList .first .cartPrice
{
	background-image: url(../../light/image/cornerTopRight.gif);
	background-position: top right;
}

/* background color 1 */
tr.odd,
div.box .content,
#userMenuContainer,
fieldset,
div.addressBlock,
.orderDetails,
.noteText,
#checkoutProgress a,
tr.even td,
.dynamicMenu ul
{
	background-color: #F3FCFF;
}

/* background color 2 */
tr.odd td,
tr.specificationGroup,
#checkoutProgress a.completed
{
	background-color: #E6F5FF;
}

/* background color 3 */
thead,
tr.heading td
{
	background-color: #cef1ff;
}

/* background color 5: light green */
#checkoutProgress a.active,
#checkoutProgress a:hover
{
	background-color: #dfd;
}

div.addressBlock, .table, .shipment, #userMenuContainer, .orderDetails, #searchContainer, div.box .title div
{
	/* border: 1px solid #A6DAFF */
}

div, td, img, input.submit, input.text, input.password, select, textarea
{
	border-color: #cef1ff;
}

/* links with background icons */
a.addToWishList,
#productToWishList td.value a,
.newsReadMore a,
.returnToCategory
{
	padding-left: 22px;
}

.current ul li,
.categories ul li,
.subSubCats li
{
	padding-left: 10px;
}

.expandResults .filterGroup ul li a,
#smallCart .logout a
{
	padding-left: 16px;
}

/* right floats */
ul.productList .pricingInfo,
#footerCopyright,
#smallCart
{
	float: right;
}

/* left floats */
.pricingInfo span.price,
ul.productList .orderingControls,
#checkoutProgress a,
#checkoutProgress span.progressOrder,
.informationMenu,
#headerSearchBar,
.rootCategories .li
{
	float: left;
}

/* dotted separator line */
div.box .title,
.subCategories td.details,
.filterGroup ul li,
.filterGroup h4,
.sep_hor,
.categories .content,
.box.productList li,
.subCategories td.subCatImage, .subCategories td.details
{
	background-repeat: repeat-x;
	background-image: url(../image/sep_hor.gif);
	background-position: center bottom;
}

/* uppercased titles */
div.box .title,
.returnToCategory,
#currency a, #language a,
#breadCrumb,
.currentName,
.filterGroup h4,
.rootCategories .li a,
.rootCategories li.current,
#smallCart, #smallCart a
{
	text-transform: uppercase;
}

/* non-underlined links */
.pricingInfo a.addToCart,
#header a,
#leftSide a,
.subCategories a,
ul.news li.newsEntry,
h3 a
{
	text-decoration: none;
}

.newsReadMore a
.current ul li,
.subSubCats li,
.categories .current li,
#smallCart a,
#smallCart .menu_cartItemCount,
#smallCart a.checkout
{
	background-position: left center;
}

h1, h2, h3, h4
{
	color: #0d71be;
}

h1
{
	font-size: 24px;
	text-indent: 10px;
	margin-bottom: 10px;
	padding-top: 8px;
}

h2
{
	text-indent: 20px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #4386ba;
	line-height: 25px;
	padding-bottom: 2px;
	margin-top: 20px;
	font-size: 18px;
}

div#container
{
	margin-top: 31px;
	min-height: 0;
}

/*
	footer
*/
div#footer
{
	position: static;
	margin-bottom: 30px;
	clear: both;
}

#footerLeftCorner
{
	float: left;
	width: 28px;
	height: 67px;
	background-image: url(../image/footerLeftCorner.gif);
}

#footerContent
{
	margin: 0 28px;
	height: 67px;
	background-color: #E7F4FA;
}

#footerCopyright
{
	text-align: right;
	margin-top:20px;
}

#footerRightCorner
{
	float: right;
	width: 28px;
	height: 67px;
	background-image: url(../image/footerRightCorner.gif);
}

.informationMenu
{
	margin-top: 20px;
	width: 500px;
}

#leftSide .informationMenu
{
	display: none;
}

#content
{
	margin-left: 210px;
	padding: 0 35px 0 10px;
}

#contentWrapperLeft
{
	left: 210px;
}

#contentWrapperLeft,
#contentWrapperRight
{
	position: absolute;
	height: 20000px;
	width: 10px;
	background: url(../image/vert_sep.gif) repeat-y left top;
}

#contentWrapperRight
{
	display: none;
}

body
{
	background-image: url(../image/bodyBackground.png);
	background-repeat: repeat-x;
}

.page_content_bg
{
	overflow: hidden;
	position: relative;
	background: url(../image/page_top.gif) #fff repeat-x;
	border: 1px solid #e0f0fc;
	border-width: 0 1px;
}

fieldset, div.addressBlock, #userMenuContainer, .orderDetails
{
	background: none no-repeat;
}

.table thead
{
	background-color:#E6F5FF;
}

thead th, tr.heading td
{
	font-weight: bold;
}

/*
	Header
*/
#header
{
	border-bottom: 2px solid #0d3f64;
}

#headerSearchBar
{
	height: 47px;
	width: 100%;
}

#headerLeftCorner
{
	float: left;
	width: 25px;
	height: 47px;
	background-image: url(../image/headerLeftCorner.jpg);
}

#headerRightCorner
{
	float: right;
	width: 25px;
	height: 47px;
	background-image: url(../image/headerRightCorner.jpg);
}

#headerContent
{
	height: 91px;
	padding: 0 1em;
	background: url(../image/headerContent.jpg) repeat-x;
	position: relative;
}

.rootCategories
{
	position: absolute;
	bottom: -2px;
}

#headerSeparator
{
	height: 2px;
	line-height: 2px;
	margin-left: 15px;
	margin-right: 23px;
}

.index #headerSeparator
{
	height: 20px;
}

.quickSearch
{
	padding-top: 4px;
}

#breadCrumb
{
	font-size: 11px;
	padding: 10px 0 6px 25px;
	color: #406883;
}

/*
	Side boxes
*/

div.box
{
	margin-bottom: 10px;
	background-position: right bottom;
}

div.box .title
{
	font-size: 14px;
	color: #0a7bc4;
}

div.box .title div
{
	background-position: right top;
	padding-top: 6px;
	padding-bottom: 4px;
	font-size: 14px;
	text-align: left;
}

div.box .content
{
	background: none;
}

/*
	Category list
*/

.subCategories.first
{
	background: url(../image/vert_sep.gif) right top repeat-y;
}

.subCategories .subCatContainer
{
	background-position: left bottom;
}

.subCategories .subCatContainer .subCatContainer
{
	background-position: right bottom;
}

.subCategories .subCatContainer .subCatContainer .subCatContainer
{
	background-position: top right;
}

.noSubCats .subCatContainer
{
	padding-left: 0 !important;
}

.noSubCats .subCatContainer table
{
	margin: 0 auto;
}

/*
	Product list
*/
.resultStats
{
	font-size: 100%;
	width: auto;
}

ul.productList .pricingInfo, .productGrid .pricingInfo
{
	line-height: 2em;
	width: 120px;
	height: 60px;
}

ul.productList .pricingInfo
{
	margin-left: 1em;
	position: relative;
}

.productGrid .pricingInfo
{
	margin: 0 auto;
	position: relative;
}

ul.productList .pricingInfo span.price,
.productGrid .pricingInfo span.price
{
	text-align: center;
	width: 100%;
	font-size: 1.2em;
	display: block;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
}

.price
{
	color: #CC6600;
}

.pricingInfo span
{
	display: none;
}

.pricingInfo .progressIndicator
{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
}

.pricingInfo span.listPrice
{
	display: inline;
}

.pricingInfo a.addToCart
{
	background-image: url(../image/button_bg.gif) !important;
	line-height: 29px;
	width: 125px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	position: absolute;
	top: 30px;
	left: 0;
	text-align: center;
}

.addToCart .progressIndicator
{
	position: absolute;
	left: 5px;
	top: 5px;
	z-index: 5000;
}

ul.productList .image
{
	border-right: 1px solid #eee;
}

ul.productList .addToWishList, #productToWishList td.value a, .productGrid .addToWishList
{
	background-image: url(../../../image/silk/gif/heart_add.gif);
	font-size: smaller;
	padding-top: 3px;
	padding-bottom: 3px;
}

a.addToCompare
{
	background-image: none !important;
	font-size: smaller;
}

.productListRating
{
	padding-bottom: 3px;
}

ul.productList .spec
{
	margin-top: 5px;
}

ul.productList .order
{
	margin-top: 0;
}

ul.productList .orderingControls
{
	padding-top: 5px;
}

.productList .title a, .productGrid .title a
{
	font-size: 14px;
	color: #2E8B98;
}

.compactProductList .productInfo
{
	width: 90px;
}

.compactProductList .pricingInfo
{
	display: block;
	width: 64px;
	font-size: 0.85em;
}

.compactProductList .pricingInfo .price
{
	display: inline;
}

/*
	Product page
*/
#productPrice, #productToCart, #productToWishList
{
	background-color:none;
}

#productPrice td.value, #productToCart td.value, #productToWishList td.value
{
 	padding-right: 1em;
}

#productPrice td
{
	padding-top: 16px;
}

#productToWishList td.value
{
	text-align: left;
	padding-top: 0;
}

#productToWishList td
{
	padding-bottom: 1em !important;
}

#mainInfo table
{
	margin-top: 0;
}

#rateProduct .productTable
{
	margin-left: 0;
}

.productIndex .productTable
{
	margin: 0 10px;
}

.productTable tr.heading
{
	background-repeat: repeat-x;
	background-color: #D2EEF2;
	background-image: url(../image/page_top.gif);
}

tr.even
{
	background-color: #F5FCFF;
}

tr.odd
{
	background-color: #F1FAFF;
}

.productTable td.ratingPreview
{
	background-color: #fff !important;
}

.returnToCategory
{
	background-image: url(../image/back.jpg);
    font-weight: bold;
	line-height: 24px;
	display: block;
	color: #CC6600;
	font-size: 12px;
	margin-bottom: 0;
}

.specSummary
{
	background: transparent;
	float: none;
	margin-top: -5px;
	margin-bottom: 5px;
	width: auto;
	z-index: 0;
}

.cartLinks .submit
{
	background: transparent url(../image/button_bg.gif) repeat scroll 0%;
	color: white;
	font-weight: bold;
	height: 29px;
	padding-left: 25px;
	position: static;
	width: 125px;
}

/*
	Shopping cart
*/
a.proceedToCheckout span span span span
{
	display: block;
	padding: 6px 27px 10px 10px;
	 /* IE8 */
}

a.proceedToCheckout span span span span { margin-top:-20px\0/ }

/*
	Checkout
*/
#checkoutProgress a span
{
	display: block;
}

#checkoutProgress a span span span span
{
	padding: 0 10px;
}

#checkoutProgress a span span span span, #checkoutProgress span.progressOrder
{
	line-height: 40px;
}

.completeOrderButton .progressIndicator
{
	margin-top: 10px;
	margin-left: 2px;
}

/*
	Site news
*/
.newsReadMore a
{
	background-image: url(../../../image/silk/gif/page_white_text.gif);
	padding-top: 4px;
}

/*
	Added
*/

/*****************************
	Header css override
*****************************/
#currency, #language
{
	margin-top: 8px;
}

#currency a, #language a
{
	color: #BADFF9;
	font-size: 11px;
}

#searchContainer
{
    margin: 0 25px;
	background: url(../image/headerTop.jpg);
}

/*****************************
	Category box
*****************************/
.categories ul
{
	background: url(../image/leftmenu_bg.gif) repeat;
	text-indent: 0;
}

.categories ul ul
{
	background-image: none;
}

.categories .content
{
	padding-left: 0 !important;
	padding-top: 0 !important;
}

.categories .content a
{
	color: #666666;
}
.categories .content a:hover, .filterGroup a:hover
{
	color: black;
}

.categories li, .categories li a
{
	margin-top: 0;
	line-height: 25px;
	margin-left: 0;
}

.categories ul li
{
	background-position: left 1px;
	background-image: url(../image/leftmenu4.gif);
	margin-left: 0;
}

.subSubCats li a
{
	font-size: 12px;
	color: #168c9d;
}

.current ul li, .subSubCats li
{
	font-size: 12px;
	color: #168c9d;
	background-image: url(../image/arrow.jpg);
	text-indent: 0;
}

li.moreSubCats, li.moreSubCats a
{
	font-size: 12px;
	color: #cc4800;
	background-image: none;
	text-indent: 0;
}

.categories ul li.current
{
	background-image: none;
}

.currentName
{
	color: #CC6600;
	font-size: 11px;
}

/*****************************
	Filters
*****************************/
.filterGroup ul li a
{
	color: #4a5666;
	font-size: small;
}

.expandResults .filterGroup ul li a
{
	background-image: url(../../../image/silk/gif/bullet_delete.gif);
}

.filterGroup
{
	margin-top: 0.7em;
}

.filterGroup ul li.showAll a
{
	background-image: none;
}

.filterGroup ul li
{
	text-indent: 0;
}

.filterGroup ul li div
{
	text-indent: 10px;
	line-height: 24px;
	background-image: url(../image/arrow_narrow.gif);
}

.filterGroup .count, .categories .count
{
	line-height: 19px;
}

.filterGroup .showAll
{
	background-position: right top;
	background-image: url(../image/more.gif);
	background-repeat: no-repeat;
	display: block;
}

.allFilters
{
	background-color: #eff8ff;
}

.allFilters li
{
	background-image: none !important;
	margin-bottom: 0 !important;
}

.allFilters .filterGroup
{
	margin-top: 0;
}

#leftSide
{
	width: 185px;
	padding: 0 10px 0 15px;
}

.rootCategories
{
	background-color: transparent;
	height: auto;
	width: auto !important;
}

.rootCategories .clear
{
	display: none;
}

.rootCategories .li
{
	margin-right: 2px;
	background-image: url(../image/tab_btn_09.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
	line-height: 27px;
	height: 27px;
}

.rootCategories .li span.name
{
	display: block;
	background-image: url(../image/tab_btn_08.gif);
	background-position: left bottom;
	padding-left: 8px;
	white-space: nowrap;
	height: 27px;
}

.rootCategories .li a
{
	display: block;
	background-image: url(../image/tab_btn_11.gif);
	background-position: right bottom;
	font-size: 11px;
	padding: 0;
	padding-right: 8px;
	height: 27px;
}

.rootCategories .li a,
.rootCategories .li:hover .li a,
.rootCategories .li.hover .li a
{
	color: #0C3D65;
}

.rootCategories .li.current
{
	display: block;
	background-image: url(../image/tab_btn_04.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
	padding-right: 0;
	color: #0C3D65;
	font-size: 11px;
}

.rootCategories .li.current span.name
{
	background-image: url(../image/tab_btn_03.gif);
	background-position: left bottom;
	width: auto;
}

.rootCategories .li.current a
{
	background-image: url(../image/tab_btn_06.gif);
	background-position: right bottom;
	width: auto;
	color: #E8F4FA;
	margin-right: 0;
	padding-right: 8px;
}

.rootCategories .li .wrapper
{
	border: 1px solid #6e99ae;
	border-top: 0;
	background: #cddddf;
	padding: 5px;
}

.rootCategories .li .li
{
	padding-left: 0;
}

.rootCategories .li .li a
{
	display: block;
}

.rootCategories .li .li a:hover,
.rootCategories .li:hover .li a:hover
{
	background-color: #0d3f64;
	color: white;
}

.rootCategories .li.hover .li,
.rootCategories .li.hover .li a
{
	width: 220px;
}

.rootCategories .li .ul .li a,
.rootCategories .li .ul .li span,
.rootCategories .li:hover .ul .li a,
.rootCategories .li:hover .ul .li span,
.rootCategories .li.hover .ul .li a,
.rootCategories .li.hover .ul .li span
{
	background: none;
}

/*************************
	Special offers (sale items)
*************************/
.box.productList li
{
	padding-bottom: 5px;
}

/*****************************
	Information menu
*****************************/
.informationMenu .infoLink
{
	margin-bottom: 5px;
	font-size: smaller;
	margin-top: 20px;
}

#smallCart .sep
{
	display: none;
}

#smallCart, #smallCart a
{
	color: #0C3D65;
}

#smallCart a, #smallCart .menu_cartItemCount
{
	font-size: 11px;
	display: inline-block;
	padding: 5px 0 5px 20px;
	margin-left: 1.3em;
}

#smallCart a.menu_yourAccount
{
	background-image: url(../image/account.gif);
}

#smallCart a.menu_shoppingCart
{
	background-image: url(../image/cart.gif);
}

#smallCart a.checkout
{
	background-image: url(../image/checkout.gif);
	padding-right: 0;
}

#smallCart .logout
{
	display: inline;
}

#smallCart .logout a
{
	background-image: url(../image/signout.gif);
}

#smallCart .menu_cartItemCount
{
	font-size: smaller;
	margin-left: 0;
	padding-left: 0.3em;
}

#content.left
{
    background-image: none;
}

.subCategories .separator
{
	display: none;
}

.subCatName, .subCatName a
{
	font-size: 14px;
	color: #0b3c65;
	line-height: 16px;
	padding-bottom: 5px;
}

.subCategories td.subCatImage
{
	width: 85px;
	text-align: center;
	padding-right: 15px;
	padding-left: 8px;
}

ul.news li.newsEntry
{
	font-size: 12px;
	color: #333333;
	background-color: #F7F7F7;
	display: block;
	padding: 10px;
}

h3, h3 a
{
	margin-bottom: 1em;
	font-size: 14px;
	color: #168c9d;
	font-weight: bold;
}

#moreImages
{
	padding-top: 1em;
}

#mainInfo
{
	margin-top: 0;
}

#mainInfo,
.radioOptions,
#largeImage,
.productSeparator
{
	border: 1px solid #cde;
}

#productPurchaseLinks
{
	border-bottom: 1px solid #def;
	background-image: url(../image/price_bg.gif);
	background-repeat: repeat-x;
	background-position: center top;
	width: 260px;
}

.productSeparator
{
	border-width: 0;
	border-bottom-width: 1px;
	margin: 15px auto -7px 10px;
}

#relatedProducts, #purchasedTogether
{
	margin-right: 20px;
}

.returnToCategory a
{
    color: #c60;
}

ul.productList a.addToCart, .productGrid a.addToCart
{
    padding-left: 0;
    text-indent: 27px;
    font-size: 1em;
    overflow: hidden;
}

table.productGrid
{
	table-layout: fixed;
}

.proceedToCheckout
{
	background: url(../image/checkout_p.png) 100% center no-repeat;
	font-weight: bold;
	width: 208px;
	padding-top: 5px 27px 5px 5px;
	color: #fff;
	text-align: center;
}

.continueShopping
{
	background-image: url(../image/checkout_p2.jpg);
	font-weight: bold;
	width: 208px;
	height: 28px;
	padding: 15px 0 5px 42px;
	margin-top:-7px;
	color: #cc6600;
	vertical-align: middle;
}

.proceedToCheckout, .continueShopping
{
	font-size: 13px;
}

#userMenuContainer
{
	margin: 1em;
}

.onePageCheckout-index #checkout-shipping h2,
.onePageCheckout-index #checkout-billing h2,
.onePageCheckout-index #checkout-payment h2
{
	text-indent: 0;
	margin-bottom: 0\0/
}

.dynamicMenu li.topCategory
{
	border-top-width: 0;
	padding-left: 0;
}

.categories.dynamicMenu ul li
{
	background-image: none;
}

.categories.dynamicMenu ul
{
	width: 175px;
	background-color: white;
}

.categories.dynamicMenu ul li.topCategory.hasSubs a
{
	background-position: 163px 1px;
}

.categories.dynamicMenu ul li.hasSubs a
{
	background-image: url("../image/leftmenu4.gif");
	background-position: 180px 1px;
}

.categories.dynamicMenu ul li.hasSubs a:hover
{
	background-image: url("../image/leftmenu4_hover.gif");
}

.categories.dynamicMenu ul li li.noSubs a
{
	background-image: none !important;
}

.categories.dynamicMenu ul li ul li
{
	padding-left: 0;
}

.categories.dynamicMenu a
{
	padding-left: 12px;
	padding-right: 12px;
}

.dynamicMenu li ul
{
	margin-top: 0;
	top: -1px;
	margin-left: 173px;
}

.dynamicMenu li li ul
{
	margin-left: 175px;
}

.dynamicMenu li a
{
	width: 151px;
	padding: 0;
}

.dynamicMenu li:hover > a,
.dynamicMenu li.sfhover > a
{
	background-color: #CEF1FF;
}

.rtl .newsReadMore a
.rtl .current ul li,
.rtl .subSubCats li,
.rtl #smallCart a,
.rtl #smallCart .menu_cartItemCount,
.rtl .filterGroup ul li div,
.rtl #smallCart a.checkout
{
	background-position: right center;
}

.rtl a.addToWishList,
.rtl #productToWishList td.value a,
.rtl .newsReadMore a,
.rtl .returnToCategory
{
	padding-left: 0;
	padding-right: 22px;
	background-position: right center;
}

.rtl .current ul li,
.rtl .categories ul li,
.rtl #smallCart a,
.rtl .subSubCats li
{
	padding-left: 0;
	padding-right: 20px;
	background-position: right 1px;
}

.rtl .expandResults .filterGroup ul li a,
.rtl #smallCart .logout a
{
	padding-left: 0;
	padding-right: 16px;
	background-position: right center;
}

.rtl .categories .content
{
	padding: 0 !important;
	position: relative;
}

* html .rtl .categories li,
*+html .rtl .categories li
{
	background: none;
	padding-right: 0;
}

.rtl .filterGroup .showAll
{
	text-align: left;
}

.rtl div.box .title div
{
	text-align: right;
}

.rtl .addToCart
{
	padding: 0 !important;
}

.rtl ul.productList .orderingControls
{
	float: none;
}

.rtl #smallCart .menu_shoppingCart
{
	margin-left: 0;
}

body.threeColumn.rtl #contentWrapperRight
{
	left: 230px;
	right: auto;
}

body.threeColumn.rtl #contentWrapperLeft
{
	left: auto;
	right: 190px;
}