RewriteEngine on

# @todo remove >>
RewriteRule ^$ public/index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^public/upload/(.*)$ http://demo.livecart.com/upload/$1 [R,L]
# << end remove

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# if no rule matched the url, we redirect to our front web controller
#RewriteRule ^(.*)\/$ %{REQUEST_URI} [R]
RewriteRule ^(.*)(\/|\b)$ public/index.php?route=$1 [QSA,L]

# big crash from our front web controller
ErrorDocument 500 "<h2>Application error</h2>Application failed to start properly"


# Cache stylesheets and javascript
# Add "LoadModule expires_module modules/mod_expires.so" to your httpd.conf to be able to use expires mode
# Add "LoadModule mime_module modules/mod_mime.so" to be able to set mime type by extension

<IfModule mod_mime.c>
    AddType text/css .css
    AddType text/javascript .js
    AddType image/jpeg .jpg
    AddType image/png .png
    AddType image/gif .gif
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On

    ExpiresByType text/css "access plus 1 year"
    ExpiresByType text/x-javascript "access plus 1 year"
    ExpiresByType text/javascript "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
</IfModule>


<IfModule mod_deflate.c>
  SetOutputFilter DEFLATE

  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/x-javascript
</IfModule>

#Disable Apache caching
FileETag none


