body {
	font-family: arial, verdana;
	font-size: 14px;
	color: #333;
	background-color: #d4e9ff;
	margin: 0px;
}
table {
  	border-collapse: collapse;  
}
td {
  	padding: 0px;  
}

/* Page header */
#pageTop {
  	background-color: #30a0f9;
	border-bottom: 1px solid #0097ff;
}
#topAuthInfo {
  	color: #FFFFFF; 
	text-align: right; 
	padding-right: 20px; 
	font-size: 10px;  
}
#headerContainer {
  	width: 100%;
	height: 44px;
}
#topBorder {
  	background-color: #FFFFFF; 
	height: 1px;
	margin-bottom:4px;
}
#headerUserName {
  	font-weight: 900;
  	font-size: 11px;
}
#homeButtonWrapper {
  	background-repeat: no-repeat; 
	vertical-align: middle; 
	width: 129px; 
	height: 32px; 
	text-align: left; 
	padding-left: 20px; 
	padding-top: 10px; 
	color: #FFFFFF; 
	font-size: 10px;  
	background-image:url(../image/backend/header_home_button_wrapper.png);
}
#headerShade {
  	background-repeat: repeat-x; 
	vertical-align:top;
	text-align: right;
	width: 1005px;
	background-image: url(../image/backend/header_shade.png);
}
#headerShadeStretch {
  	background-image: url(../image/backend/header_shade_stretch.png); 
    background-repeat: repeat-x;
}
#systemMenu {
 	font-size: 11px; 
	text-align: right;	  
	padding-top: 3px;
	padding-right: 5px;
}
#logo {
	vertical-align: middle; 
	padding-right: 15px; 
	padding-top:20px; 
	padding-bottom: 10px;
	text-align: right;
}

/* Work area content */
#workAreaContainer {
	background-color:#E6E6E6;
	padding-top:10px;
	padding-left:20px;
	padding-right:10px;
	padding-bottom:20px;
}

#pageTitle {
  	font-weight: bold;
	font-size: 14px;  
	margin-bottom:5px;
}

#workArea {
  	background-color: #FFFFFF;
	padding: 10px;  
}

/*
#container {
	background-color: #eee;
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #aaa;
}

*/
fieldset {
	margin: 15px;
	padding: 15px;
	background-color: #fff;
	border: 3px solid #e0e0e0;
}
legend {
	font-size: 18px;
	color: #000;
	background-color: #ffffcc;
}

/* Form styling */
.formContainer {
	width: 100%;
}
.formContainer input,  .formContainer textarea, .formContainer select {
	font-size: 14px;
	padding: 3px;
	font-family: arial, verdana;
}
.formContainer .submit {
	background-color:  #009933;
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
}
.labelContainer {
	padding: 5px;
}
.fieldContainer {
	padding: 5px;
}

/* Category manager styling */

ul#tabContainer {
	list-style: none;
	margin:0px;
	padding: 0px;
	height: 28px;
}
ul#tabContainer li {
	padding: 5px 15px 5px 15px;
	float: left;
	margin-left: 2px;
	border: 1px solid #ccc;
	border-bottom: 0px;
}
#sectionContainer {
	padding: 20px 10px 10px 10px; 
	border: 1px solid #ccc;
}