@import "activeList.css";

html
{
    font-size: 67.5%;
}

body {
	font-family: arial, verdana;
	font-size: 1.4em;
	color: #333;
	margin: 0px;
	background-color:#E6E6E6;
	background-image:url(../image/backend/layout/workarea_shade_vertical_wide.jpg);
	background-position: right 200px;
	background-repeat: repeat-y;
}
table {
  	border-collapse: collapse;
}
td {
  	padding: 0px;
}
a img {
  	border: 0;
}

/* Layout */
* {margin:0;padding:0}

/* commented backslash hack v2 \*/
html, body{height:100%;}
/* end hack */

html>body #minHeight{ /*safari wrapper */
  	float:right;
	width:0px;
	height:100%;
	/*margin-bottom:-60px; */
	margin-bottom:-40px;
}

#outer {
	margin-left:20px;
	margin-right:20px;
	background:#FFFFFF;
	/*margin-bottom:-102px; */
	margin-bottom:-60px;
	min-height:100%
}

#headerContainer {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	/* overflow: hidden; */
}

#clearheader{
  	height:100px; /*needed to make room for header*/
}
#left {
	position: relative;/*ie needs this to show float */
	width: 20px;
	float: left;
	margin-left: -19px;/*must be 1px less than width otherwise won't push footer down */
	z-index: 100;
	left: -1px;
}

#right {
	position:relative;/*ie needs this to show float */
	width:20px;
	float:right;
	margin-right:-19px;/*must be 1px less than width otherwise won't push footer down */
	left:1px
}

#footer {
	width:100%;
	clear:both;
	height:60px;
	background-color:#E6E6E6;
	text-align:center;
	position:relative;
}

#clearfooter{
  	clear:both;
	height:60px; /*needed to make room for footer*/
}

* > html #clearfooter { /* ie mac styles */
  	float:left;
	width:100%;
}

#centrecontent {
	width:100%;
	float:left;
	position:relative;
	z-index:10;
	margin:0 -1px;/* moz fix*/
	background-color: #FFFFFF;
}

/* Page header */
#pageTop {
  	background-color: #30a0f9;
	border-bottom: 1px solid #0097ff;
	height: 98px;
	vertical-align: bottom;
}
#topAuthInfo {
  	color: #FFFFFF;
	text-align: right;
	padding-right: 20px;
	font-size: 10px;
}
#topBackground {
	position: absolute;
	top: 13px;
	background-image: url(../image/backend/layout/top_bg.jpg);
	width: 100%;
	background-repeat: repeat-x;
	height: 81px;
}
#topBackgroundLeft {
  	position: absolute;
	top: 0px;
	background-image:url(../image/backend/layout/top_bg_left.jpg);
	width: 420px;
	height: 81px;
	background-repeat: no-repeat;
	z-index: 0;
}
#topLogoContainer {
	float: right;
	width: 184px;
}
#topLogoImage {
  	margin-right: 10px;
  	margin-top: 25px;
}
#headerContent {
	position: absolute;
  	width: 100%;
	height: 44px;
	top: 13px;
}
#topBorder {
  	background-color: #FFFFFF;
	height: 1px;
	margin-bottom:4px;
}
#headerUserName {
  	font-weight: 900;
  	font-size: 11px;
}
#homeButtonWrapper {
	vertical-align: middle;
	text-align: left;
	padding-left: 30px;
	padding-top: 10px;
	color: #FFFFFF;
	font-size: 10px;
	position: relative;
	z-index: 1500;
}
#homeButton {
	vertical-align:middle;
}

#headerMenuContainer {
	vertical-align:top;
	text-align: right;
	width: 1005px;
}

#headerTopMenuContainer {
	text-align:left;
}

#systemMenu {
 	font-size: 11px;
	text-align: right;
	padding-top: 3px;
	padding-right: 5px;
	vertical-align: top;
	z-index: 7000;
	position: relative;
	float: right;
}

/* Navigation menu */
#navContainer {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	z-index: 1000;
}

#navContainer table {
	height: 65px;
}

#navContainer table td {
  	vertical-align: bottom;
	padding-left: 70px; 
}

#nav li ul, #nav { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
}

#nav li { /* all list items */
	float: left;
	position: relative;
}

#nav li ul { /* second-level lists */
	display: none;
	position: absolute;
	left: 0;
}

#nav li>ul { /* to override top and left in browsers other than IE, which will position to the top right of the containing li, rather than bottom left */
	top: auto;
	left: auto;
}

#nav li:hover ul, #nav li.over ul { /* lists nested under hovered list items */
	display: block;
}

#content {
	clear: left;
}

#nav {
	position: relative;
	z-index: 1000;
}

#nav a {
  	text-decoration: none;
  	color: #0000FF;
  	font-weight: bold;
  	font-size: 15px;
}

#nav li {
	background-repeat: repeat-x;
	padding-left:10px;
	#width: 20px; /* IE hack */
	white-space: nowrap;
	height: 18px;
}

#nav li div {
	display: table;
  	background-image: url(../image/backend/menu/menu_item_middle.jpg);
	background-repeat: repeat-x;
	background-position: right 0px;
}

#nav li div div {
	display: table;
  	background-image: url(../image/backend/menu/menu_item_right.gif); 
  	background-repeat: no-repeat;
	background-position: right 0px;
}

#nav li div div div {
  	background-image: url(../image/backend/menu/menu_item_left.gif);
  	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-align: center;
	padding: 5px; 
	padding-left: 10px;
	padding-right: 10px;
	display: table-cell;
}

#navSelected div {
  	background-image: url(../image/backend/menu/menu_item_middle_active.gif) !important;
}

#navSelected div div {
  	background-image: url(../image/backend/menu/menu_item_right_active.gif) !important;
}

#navSelected div div div {
  	background-image: url(../image/backend/menu/menu_item_left_active.gif) !important;
}

#navSelected div a {
	color: #0093DD;
}

#nav li ul {
  	margin-top: 5px;
  	left: 10px;
  	border: 1px solid #999999;
  	background-image: url(../image/backend/menu/menu_commands_bg.jpg);
  	background-position: bottom left;
  	background-repeat: repeat-x;
  	background-color: #CDD9EE;
  	padding: 5px;
}

#nav li ul li {
	width: 100%;
  	#width: 200px; /* IE hack */
  	min-width: 150px;
  	text-align: left;
	background-image: none;
	border-bottom: 1px dotted #999999;
	padding: 2px;
}

#nav li ul li a {
	text-decoration: none;
	color: #1249A4;
}

#nav li a:hover {
	text-decoration: underline;
}

#nav li ul li:hover, .menuCommandHover {
	background: #3981E7;
	border: 1px solid #3981E7;
}

#nav li ul li:hover a, .menuCommandHover a {
	color: #FFFFFF;
}

/* Page footer */
#footerContainer {
  	width: 100%;
	border-collapse: collapse;
	height: 44px;
}
#footerLeft {
  	width: 834px;
	background-image:url(../image/backend/layout/footer.png);
}
#footerStretch {
  	background-image:url(../image/backend/layout/footer_stretch.png);
}

/* Language switch menu */
#langMenuContainer {
  	position: absolute;
	display: none;
	z-index: 20;
	float: right;
	width: auto;
	padding-top: 6px;
}

#langMenuIndicator {
	border: 1px solid black;
	background-color: white;
	padding: 5px;
}

#langMenu {
	padding: 5px;
	text-align: left;
  	background-color: #CDD9EE;
  	background-image: url(../image/backend/menu/menu_commands_bg.jpg);
  	background-position: bottom left;
  	background-repeat: repeat-x;
  	font-size: larger;
 	border:1px solid #999999;
}

#langMenu div {
	margin-bottom: 5px;
}

#langMenu div div {
	margin: 0;
	padding: 5px;
  	cursor: pointer;
}

.langMenuHover {
	background: #3981E7;
}

/* Work area styling */
#rightWorkareaShadeTop {
	background-color: #E6E6E6;
	margin-top: -3px;
	height: 10px;
}
#workareaBottomShadeLeft {
  	width: 30px;
	height: 2px;
}
#workareaBottomShade {
  	width: 100%;
	background-image:url(../image/backend/layout/workarea_shade_horizontal.jpg);
	background-repeat: repeat-x;
}
#workareaShadeCorner {
  	width: 20px;
	vertical-align: top;
	padding-right: 12px;
}
#workareaShadeCornerImage {
	vertical-align: top;
}
#workareaBottomShadeContainer {
  	width: 100%;
}

/* Work area content */
#pageTitleContainer {
	height:20px;
	background-color: #E6E6E6;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 5px;
	z-index: 10;
	margin-bottom: -1px;
}
#pageTitle {
  	font-weight: bold;
	padding-left: 20px;
}

#workArea {
  	background-color: #FFFFFF;
	padding: 10px;
}

/* Common classes */
.altrow { /* used for styling "zebra" tables */
  	background-color: #EEEEEE;
}

.inlineHelp {
  	position: relative;
	background-color: #FBFF85;
	float: right;
	display: inline;
	width: auto;
	width: 300px;
	padding: 10px;
	border: 1px solid grey;
	clear: none;
}

.inlineHelp ul {

	margin-left: 15px;

}

.inlineHelp legend {
  	background-color: yellow;
	padding: 3px;
}

.menuFieldSet {
  	display: inline;
  	width: auto;
  	padding: 10px;
}

.menuFieldSet legend {
	padding: 3px;
}

/* Form styling */
/*
.formContainer {
	width: 100%;
}
.formContainer input,  .formContainer textarea, .formContainer select {
	font-size: 14px;
	padding: 3px;
	font-family: arial, verdana;
}
.formContainer .submit {
	background-color:  #009933;
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
}
.labelContainer {
	padding: 5px;
}
.fieldContainer {
	padding: 5px;
}
*/

/* Needed for IE, but doesn't seem to affect Mozilla */
* html #outer{	height:100%;}
#minHeight {display:none}
#left {margin-right:-3px;}/*3px jog */
#right {margin-left:-3px;}/*3px jog */
#centrecontent {margin:0}

/* handy classes */
br.clear
{
    clear: both;
}

.dom_template
{
	display: none ! important;
}

.center
{
	text-align: center;
}

.nowrap
{
	white-space: nowrap;
}