fieldset
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
}

legend
{
    font-weight: bold;
}

label
{
    float: left;
    width: 10em;
}

input, textarea, select
{
   /* border: 1px solid #aaa;*/
}

input, select, form .other
{
    width: 20em;
}

textarea
{
    width: 30em;
    height: 10em;
}

input.radio, input.checkbox, input.submit
{
    width: auto;
}

input.radio, input.checkbox
{
    float: left;
    margin-right: 1em;
    border: 0px none;
}

input:focus, textarea:focus, select:focus
{
    background: #ffc;
}


input.required, textarea.required, select.required
{
    border: 1px solid red;
}

form em.required
{
    color: red;
    border: 0px none;
}

label, input, select, form .other, textarea
{
    margin-top: 5px;
    margin-bottom: 5px;
}

label.radio
{
    width: 6em;
}


/* Multicolumn groups */
fieldset.group
{
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
}

fieldset.group h2
{
    width: 10em;
    float: left;
    font-size: 1em;
    font-weight: normal;
}

fieldset.group div
{
    width: 8em;
    float: left;
}

fieldset.group p
{
    margin 0.3em 0;
}