form label, form input, form select, form textarea
{
	display: block;
	width: 300px;
	float: left;
	margin-bottom: 10px;
}

form label 
{
	text-align: right;
	width: 150px;
	padding-right: 20px;
}

form br 
{
	clear: left;
}

form div.input-group
{
	margin-left: 150px;
	padding-left: 20px;
	display: block;
}

form div.input-group * 
{
	display: inline;
	width: auto;
	float: none;
	margin: 2px;
}