.fade.in { display: inline-block; }

.ui-icon { display: inline-block; }

.modal-body { /* overflow: auto; */ max-height: 20000px !important; }

.nav-tabs { margin-bottom: 1em; }

.center-block { float: none; }

a { cursor: pointer; }

.btn-toolbar
{
	margin-bottom: 1em;
}

.ui-sortable .form-group .drag-icon
{
	display: none;
}

.ui-sortable .form-group:hover
{
	padding-left: 25px;
	position: relative;
}

.ui-sortable .form-group:hover .drag-icon
{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 20px;
    cursor: pointer;
}

#backendContainer
{
	padding: 1em;
}

.tab-content
{
	padding-top: 1em;
}

#messages
{
	position: fixed;
	top: 30px;
	right: 30px;
	z-index: 5000;
}

/* ng-grid */
.ngCell .editColumn
{
	padding: 3px;
}

.ngViewport
{
	height: 500px !important;
}

.celltype_bool
{

}

/* ya-tree */
.tree
{
	overflow: auto;
	padding-top: 10px;
}

.tree ul
{
	margin-left: 20px;
}

.tree ul:first-child
{
	margin-left: 10px;
}

.tree .minimized-true ul
{
	display: none;
}

.tree ins.expand
{
	/* margin-left: -20px; */
}

.tree li div
{
	display: inline-block;
	cursor: pointer;
	white-space: nowrap;
}

/* vertical menu */
.verticalMenu
{
	margin-top: 10px;
	text-align: center;
}

.verticalMenu .btn
{
	display: inline-block;
	width: 75%;
	margin-bottom: 10px;
	text-align: left;
}
