html
{
    font-size: 80%;
}

/*************************** 
 	Navigation menu 
****************************/
#nav {
	top: 0;	  
}

#nav li div {
	width: 20px;
}

#nav li ul {
  	top: 22px; 
}  	

#nav li ul li {
  	padding-top: 5px; 
}  	