/**
 * IE 6 quirks
 */

html
{
    font-size: 60%;
}

/*************************** 
 	Navigation menu 
****************************/
#nav {
	top: 0;	  
}

#nav li {
	width: 20px;
}

#nav li div {
	width: 20px; 
}



*html #footpanel { /*--IE6 Hack - Fixed Positioning to the Bottom--*/
	margin-top: -1px; /*--Prevents IE6 from having an infinity scroll bar - due to 1px border on #footpanel--*/
	position: absolute;
	top:expression(eval(document.compatMode &&document.compatMode=='CSS1Compat') ?documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight) : document.body.scrollTop +(document.body.clientHeight-this.clientHeight));
}