.fade.in { display: inline-block; }

.ui-icon { display: inline-block; }

.modal-body { overflow: auto; }

a { cursor: pointer; }

.btn-toolbar
{
	margin-bottom: 1em;
}

.ui-sortable .form-group .drag-icon
{
	display: none;
}

.ui-sortable .form-group:hover
{
	padding-left: 25px;
	position: relative;
}

.ui-sortable .form-group:hover .drag-icon
{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 20px;
    cursor: pointer;
}

/* ng-grid */
.ngCell .editColumn
{
	padding: 3px;
}

.ngViewport
{
	height: 500px;
}

/* ya-tree */
.tree
{
	overflow: auto;
}

.tree ul
{
	margin-left: 20px;
}

.tree .minimized-true ul
{
	display: none;
}

.tree ins.expand
{
	margin-left: -20px;
}

.tree li div
{
	display: inline-block;
	cursor: pointer;
	white-space: nowrap;
}
