*
{
  	margin: 0;
	padding: 0;
}

html
{
    font-size: 12px;
}

body {
	font-family: arial, verdana;
	font-size: 1.4em;
	color: #333;
	margin: 0px;
	background-color: #f0f0f0;
}

table
{
  	border-collapse: collapse;
}

a img
{
  	border: 0;
}

img[src=""]
{
	display: none;
}

a, a:visited
{
  	color: darkblue;
}

h1
{
	margin-bottom: 3px;
	font-size: 1.5em;
}

/***************************
	Common classes
***************************/
.disabled, .disabled * {
  	color: #AAAAAA;
}

.enabled, .enabled *
{
    color: #000;
}

.menuFieldSet {
  	display: inline;
  	width: auto;
  	padding: 10px;
}

.menuFieldSet legend {
	padding: 3px;
}


div.tip {
  	padding: 5px;
  	margin: 10px;
  	margin-left: 0px;
}

div.tip img {
	vertical-align: middle;
	cursor: pointer;
}

div.tip div {
  	padding: 8px;
/* 	padding-left: 25px; */
  	background-color: #FFFD8C;
  	display: inline;
	width: auto;
/*	background-image: url(../../image/backend/icon/information.png); */
	background-repeat: no-repeat;
	background-position: 5px center;
	margin-right: 10px;
}

div.noRecords
{
	margin-top: 10px;
}

div.noRecords div {
    border: 2px solid #FF8600;
    background: #FFDDD5;
    display: inline;
    width: auto;
    padding: 5px;
}

/***************************
* Messages
****************************/
div.yellowMessage, div.redMessage, div.bugMessage {
	margin: 0pt;
	padding: 10pt;
	position: relative;
    overflow: visible;
}

div.yellowMessage .closeMessage, div.redMessage .closeMessage, div.bugMessage .closeMessage {
    position: absolute;
    right: 18px;
    top: 18px;
    cursor: pointer;
	cursor: hand;
}

div.yellowMessage div, div.redMessage div, div.bugMessage div {
	border: 4px solid;
	font-weight: bold;
	padding: 7px;
	text-align: center;
}

div.yellowMessage div {
    border-color: #FFDD00;
    background-color: #FFEE7F;
}

div.redMessage div {
    background-color: #FF933A;
    border-color: #FF4E3A;
}

div.bugMessage div {
    background-color: black ! important;
    border-color: #BBB;
    color: #CCC;
    font-size: 120%;
    padding: 15px;
}

div.yellowMessage .closeMessage
{
    display: none;
}

.confirmationMessage, .errorMessage, .infoMessage
{
	border: 1px solid #0c0;
	background-color: #efe;
	padding: 7px;
	padding-left: 30px;
	background-image: url(../../image/silk/gif/tick.gif);
	background-position: 5px center;
	margin: 0.5em;
	background-repeat: no-repeat;
}

.errorMessage
{
	border: 1px solid #c00;
	background-color: #fee;
	background-image: url(../../image/silk/gif/cancel.gif);
}

.infoMessage
{
	border: 1px solid #FFF000;
	background-color: #FFFCCC;
	background-image: url(../../image/silk/gif/information.gif);
}

/***************************
	Layout
***************************/
/* commented backslash hack v2 \*/
html, body{
  	height:100%;
}
/* end hack */

#pageContainer
{
	position:relative; /* needed for footer positioning*/
	overflow: hidden;  /* to avoid drag&drop items to be dragged out of page boundaries */
	margin: 1em;
	margin-top: 0;
	border: 1px solid #ccc;
	background-color: #fff;
}


#pageContentContainer
{
    position: relative;
	min-height: 100%; /* needed for footer positioning*/
}


#pageContentInnerContainer {
    padding: 10px;
}

.maxHeight {
  	height: 95%;
}

/***************************
	Page header
***************************/
#pageHeader
{
    position: relative;
    z-index: 2000;
    background: url(../../image/backend/layout/header_shade.png) repeat-x left bottom;
    margin-right: 1px;
}

#topAuthInfo {
	text-align: right;
	padding-right: 32px;
	font-size: 10px;
}

#topAuthInfo a
{
	color: #666;
	text-decoration: none;
}

#topAuthInfo a:hover
{
	text-decoration: underline;
}

#topLogoImageContainer {
	float: left;
}

#topLogoImage {
	margin: 8px 10px 0 5px;
}

#headerUserName {
  	font-weight: 900;
  	font-size: 11px;
}

#systemMenu {
 	font-size: 12px;
	text-align: right;
	padding-top: 3px;
	padding-right: 5px;
	vertical-align: top;
	z-index: 7000;
	position: relative;
	float: right;
	margin-right: 10px;
}

#systemMenu a
{
	margin: 0 6px;
}

#moduleUpdateAvailable
{
	margin-left: -6px;
	margin-right: 6px;
	color: red;
}

/***************************
	Page footer
***************************/
#footerStretch {
    text-align: right;
	padding-right: 15px;
}

#pageFooter
{
	position: relative;
	background: url(../../image/backend/layout/footer_stretch.png) repeat-x left top;
	padding: 5px 10px 15px 10px;
	line-height: 19px;
	margin-right: 1px;
	border-top: 1px solid #D5E2FF;
	font-size: 12px;
}

#pageFooter a
{
	color: #000;
}

#frontendLink
{
    color: white;
    padding-right: 22px;
    background-image:url(../../image/silk/gif/house.gif);
    background-repeat: no-repeat;
    background-position: center right;
}

/***************************
 	Navigation menu
****************************/
#navContainer
{
	border-bottom: 3px solid #15367f;
	height: 82px;
}

#nav {
	position: absolute;
	bottom: 3px;
	left: 210px;
	z-index: 1;
}

#nav li ul, #nav { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
}

#nav li { /* all list items */
	float: left;
	position: relative;
}

#nav li li
{
	float: none;
}

#nav li ul { /* second-level lists */
	display: none;
	position: absolute;
	left: 0;
}

#nav li>ul { /* to override top and left in browsers other than IE, which will position to the top right of the containing li, rather than bottom left */
	top: auto;
	left: auto;
}

#nav li:hover ul, #nav li.over ul { /* lists nested under hovered list items */
	display: block;
}

#nav a
{
	padding-left: 20px;
	margin-left: -5px;
	margin-right: -5px;
	background-position: left center;
	background-repeat: no-repeat;
}

#nav ul a
{
	margin: 0;
	line-height: 30px;
}

#nav a, #nav .topItem:hover {
  	text-decoration: none;
  	color: #15367f;
  	font-weight: bold;
  	font-size: 15px;
  	display: block;
  	-moz-outline:none;
  	white-space: nowrap;
}

#nav li {
	padding-left: 8px;
	white-space: nowrap;
}

#nav li div {
  	background-image: url(../../image/backend/menu/menu_item_left.png);
  	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 12px;
}

#nav li div div {
  	padding: 0px;
 	background-image: url(../../image/backend/menu/menu_item_right.png);
  	background-repeat: no-repeat;
	background-position: top right;
}

#nav li div div div {
 	background-image: url(../../image/backend/menu/menu_item_middle.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	margin: 0px;
	margin-right: 12px;
	text-align: center;
	padding-top: 3px;
	line-height: 35px;
}

#nav #navSelected div {
  	background-image: url(../../image/backend/menu/menu_item_left_active.png);
}

#nav #navSelected div div {
  	background-image: url(../../image/backend/menu/menu_item_right_active.png);
}

#nav #navSelected div div div {
  	background-image: url(../../image/backend/menu/menu_item_middle_active.png);
}

#navSelected li div {
  	background-image: none !important;
}

#navSelected div > a
{
	color: #fff !important;
}

#nav li ul {

  	left: 8px;
  	border: 1px solid #d5e2ff;
  	border-top: 3px solid #15367F;
  	background-color: #f7f9ff;
  	line-height: 20px;
  	padding: 5px;
}

#nav li ul li {
	width: 200px;
  	min-width: 150px;
  	text-align: left;
	background-image: none;
	border-bottom: 1px dotted #999999;
	padding: 2px;
}

#nav li ul li:last-child {
	border-bottom: 0;
}

#nav li ul li div {
  	background-image: none;
  	padding: 0px;
}

#navSubSelected {
  	padding-top: 4px;
}

#navSubSelected a {
  	color: #000000 !important;
}

#nav #navSelected li {
  	padding-left: 5px;
}

#nav li ul li a {
	text-decoration: none;
	color: #1249A4;
}

#nav li li:hover
{
	background-color: #15367F;
}

#nav li li:hover a {
	color: white;
}

#menuDescription
{
	position: absolute;
	left: 200px;
	top: 5px;
	background: lightyellow;
	padding: 0.5em;
	font-size: smaller;
	z-index: 8000;
}

/***************************
	Breadcrumb navigation
***************************/
#breadcrumb {
	position: absolute;
	left: 350px;
	top: 0px;
	font-size: smaller;
	font-size: smaller;
	height: 20px;
	padding-top: 5px;
}

#breadcrumbLast {
  	font-weight: bold;
}

/***************************
	Language switch menu
***************************/
#langSwitchLink.hasFlag
{
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 20px;
}

#langMenuContainer {
  	position: absolute;
	display: none;
	z-index: 20;
	padding-top: 6px;
	top: 13px;
	overflow: hidden;
	opacity: 0.9;
}

#langMenuIndicator {
	border: 1px solid black;
	background-color: white;
	padding: 5px;
}

#langMenu {
	padding: 5px;
	text-align: left;
  	background-color: #CDE0FF;
  	background-position: bottom left;
  	background-repeat: repeat-x;
  	font-size: larger;
 	border:1px solid #ccc;
}

#langMenu a.cancel
{
	font-size: smaller;
}

#langMenu div {
	margin-bottom: 5px;
}

#langMenu div div {
	margin: 0;
	padding: 5px;
  	cursor: pointer;
}

#langMenu div div span
{
	display: block;
}

.langMenuHover {
	background: #58f;
}

.langMenuHover span
{
	color: white;
}

#langMenuCurrent {
  	font-weight: bold;
}

/***************************
	Work area content
***************************/
#pageTitleContainer
{
	height: 21px;
	padding-top: 5px;
	position: relative;
	width: 100%;
	clear: both;
}

#pageTitle
{
  	font-weight: bold;
  	font-family: "Trebuchet MS";
  	font-size: 18px;
	padding-left: 10px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
}

#titleHelpButton {
	position: relative;
	top: 1px;
	margin-left: 5px;
}
#workArea {
	padding: 10px;
}

#pageTitle a , #pageTitle .breadcrumb_separator
{
    font-size: 0.9em;
}
/***************************
	Menus
***************************/
.menuLoadIndicator {
	border: 1px solid black;
	background-color: white;
	padding: 5px;
	width: 20px;
	height: 20px;
	background-image: url(../../image/indicator.gif);
	background-position: center center;
	background-repeat: no-repeat;
}

ul.menu {
    display: block;

	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;

	padding: 10px;
    padding-top: 4px;
	padding-bottom: 6px;
	padding-left: 0px;

	font-size: smaller;
}

ul.menu li {
  	list-style: none;
  	display: inline;
  	margin-right: 10px;
  	float: none;
    background-repeat: no-repeat;
    background-position: center left;
    padding: 2px 0 2px 22px;
}

ul.menu li.cancel
{
	padding-left: 0;
}

.menu a {
  	color: red;
}

div.menu a
{
	font-size: smaller;
}

ul.verticalMenu
{
	padding: 15px;
	padding-top: 15px;
	padding-bottom: 5px;
	list-style-type: none;
}

ul.verticalMenu li
{
	margin-bottom: -1px;
	background: url(../../image/backend/verticalMenuBg.gif);
	border: 1px solid #bcd2e6;
	border-bottom-width: 0;
	padding-left: 5px;
}

ul.verticalMenu li a
{
	outline: none;
}

ul.verticalMenu li:hover
{
	background-position: 0 -32px;
}

ul.menu li.done
{
    background-position: right center;
    padding-left: 0;
}

ul.menu.popup li.done a
{
	font-weight: bold;
	background: url(../../image/silk/accept.png) center left no-repeat;
	padding-left: 22px;
}

ul.menu.popup
{
    border: 0;
    padding: 0;
    margin-bottom: 5px;
    text-align: center;
}

/***************************
	Handy classes
***************************/
br.clear, div.clear
{
    clear: both;
}

.dom_template
{
	display: none ! important;
}

.center
{
	text-align: center;
}

.nowrap
{
	white-space: nowrap;
}


/***************************
	Footer panel
***************************/

#footpanel
{
	position: fixed;
	bottom: 0; left: 0;
	z-index: 1000; /*--Keeps the panel on top of all other elements--*/
	background: #e3e2e2;
	border: 1px solid #c3c3c3;
	border-bottom: none;
	width: 94%;
	margin: 0 3%;
	-moz-border-radius: 5px 5px 0 0;
}

#mainpanel
{
	padding: 0; margin: 0;
	float: left;
	width: 100%;
	list-style: none;
	border-top: 1px solid #fff; /*--Gives the bevel feel on the panel--*/
	font-size: 1.1em;
	-moz-border-radius: 5px 5px 0 0;
}

#footpanel ul li.dropButton
{
	padding: 0; margin: 0;
	float: left;
	position: relative;
}

#mainpanel > li > a
{
	padding: 5px;
	float: left;
	text-indent: -9999px; /*--For text replacement - Shove text off of the page--*/
	height: 16px; width: 16px;
	text-decoration: none;
	color: #333;
	position: relative;
}

#mainpanel > li > a:hover
{
	background-color: #fff !important;
}

html #footpanel .subpanel ul li a.active
{ /*--Active state when sub-panel is open--*/
	background-color: #fff;
	height: 17px;
	margin-top: -2px; /*--Push it up 2px to attach the active button to sub-panel--*/
	border: 1px solid #555;
	border-top: none;
	z-index: 200; /*--Keeps the active link on top of the sub-panel--*/
	position: relative;
}

#footpanel a.lastviewed,
#footpanel a.storeBackend,
#footpanel a.storeFrontend
{
	padding-left: 30px;
	border-right: 1px solid #bbb;
	text-indent: 0;
	font-size:12px;
}

#footpanel a.storeFrontend
{
	width: 86px;
	background: url(../../image/silk/gif/house.gif) no-repeat 5px center;
}

#footpanel a.storeBackend
{
	width: 100px;
	background: url(../../image/silk/cog.png) no-repeat 5px center;
}

#footpanel .dropButtonPanel
{
	background-color: red;
	width:400px;

}

#footpanel a small {
	text-align: center;
	width: 140px;
	height: 16px;
	background: url(../../image/pop_arrow.gif) no-repeat center bottom;
	padding: 5px 5px 11px;
	display: none; /*--Hide by default--*/
	color: #fff;
	font-size: 12px;
	overflow:hidden;
	text-indent: 0;
	white-space:nowrap;
}

#footpanel a:hover small{
	display: block; /*--Show on hover--*/
	position: absolute;
	top: -35px; /*--Position tooltip 35px above the list item--*/
	left: 50%;
	margin-left: -70px; /*--Center the tooltip--*/
	z-index: 9999;
}

#footpanel a.lastviewed{
	background: url(../../image/silk/clock.png) no-repeat 15px center;
	width: 80px;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	padding-left: 40px;
}

#noToolbarButtons
{
	float: left;
	font-size: 11px;
	line-height: 26px;
	margin-left: 20px;
}

#footpanel li#toolbarQS,
#footpanel li#lastviewed
{
	float: right;
	position: relative;
}

#footpanel .subpanel ul li div a { /*--Reset link style for sub-panel links--*/
	text-indent: 0;
	width: auto;
	height: auto;
	padding: 0;
	float: none;
	color: #00629a;
	position: static;
}
#footpanel .subpanel ul li div a:hover
{
	text-decoration: underline;
}

#footpanel .subpanel
{
	position: absolute;
	left: 0; bottom: 27px;
	display: none;	/*--Hide by default--*/
	width: 160px;
	border: 1px solid #555;
	background: #fff;
	overflow: hidden;
	z-index:60000;
}

#footpanel .subpanel h3 {
	background: #4C5D97;
	padding: 5px 10px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}
#footpanel .subpanel h3 span { /*--Right aligned "-" icon--*/
	font-size: 1.5em;
	float: right;
	line-height: 0.6em;
	font-weight: normal;
}

#footpanel .subpanel ul{
	padding: 0; margin: 0;
	background: #fff;
	width: 100%;
	overflow: auto;
	padding-bottom: 2px;
}
#footpanel .subpanel li{
	float: none; /*--Reset float--*/
	display: block;
	padding: 0; margin: 0;
	overflow: hidden;
	clear: both;
	background: #fff;
	position: static;  /*--Reset relative positioning--*/
}

/* #lastviewed .subpanel li { background: url(dash.gif) repeat-x left center; } */

#lastviewed .subpanel li a img {
	float: left;
	margin: 0 5px;
}

#lastviewed .subpanel li a{
	color: #15367F;
	padding: 3px 0;	margin: 0;
	line-height: 22px;
	height: 22px;
	background: #fff;
	display: block;
	font-size:12px;
}

#lastviewed .subpanel li a:hover {
	background: #39498A !important;
	color: #fff;
	text-decoration: none;
}

#lastviewed .subpanel #lastViewedIndicator
{
	margin:10px 0 10px 60px;
	padding:0;
}

#lastviewed .subpanel li span
{
	text-align:center;
	display: block;
	font-size:12px;
	height:14px;
	margin:4px 0 0 0;
	color:#666;
}


#footpanel li#toolbarQS #TBQuickSearchQuery
{
	width:180px !important;
	margin: 2px;
	height:13px;
	font-size:12px;
}

#footpanel li#toolbarQS #TBQuickSearchResultOuterContainer
{
	font-size:12px;
	position: absolute;
}

#footpanel li#toolbarQS #TBQuickSearchResultOuterContainer .qsCount
{
	display: block;
	position:absolute;
	margin-top:-28px;
	color:#fff;
	font-size:12px;
	width:310px;
	text-align:right;
	font-weight:bold;
}

#footpanel li#toolbarQS ul li
{
	clear: both;
}

#footpanel .cancel{
	color:red;
}


/***************************
	Form styling
***************************/
form
{
     display: inline;
}

.formReadonly .controls
{
    display: none;
}

form p, form div.field
{
    position: relative;
    clear: both;
}

fieldset.error, div.error, fieldset.container
{
	padding: 0px;
	margin: 0px;
	position: static;
	border: 0;
	background-color: transparent;
	background: none;
}

.errorText
{
	background-color: red;
/*	float: left; */
	width: auto;
	margin-bottom: 4px;
	margin-top: -3px;
	padding: 3px;
	color: white;
}

.disabledTextarea
{
    border: 1px solid #888;
    background-color: white;
    overflow: auto;
}

.feedback, .feedback_textarea
{
    position: absolute ! important;
    vertical-align: middle;
    margin-left: 10px;
    padding-left: 20px;
    background: url(../../image/silk/error.png) no-repeat left center;
    visibility: hidden;
    white-space: nowrap;
}

fieldset.controls
{
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    z-index: 0;
}

fieldset.group
{
    position: relative;
}

form fieldset.group div
{
    width: auto;
}

fieldset
{
    margin: 1em 0;
    padding: 1em;
    background: #fbfbfb;
    margin: auto 0;
    margin-bottom: 10px;
    border: 1px solid #DDD;
    position: relative;
    z-index: 10;
}

legend
{
	font-size: 18px;
	color: #15367F;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	font-family: "Trebuchet MS";
}

label
{
    float: left;
    width: 170px;
    font-size: 14px;
    overflow: hidden;
    padding-bottom: 1px;
}

label.cancel
{
    float: none;
    position: relative;
    padding-left: 0px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

p.required label, fieldset.required label, label.required
{
  	font-weight: bold;
}

p.radio, p.checkbox, fieldset.radio, fieldset.checkbox
{
   padding-left: 170px;
}

p.radio label, p.checkbox label, fieldset.radio label, fieldset.checkbox label
{
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
}

input, select, file, form.other
{
    width: 15em;
    font-size: 16px;
    padding: 2px;
    vertical-align: middle;
}

option
{
	padding-right: 1em;
}

select
{
    width: 15.5em;
}

select.country option, select.state option
{
   width: 15em;
}

label.checkbox, label.radio, p.checkbox label
{
    cursor: pointer;
    width: auto;
}

optgroup option
{
   padding-left: 1em;
   color: black;
   background-color: #ffc;
}

optgroup
{
   font-style: normal;
   font-weight: bold;
}

textarea, .disabledTextarea
{
    padding: 2px;
    width: 40em;
    height: 10em;
    font-size: 14px;
    font-family: arial, verdana;
    color: #333;
}
.feedback_textarea
{
   line-height: 10em;
}

input.radio, input.checkbox, input.submit, input.button, input.reset, input.file, input.upload
{
    width: auto;
    vertical-align: middle;
}

input.submit, input.reset
{
	font-size: 10px;
	padding: 3px;
	font-weight: bold;
	-moz-border-radius: 5px;
	border-width: 0;
}

input.submit {
	background-color: #008cff;
	color: #fff;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid #008CFF;
}

input.reset {
	background-color: #ddd;
	color: #666;
}

input.text.progressIndicator
{
	padding: 2px;
	background-position: center right;
}

input.radio, input.checkbox, .progressIndicator.checkbox
{
    float: left;
    margin-right: 0.5em;
}

input:focus, textarea:focus, select:focus
{
    background: #ffc;
}

input.submit:focus
{
	color: #008cff;
}

input.required, textarea.required, select.required
{
    border-color: red;
}

formem.required
{
    color: red;
}

form, .formDiv
{
    height: 2em;
    width: 11em;
}

label, input, select, form .other, textarea, .disabledTextarea
{
    margin-top: 5px;
    margin-bottom: 5px;
}

select
{
    padding: 0 !important;
}

a.cancel, a.menu
{
 	color: red;
}

.hidden
{
	display: none;
}

.visible
{
	display: block;
}

.progressIndicator
{
	background-image: url(../../image/indicator.gif) !important;
	background-repeat: no-repeat !important;
	clear: none;
}

label.progressIndicator
{
	padding-left: 20px;
	background-position: left center;
}

span.progressIndicator
{
	padding: 15px;
	width: 30px;
	height: 20px;
	background-position: center center;
}

a.progressIndicator
{
	background-position: left center;
	height: auto;
}

.checkbox.progressIndicator
{
	padding: 0;
	width: 15px;
	height: 15px;
}

/* textarea container */
div.textarea
{
 	margin-bottom: 7px;
 	margin-left: 170px;
}

input.wide
{
  	width: 35em;
}

.wider
{
	width: 50em;
}

input.money, input.number
{
  	width: 5em;
}

input.date
{
  	width: 7em;
}

label.wide
{
	display: block;
	float: none;
}

select.narrow
{
    width: 5em;
}

label.param,
td.param
{
	color: #777;
	width: 140px;
	font-size: smaller;
}

.button.browse
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}

.UnitConventer_HiUnit
{
	margin-right: 8px;
}

.UnitConventer_SwitchUnits
{
	font-size: smaller;
}

.UnitConventer_Root input
{
	width: 2em;
}

a.UnitConventer_SwitchUnits
{
	font-size: 11px;
	display: block;
	color: red;
	margin-top: -3px;
	margin-bottom: 5px;
}

.fieldDescription
{
	font-size: smaller;
}

.specificationGroup
{
	font-weight: bold;
}

/***************************
	Form types
***************************/
fieldset.addForm
{
/*
	background-color: #FFFFDD;
	border: 1px solid #FFFF55;
*/
	padding: 10px;
}

fieldset.addForm legend
{
	background-image: url(../../image/silk/bullet_add.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 22px;
}

/***************************
	List styling
***************************/
.odd
{
  	background-color: #fff;
}

.even
{
	background-color: #fafafa;
}

/***************************
	Autocomplete
***************************/
div.autocomplete
{
	border: 1px solid #AAAAAA;
	background-color: #ffc !important;
	color: black !important;
	z-index: 1;
	text-align: left;
}

div.autocomplete ul
{
  	list-style: none;
}

div.autocomplete .selected
{
  	background-color: #ff9;
}

/***************************
	Calendar
***************************/
input.calendar
{
    width: 6em;
}

img.calendar_button
{
    margin-left: 0.5em;
    cursor: pointer;
    border: 0px none;
    vertical-align: middle;
}

img.calendar_button_hover
{
    background: red;
}

.calendar
{
	z-index: 12;
}

/***************************
	Multicolumn groups
***************************/
fieldset.group
{
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
}

fieldset.group h2
{
    width: 11em;
    float: left;
    font-size: 1em;
    font-weight: normal;
}

fieldset.group div
{
    padding-left: 8em;
}

fieldset.group * div
{
    padding-left: 0;
}

fieldset.group p
{
    margin: 0.3em 0;
}

/***************************
	Expanding sections
***************************/
.expandingSection
{
	margin-bottom: 5px;
	padding: 0;
	border: 0;
}
.expandingSection > legend
{
	cursor: pointer;
	background: inherit;
	background-image: url(../../image/silk/bullet_arrow_left.png);
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 22px;
	color: black;
	font-size: inherit;
}
.expandingSectionContent
{
    display: none;
    margin: 10px;
    margin-left: 0px;
    border: 1px solid #DDD;
    padding: 10px;
}

.expandingSection.expanded > legend
{
	background-image: url(../../image/silk/bullet_arrow_down.png);
}

.expandingSection.expanded div.expandingSectionContent
{
    display: block;
}

/***************************
	Tabs
***************************/
.tabContainer
{
	position: relative;
	z-index: 200;
}

.tabs li *
{
	float: none !important;
	display: inline-block;
	vertical-align: middle;
}

.tabs li img
{
	vertical-align: middle;
}

.tabs li a
{
    text-decoration: none;
    color: black;
    -moz-outline: none;
    vertical-align: middle;
}

.tabHelp
{
	display: none;
}

.tab
{
  	cursor: pointer;
}

.loadedInBackgroundTab
{
	position: absolute;
	top:-10000px;
	left:-10000px;

}

#discountManagerContainer .sectionContainer,
#newsletterManagerContainer .sectionContainer
{
	padding: 0;
	background: none;
	border: 0;
}

/**************************
	Translation tabs
***************************/
.languageForm
{
    margin-top: 1em;
    margin-bottom: 0;
    border: 0px none;
    background-color: transparent;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 200;
}

.languageFormCaption
{
    margin-right: 10px;
    display: inline;
    padding: 0.5em 1em 0.5em 1em ! important;
    vertical-align: middle;
    font-size: smaller;
}

.languageTabsContainer
{
   height: 30px;
   position: relative;
   z-index: 10;
}

ul.languageFormTabs
{
    height: 21px;
    width: 100%;
    display: block;
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	padding-top: 10px;
}

ul.languageFormTabs li
{
	list-style-type: none;
}

ul.languageFormTabs li.langTab
{
    display: inline;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: 0px;
    background-color: #f5f5f5;
    margin-left: 2px;
    padding: 4px ! important;
    padding-bottom: 3px !important;
    font-size: 12px;
}

ul.languageFormTabs li.langTab:hover, ul.languageFormTabs li.langTab.active
{
    border-top: 2px solid red;
    background-color: #fafafa;
}

ul.languageFormTabs li.langTab.active
{
    background-color: #FDFDFD;
    font-weight: bold;
	position: relative;
	z-index: 50;
	padding-bottom: 4px !important;
}

.languageFormContent
{
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #FDFDFD;
    position: relative;
}

.languageFormContainer
{
     display: none;
}

.languageFormContainer.active
{
 	display: block;
}

.languageTabsContainer li.moreTabs
{
	background-color: #FDFDFD;
	position: absolute;
	z-index: 60;
	right: 0;
	top: 0;
	height: 25px;
	padding: 0 !important;
	padding-left: 20px !important;
	width: auto !important;
}

.tabContainer ul li.moreTabs.inactive
{
	border: 0;
}

.languageTabsContainer li.moreTabs li
{
	display: none;
}

.languageTabsContainer li.moreTabs li.langTab
{
	display: block;
}

li.langTab.hidden
{
	display: none !important;
}

.moreTabs .moreLink
{
	line-height: 30px;
}

.moreTabsMenu li.hidden
{
	display: block !important;
}

.moreTabsMenu li
{
	white-space: nowrap;
	padding: 3px !important;
}

li.moreTabs
{
	border: 0;
	position: relative;
	padding-left: 3px !important;
	padding-right: 3px !important;
	padding-bottom: 3px !important;
	right: 0;
	top: -2px;
	background-color: #fff;
	margin-right: 0;
	list-style: none;
}

li.moreTabs a.moreTabsLink
{
	font-size: 0.75em;
	text-decoration: none;
}

a.moreTabsLink span
{
	text-decoration: underline;
}

a.moreTabsLink span.downArrow
{
	text-decoration: none;
	font-size: 1.1em;
}

li.moreTabs a
{
	font-weight: bold;
	font-size: 0.85em;
	text-decoration: underline;
}

li.moreTabs ul
{
	height: auto !important;
	padding: 0 !important;
}

li.moreTabs li
{
	float: none !important;
	border: 0 !important;
	background: #fff !important;
	display: block !important;
	margin-right: 0 !important;
	font-weight: normal !important;
}

.tabContainer ul li.moreTabs li
{
	font-size: 0.85em !important;
	padding-left: 10px !important;
}

li.moreTabs .moreTabsMenu
{
	position: absolute;
	left: 0;
	z-index: 100;
	border: 1px solid #aaa;
	background-color: #fff;
}

.moreTabsMenu ul.tabList
{
	height: auto !important;
	max-height: 1000px !important;
}

li.moreTabs li.hidden, li.moreTabs li.hidden *, li.moreTabs li:hover
{
	color: #777;
}

li.moreTabs li:hover
{
	text-decoration: line-through;
}

li.moreTabs li, li.moreTabs li *, li.moreTabs li.hidden:hover
{
	color: #000;
	text-decoration: none;
}

li.moreTabs li:hover
{
	background-color: #eee !important;
}

li.moreTabs .moreTabs
{
	display: none !important;
}

/***************************
	Tree browser
***************************/
.treeBrowser
{
    border: 1px solid #ccc;
    background: #f1f1f1;
    padding-bottom: 5px;
  	height: 360px;
}

.treeContainer {
    position: absolute;
    width: 260px;
}

.containerTableStyle
{
    height: 360px;
    overflow: auto;
    padding-top: 5px;
}

.treeManagerContainer {
    margin-left: 270px;
}

.treePath {
    font-weight: normal;
    padding-bottom: 5px;
    padding-left: 275px;
}

.dragAndDropRow
{
    background-color: darkblue;
    color: white !important;
}

/**************************
	Glossary
**************************/
.acronym
{
    overflow: visible;
}

.acronym
{
    border-bottom: 1px dotted black;
    cursor: help;
}

.acronym a div
{
    display: none;
	background-color: #EEEFFF;
	font-weight: normal;
}

.acronym a:hover
{
    text-decoration: none;
}

.acronym a:hover div
{
    display: block;
    position: absolute;
    border: 2px solid gray;
    padding: 5px;
    left: 0px;
    color: black;
	width: 600px;
	z-index: 10000;
}

.inlineWarning
{
	margin: 1em;
	padding: 0.5em;
	background-color: #ffeeee;
}

/**************************
 * Debuging
 *************************/
#log {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: white;
}

.activeForm_progress {
    padding-right: 20px;
}

/***************************
 * Tree actions
 **************************/
ul.verticalMenu li a
{
	background-repeat: no-repeat;
	background-position: left center;
	color: #3688BA;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	padding-left: 20px;
	padding-top: 2px;
	display: block;
	line-height: 30px;
}

.addTreeNode a
{
	background-image: url('../../image/silk/add.png');
}

.viewTreeNode a
{
	background-image: url('../../image/silk/page_white_code.png');
}

.moveUpTreeNode a
{
	background-image: url('../../image/silk/arrow_up.png');
}

.moveDownTreeNode a
{
	background-image: url('../../image/silk/arrow_down.png');
}

.removeTreeNode a
{
	background-image: url('../../image/silk/delete.png');
}

/***************************
 * Progress bar
 **************************/
.progressBar
{
    width: 250px;
    height: 20px;
    margin-top: 5px;
    border: 1px solid #30A0F9;
    background-color: #A2DAFB;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
}

.progressBarIndicator
{
    position: absolute;
    height: 20px;
    background-color: #30A0F9;
    margin-top: 6px;
    margin-left: 1px;
}

.progressCount, .progressSeparator, .progressTotal
{
    color: white;
    position: relative;
    z-index: 2;
}

/***************************
 * Rounded corners
 **************************/
legend,
.activeGridColumnsSelect,
.activeGrid_loadIndicator div,
.activeGrid_massActionProgress .container,
.wizardProgress li
{
	-moz-border-radius: 4px;
}

li.activeList_even, li.activeList_odd,
fieldset.controls,
li.logEntry,
ul.transactions li,
div.yellowMessage div, div.redMessage div, div.bugMessage div,
.activeGrid .filterMenu,
#langMenu
{
	-moz-border-radius: 7px;
}

ul.languageFormTabs li, .tabList li, .tabs li
{
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
}

#nav li ul
{
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
}

#loginContainer,
#pageContainer
{
	-moz-border-radius: 1em;
}

/***************************
 * Misc
 **************************/
a.external
{
  	background-image: url(../../image/backend/icon/exLink.gif) !important;
  	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 22px;
}

.themePreview
{
	border: 1px solid #eee;
	margin-bottom: 1em;
	cursor: -moz-zoom-in;
}

/* lightbox */
#keyboardMsg
{
	display: none;
}

#overlay
{
	background-image: url(../../image/overlay.png) !important;
	z-index: 50000 !important;
}

#lightbox
{
	z-index: 55000 !important;
}

#confirmations
{
	position: fixed;
	right: 1em;
	top: 1em;
	background: url(../../image/backend/confirmationBackground.png);
	-moz-border-radius: 6px;
	z-index: 10000;
}

.quickEditOuterContainer
{
	background-color: #eff;
	-moz-border-radius: 0 0 10px 10px;
	border-top-width: 0;
	padding: 0.5em;
}

.quickEditOuterContainer,
.activeGrid_highlightQuickEdit,
.quickEditOuterContainer td
{
	border-color: #bcc !important;
}

.quickEditContainer
{
	position:absolute;
	top:0;
	left:0;
	width:90%;
	margin:27px 5% 0 5%;
	z-index:10;
}

.qePrice
{
	width:60px;
}

table.qeOrderPrices,
table.qeProducts
{
	white-space:nowrap;
}

table.qeOrderPrices
{
	margin-bottom:8px;
}

table.qeProducts td{
	padding: 3px;
}

.qeStrong
{
	font-weight:bold;
}
.qePrice,
.qeRight
{
	text-align:right;
}

.quickEditOuterContainer td
{
	border-width: 1px;
	border-style: solid;
}

.quickEditOuterContainer .even
{
	background-color: #eef;
}

.quickEditOuterContainer .odd
{
	background-color: #eff;
}

.quickEditOuterContainer a.cancel
{
	font-size: smaller;
}

.quickEditContainer input.text,
.quickEditContainer input.password,
.quickEditContainer select
{
	margin-top: 2px;
	margin-bottom: 2px;
}

/*************************
	Quick search
*************************/

#SettingsSearchContainer,
#QuickSearchContainer
{
	width: 320px;
}

#QuickSearchQuery
{
	width: 230px;
	font-size: 11px;
}

.quickSearchInput.hasHint
{
	color: #aaa;
	background-image: url(../../image/silk/magnifier.png);
	background-position: 4px center;
	background-repeat: no-repeat;
	text-indent: 20px;
}

#QuickSearchQuery.progressIndicator
{
	padding: 2px;
	height: auto;
}

#QuickSearchContainer
{
	display: inline;
}

#SettingsSearchResult,
#SettingsSearchQuery
{
	width:250px !important;
}

.qsPaginate
{
	margin-top: 4px;
}

.QuickSearchResultOuterContainer
{
	position:absolute;
	right:5px;
	top:38px;
	background-color: white;
	width: 224px;
	border-width: 1px;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	z-index:200 !important;
	text-align: left;
	padding: 7px;
}

#ProductSearchResultOuterContainer
{
	position:static;
}

.QuickSearchResult
{
	position:absolute;
	right:0;
	background-color:white;
	top:38px;
	z-index:200 !important;
}

#QuickSearchResult
{
	padding: 1em;
}

.qsCount
{
	font-size: smaller;
	color: #aaa;
}

.qsResultsContainer li
{
	margin-left: 1em;
}

.qsClassName
{
	margin: 1em 0 0.5em 0;
}

.qsClassName.first
{
	margin-top: 0;
}

.qsResults
{
	display: none;
}

/************************
	Advanced search
*************************/

a.deleteCross
{
	font-weight: bold;
	background: url(../../image/silk/cross.png) center left no-repeat;
	padding-left: 22px;
}

.advancedQueryItems li
{
	list-style-type: none;
}

.value, .value2
{
	width: 150px;
}

/************** Tooltips **************/
#tt {
 position:absolute;
 display:block;
 z-index: 50000;
 }
 #tttop {
 display:block;
 height:5px;
 margin-left:5px;
 overflow:hidden;
 }
 #ttcont {
 display:block;
 padding: 7px;
 margin-left:5px;
 background:#666;
 color:#fff;
 -moz-border-radius: 10px;
 }
#ttbot {
display:block;
height:5px;
margin-left:5px;
overflow:hidden;
}

#tt ul
{
	margin-left: 1em;
}

#tt ul li
{
	list-style-type: disc;
}

.importantVisible
{
	display: block !important;
}

/*** jQuery UI overrides ***/
body.ui-widget, body .ui-widget
{
	font-size: 1em;
}

/*** jQuery multiselect ***/

.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000 }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }