/**
 * IE 6 quirks
 */

html
{
    font-size: 60%;
}

/*************************** 
 	Navigation menu 
****************************/
#nav {
	top: 0;	  
}

#nav li {
	width: 20px;
}

#nav li div {
	width: 20px; 
}

