#catgegoryContainer {
    float: left; 
    width: 260px;
}

#categoryBrowser {

}
#categoryBrowserActions {
    margin-left: 15px; 
    margin-top: 15px;
}

#activeCategoryPath {
    font-weight: normal; 
    padding-bottom: 5px; 
    padding-left: 275px;
}

.managerContainer {
    margin-left: 270px;
}

.tabContainer {
    height: 30px;  
    overflow: hidden
}

#categoryBrowser div.containerTableStyle
{
    height: 300px;
}