.maxFileSize
{
    margin-left: 2em;
    font-size: smaller;
}

.catImageAdd, .prodImageAdd
{
    background-image: url(../../image/silk/image_add.png);     
}


.imageTitle 
{
    font-weight: bold;
    font-size: larger;
    margin: 0 10px;
}

img.image 
{
    cursor: pointer;
}

.activeList_editContainer .container legend 
{
    display: none;
}

.activeList_editContainer .container fieldset legend 
{
    display: block;
}


.main, .supplemental
{
    font-weight: bold;
}

