#catgegoryContainer {
    float: left; 
    width: 260px;
}

#categoryBrowser {

}
#categoryBrowserActions {
}

#activeCategoryPath, #activeProductPath {
    font-weight: normal; 
    padding-bottom: 5px; 
    font-weight: bold;
}

#activeProductName
{
    text-decoration:underline;    
}

.managerContainer {
    margin-left: 270px;
}

#categoryBrowser div.containerTableStyle
{
    height: 300px;
}