.catImageList {
  	margin-top: 17px;
  	width: 600px;
}

.catImageList li {
	padding: 5px;
}

.catImageTemplate img {
  	vertical-align: top;	  
}

.catImageEditForm {

}

.catImageEditContainer {
  	margin-top: 10px;
  	padding-left: 60px;
}

.catImageTitle {
  	font-weight: bold;
  	font-size: larger;
	margin-left: 10px;
	margin-top: 10px;  	
}