/************************
	Index
************************/
#currAddMenuLoadIndicator, #addCurrIndicator
{
  	display: none;
}

#currencyList {
  	width: 300px;
  	cursor: move;
}

#currencyList li {
	margin-bottom: 10px;
	position: static;
}

#currencyList .activeList_icons {
	position: absolute;
	left: 0px;
	width: auto;
}

.currTitle {
  	font-weight: bold;
}

#currencyList .checkbox {
  	margin: 0; 
	margin-left: 2px; 
	float: none;
}

#currencyList .currListMenu {

}

#currDefault {
  	font-weight: bold;
}

.currListContainer {
  	padding-left: 40px;
}

/************************
	Rates
************************/
#currencyRateList {
  	
}

#currencyRateList .title {
  	font-weight: bold;
  	font-size: larger;
}