/************************
	Index
************************/
#currAddMenuLoadIndicator, #addCurrIndicator
{
  	display: none;
}

#currencyList {
  	width: 300px;
}

#currencyList li {
	margin-bottom: 10px;
	position: static;
  	cursor: move;
}

#currencyList .activeList_icons {
	position: absolute;
	left: 0px;
	width: auto;
}

.currTitle {
  	font-weight: bold;
}

#currencyList .checkbox {
  	margin: 0; 
	margin-left: 2px; 
	float: none;
}

#currencyList .currListMenu {

}

#currDefault {
  	font-weight: bold;
}

.currListContainer {
  	padding-left: 40px;
}

/************************
	Rates
************************/
#rates, #saveRates {
	width: 500px;  
}

#currencyRateList {
  	
}

#currencyRateList .title {
  	font-weight: bold;
  	font-size: larger;
}

#currencyRateList input {
  	width: 120px;
  	vertical-align: middle;
}

#currencyRateList label {
  	width: 70px;
  	vertical-align: middle;
  	padding-top: 3px;
}

#rates .feedback {
  	color: red;  	
}

.defaultCurrency {
  	vertical-align: middle;
}

.currListMenu {
  	font-size: smaller;
}

/************************
	Options
************************/
#feedOptions label {
  	width: 30px;
  	padding-right: 10px;
  	position: relative;
}

#feedOptions.disabled {
  	background: #DDDDDD;
}

#feedOptions p {
  	vertical-align: middle;
  	line-height: 27px;
}

#freqLabel {
  	width: 90% !important;
}