/************************
	Index
************************/
#currPageMenu li
{
    background-image: url(../../image/silk/money_dollar.png);    
}

#addCurr {
	margin-bottom: 10px;  
}

#currAddMenuLoadIndicator, #addCurrIndicator
{

}

#currencyList {
  	width: 30em;
}

#currencyList li {
	margin-bottom: 10px;
	position: static;
  	padding: 5px;
}

#currencyList .activeList_icons {
	position: absolute;
	left: 5px;
	width: auto;
}

#currencyList_template
{
  	display: none;
}

.currTitle {
  	font-weight: bold;
}

#currencyList .checkbox {
  	margin: 0; 
	margin-left: 2px; 
	float: none;
}

.currDefault {
  	font-weight: bold;
  	display: none;
}

.currListContainer {
  	padding-left: 50px;
}

.currInactive {
  	display: none;
}

.setDefault, 
.default .currDefault, 
.disabled .currInactive 
{
  	display: inline;  
}

.default .setDefault,
.disabled .currListMenu
{
  	display: none;
}

/************************
	Rates
************************/
#rates, #saveRates {
	width: 500px;  
}

#currencyRateList {
  	
}

#currencyRateList .title {
  	font-weight: bold;
  	font-size: larger;
}

#currencyRateList input.text {
  	width: 120px;
  	vertical-align: middle;
}

#currencyRateList label {
  	width: 70px;
  	vertical-align: middle;
  	padding-top: 3px;
}

#rates .feedback {
  	color: red;  	
}

.defaultCurrency {
  	vertical-align: middle;
}

.currListMenu {
  	font-size: smaller;
}

.currencyPriceFormatting
{
    width: 80%; 
	margin-top: 15px;
}

.currencyPriceSuffix, .currencyPricePrefix
{
    width: 4em;
}

/************************
	Options
************************/
#feedOptions {
	margin-left: 30px;  
}

#feedOptions label {
  	width: 30px;
  	padding-right: 10px;
  	position: relative;
}

#feedOptions.disabled {
  	background: #DDDDDD;
}

#feedOptions p {
  	vertical-align: middle;
  	line-height: 27px;
}

#freqLabel {
  	width: 90% !important;
}

#updateCb, #feedOptions .checkbox {
	width: 20px; 
	height: 20px; 
	margin-right: 10px; 
	vertical-align: middle;  
}

#updateLabel {
  	 width: auto; 
}



#confirmations
{
    position: absolute; 
    top: 45px; 
    right: 10px;
    width: 600px;
}