#tabContainer
{
	display: none;
}

.isDisplayed, .isDisplayedInList, .isSortable
{
	display: none;
}

#tabFieldsContent_2 .isDisplayed,
#tabFieldsContent_2 .isDisplayedInList,
#tabFieldsContent_4 .isDisplayed,
#tabFieldsContent_4 .isDisplayedInList
{
	display: block;
}