/******************
    order list
******************/
#orderGroupsManagerContainer .cell_cb
{
    width: 20px !important;
    text-align: center !important;
}

#orderGroupsManagerContainer th.cell_CustomerOrder_ID2
{
    padding-left: 27px !important;
    width: 5em !important;
}

#orderGroupsManagerContainer th.cell_CustomerOrder_ID2 input
{
    width: 4em !important;
}

.activeGrid th.cell_CustomerOrder_ID2
{
    padding-left: 27px !important;
    width: 5em !important;
}

.cell_User_ID
{
    display: none;   
}
/******************
    overview
******************/
.orderMenu
{
    margin-left: 20px;
}

.order_shippingAddress input, 
.order_billingAddress input,
.order_shippingAddress select, 
.order_billingAddress select, 
.order_status select
{
    width: 10em;
}

.order_shippingAddress, 
.order_billingAddress, 
.order_info, 
.order_status
{
    width: 45%;
}


.order_billingAddress,  .order_status
{   
    margin-left: 10px;
}

.order_shippingAddress, .order_info
{
    float: left;
    margin-right: 10px;
}

#orderGroupsTabContainer
{
    display: none;    
}

#orderManagerContainer
{
    padding: 0;
    border: 0; 
    background-color: transparent;
}