.containerTableStyle
{
    height: auto;
}

.createNewOrder
{
    background-image:  url(../../image/silk/add.png);
}

/******************
    order list
******************/
#orderGroupsManagerContainer
{
	position: relative;
}

#orderGroupsManagerContainer .cell_cb
{
    width: 20px !important;
    text-align: center !important;
}

#orderGroupsManagerContainer th.cell_CustomerOrder_ID2
{
    width: 95px !important;
}

#orderGroupsManagerContainer td.cell_CustomerOrder_ID2
{
    text-align: center;
}

#orderGroupsManagerContainer th.cell_CustomerOrder_ID2 input
{
    width: 4em !important;
}

.cell_User_ID
{
    display: none;
}

.activeGridcolumn_CustomerOrder_ID2
{
    display: none;
}

.activeGridColumns li.detailedExport a
{
	background-image: url('../../image/silk/table_save.png');
}

.tabOrdersContent .activeGridMass select
{
	width: auto;
}

/******************
    overview
******************/
.order_printInvoice
{
	background-image: url(../../image/silk/printer.png);
}

.order_printLabel
{
	background-image: url(../../image/silk/lorry.png);
}

.order_acceptanceStatus
{
    font-size: 120%;
    text-align: center;
    margin-top: 20px;
    display: none;
}

.cancelled .order_acceptanceStatus
{
    display: block;
}

.order_status fieldset
{
    margin-top: 1em;
}

.order_acceptanceStatusValue
{
    font-weight: bold;
}

#dateCreatedLabel
{
width:190px;
}
.orderDate
{
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:22px;
	display:block;
	float:left;
}

.order_editFields
{
	background-image: url(../../image/silk/pencil.png);
	height: 16px;
}

.order_accept
{
	background-image: url(../../image/silk/accept.png);
}

.order_cancel
{
	background-image: url(../../image/silk/cancel.png);
}

.order_unfinalized
{
	background-image: url(../../image/silk/basket_go.png);
	font-weight: bold;
}

.order_recalculateDiscounts
{
	background-image: url(../../image/silk/basket_go.png);
}

.order_addShipment
{
	background-image: url(../../image/silk/package_add.png);
}

.order_addProduct
{
	background-image: url(../../image/silk/cart_put.png);
}

.orderDate ul.menu
{
	border-bottom:0 ;
}


.customFields form,
.customFields .order_cancelEditFields,
.customFields.editing .overview,
.customFields.editing .order_editFields
{
	display: none;
}

.customFields.editing form,
.customFields.editing .order_cancelEditFields
{
	display: inline;
}

.overview td
{
	padding: 0.5em;
}

.overview .attributeList
{
	margin-left: 1em;
}

.order_shippingAddress input.text,
.order_billingAddress input.text,
.order_shippingAddress select,
.order_billingAddress select,
.order_status select
{
    width: 10em;
}

.order_info,
.order_status

{
    width: 45%;
}

.order_shippingAddress,
.order_billingAddress
{
   width: 42%;
}

.addressContainer
{
	width: 50%;
	float:right;
}

.addressContainer label.param
{
	margin-bottom: -5px;
}

.addressContainer label.param:after
{
	content: ":";
}

.orderAddress_edit
{
	width: 350px;
}

.orderAddress_view label:empty
{
	display: none;
}

.order_info
{
	border:0;
	background:inherit;
}

.order_shippingAddress
{
    float: left;
    margin-right: 10px;
}

#orderGroupsTabContainer
{
    display: none;
}

#orderManagerContainer
{
    padding: 0;
    border: 0;
    background-color: transparent;
}

/************************
    Cancelled orders
************************/
#orderManagerContainer.cancelled .order_billingAddress ul.menu,
#orderManagerContainer.cancelled .order_shippingAddress ul.menu,
#orderManagerContainer.cancelled .tabOrderProductsContent ul.menu,
#orderManagerContainer.cancelled .tabOrderProductsContent .activeList_icons,
#orderManagerContainer.cancelled .tabOrderPaymentsContent ul.menu,
#orderManagerContainer.cancelled .orderStatus,
#orderManagerContainer.cancelled .orderShipment_status,
#orderManagerContainer.cancelled .captureMenu
{
    display: none;
}

/************************
    Shopping carts
************************/
#orderManagerContainer.unfinalized #tabOrderPayments,
#orderManagerContainer.unfinalized #tabOrderCommunication,
#orderManagerContainer.unfinalized #tabOrderLog,
#orderManagerContainer.unfinalized .order_status,
#orderManagerContainer.unfinalized .tabOrderProductsContent .orderShipment_report,
#orderManagerContainer.unfinalized .tabOrderProductsContent h2,
#orderManagerContainer.unfinalized .tabOrderProductsContent .shipmentContainer legend,
#orderManagerContainer.unfinalized .tabOrderProductsContent .orderShipment_info,
#orderManagerContainer.unfinalized .tabOrderProductsContent .orderShipment_controls,
#orderManagerContainer.unfinalized .tabOrderProductsContent .orderShipmentsItem_count
{
    /* display: none; */
}

#orderManagerContainer.unfinalized .tabOrderProductsContent .itemCountText
{
    /* display: block; */
}

#orderManagerContainer.unfinalized .tabOrderProductsContent .orderShipmentsItem_info_count
{
    text-align: center;
}

#orderManagerContainer.unfinalized .tabOrderProductsContent ul.orderShipmentsItem
{
    list-style-type: none;
    margin-top: 7px;
}


.quickEditContainerOrder,
.quickEditContainerOrder select
{
	font-size:smaller;
}

ul.orderAddress_showEdit
{
	border-bottom:0 !important;
}

.order_editAddress
{
	background:none;
	font-size:small;
	margin:0 !important;
	padding:0 !important;
}

.order_cancelEditAddress
{
	display:none !important;
}

.singleShipment .orderShipment_status,
.singleShipment legend
{
	display:none;
}

.addProductsContainer a.cancel
{
	font-size:12px !important; /* smaller */
}

.addProductsContainer .tip
{
	font-size:small;
	margin: 0 0 0 170px;
	padding:0;
}

.addProductsContainer
{
	z-index: 20;
}

#ProductSearchResultOuterContainer
{
	position: absolute;
	left: auto;
	top: auto;
	right: auto;
}

.addProductsContainer .qsClassName,
.addProductsContainer .qsCount
{
	display: none;
}

#ProductSearchContainer,
.addProductsContainer .controls
{
	float:left;
}

.addProductsContainer .controls
{
	padding-left:8px;
}

.addProductsContainer .singleShipment
{
	display:none;
}

.menu .orderStatus select
{
	width: auto;
	font-weight: bold;
}

.menu .orderStatus label
{
	display:block;
	float:none;
	font-size:13px;
	margin:-20px 0 -5px;
	padding:0;
	width:auto;
}

.addCoupon
{
	background-image: url(../../image/silk/cut.png);
	padding-left: 19px !important;
}

.tabOrderInfoContent h2
{
	display: none;
}

.order_info .value
{
	width: auto;
}

.invoiceNumber .value
{
	font-weight: bold;
}

.order_info .orderAmount.unpaid .value
{
	color: red;
}

.order_info .orderAmount.unpaid .notPaid
{
	display: block;
}

.order_info .notPaid
{
	float: left;
	margin-left: 15px;
	color: black;
	display: none;
}

.order_info .notPaid input
{
	margin-right: 4px;
}

.qeInvoiceNumber
{
	font-weight: bold;
}

.qeOrderSideMenu
{
	float: right;
	margin-top: 4px;
}

.qeOrderSideMenu ul.menu
{
	font-size: 12px;
	border-bottom-width: 0;
}

.qeOrderSideMenu ul.menu li
{
	display: block;
}

.qeOrderDate
{
	font-weight: bold;
}

.tabOrdersContent .quickEditOuterContainer .controls
{
	display: none;
}

.qeAddresses p
{
	clear: none;
}

.qeProducts
{
	margin-bottom: 0.5em;
}

.stopRebillsLinkContainer
{
	margin-left:10px;
}