.containerTableStyle
{
    height: auto;
}

.createNewOrder
{
    background-image:  url(../../image/silk/add.png);
}

/******************
    order list
******************/
#orderGroupsManagerContainer
{
	position: relative;
}

#orderGroupsManagerContainer .cell_cb
{
    width: 20px !important;
    text-align: center !important;
}

#orderGroupsManagerContainer th.cell_CustomerOrder_ID2
{
    width: 95px !important;
}

#orderGroupsManagerContainer td.cell_CustomerOrder_ID2
{
    text-align: center;
}

#orderGroupsManagerContainer th.cell_CustomerOrder_ID2 input
{
    width: 4em !important;
}

.cell_User_ID
{
    display: none;
}

.activeGridcolumn_CustomerOrder_ID2
{
    display: none;
}

.activeGridColumns li.detailedExport a
{
	background-image: url('../../image/silk/table_save.png');
}

.tabOrdersContent .activeGridMass select
{
	width: auto;
}

/******************
    overview
******************/
.order_printInvoice
{
	background-image: url(../../image/silk/printer.png);
}

.order_acceptanceStatus
{
    font-size: 120%;
    text-align: center;
    margin-top: 20px;
    display: none;
}

.cancelled .order_acceptanceStatus
{
    display: block;
}

.order_status fieldset
{
    margin-top: 1em;
}

.order_acceptanceStatusValue
{
    font-weight: bold;
}

#dateCreatedLabel
{
width:190px;
}
.orderDate
{
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:22px;
	display:block;
	float:right;
}

.order_editAddress, .order_editFields
{
	background-image: url(../../image/silk/pencil.png);
}

.order_accept
{
	background-image: url(../../image/silk/accept.png);
}

.order_cancel
{
	background-image: url(../../image/silk/cancel.png);
}

.order_unfinalized
{
	background-image: url(../../image/silk/basket_go.png);
	font-weight: bold;
}

.order_addShipment
{
	background-image: url(../../image/silk/package_add.png);
}

.order_addProduct
{
	background-image: url(../../image/silk/cart_put.png);
}

.orderDate ul.menu
{
	border-bottom:0 ;
}


.customFields form,
.customFields .order_cancelEditFields,
.customFields.editing .overview,
.customFields.editing .order_editFields
{
	display: none;
}

.customFields.editing form,
.customFields.editing .order_cancelEditFields
{
	display: inline;
}

.overview td
{
	padding: 0.5em;
}

.overview .attributeList
{
	margin-left: 1em;
}

.order_shippingAddress input.text,
.order_billingAddress input.text,
.order_shippingAddress select,
.order_billingAddress select,
.order_status select
{
    width: 10em;
}

.order_shippingAddress,
.order_billingAddress,
.order_info,
.order_status
{
    width: 45%;
}

.order_shippingAddress, .order_info
{
    float: left;
    margin-right: 10px;
}

#orderGroupsTabContainer
{
    display: none;
}

#orderManagerContainer
{
    padding: 0;
    border: 0;
    background-color: transparent;
}

/************************
    Cancelled orders
************************/
#orderManagerContainer.cancelled .order_billingAddress ul.menu,
#orderManagerContainer.cancelled .order_shippingAddress ul.menu,
#orderManagerContainer.cancelled .tabOrderProductsContent ul.menu,
#orderManagerContainer.cancelled .tabOrderProductsContent .activeList_icons,
#orderManagerContainer.cancelled .tabOrderPaymentsContent ul.menu,
#orderManagerContainer.cancelled .orderStatus,
#orderManagerContainer.cancelled .orderShipment_status,
#orderManagerContainer.cancelled .captureMenu
{
    display: none;
}

/************************
    Shopping carts
************************/
#orderManagerContainer.unfinalized #tabOrderPayments,
#orderManagerContainer.unfinalized #tabOrderCommunication,
#orderManagerContainer.unfinalized #tabOrderLog,
#orderManagerContainer.unfinalized .order_status,
#orderManagerContainer.unfinalized .tabOrderProductsContent .orderShipment_report,
#orderManagerContainer.unfinalized .tabOrderProductsContent h2,
#orderManagerContainer.unfinalized .tabOrderProductsContent .shipmentContainer legend,
#orderManagerContainer.unfinalized .tabOrderProductsContent .orderShipment_info,
#orderManagerContainer.unfinalized .tabOrderProductsContent .orderShipment_controls,
#orderManagerContainer.unfinalized .tabOrderProductsContent .orderShipmentsItem_count
{
    /* display: none; */
}

#orderManagerContainer.unfinalized .tabOrderProductsContent .itemCountText
{
    /* display: block; */
}

#orderManagerContainer.unfinalized .tabOrderProductsContent .orderShipmentsItem_info_count
{
    text-align: center;
}

#orderManagerContainer.unfinalized .tabOrderProductsContent ul.orderShipmentsItem
{
    list-style-type: none;
    margin-top: 7px;
}