.customizeControl 
{
	font-size: x-large;
	font-weight: bold;
	display: block;
	padding-left: 22px;
	background-image: url(../../image/silk/stop.png);
	background-position: center left;
	background-repeat: no-repeat;
}

.customizeControl.on
{
	background-image: url(../../image/silk/gif/go.gif);
}

.modeDescr
{
	margin-top: 10px;
	margin-bottom: 30px;
}

#goToFrontend
{
	float: left;
	margin-top: 20px;
	font-size: larger;

	padding-right: 22px;
	background-image: url(../../image/silk/gif/resultset_next.gif);
	background-position: center right;
	background-repeat: no-repeat;
}