.containerTableStyle, #deliveryZoneBrowser
{
    height: 250px;
}

fieldset.checkbox .progressIndicator
{
	float: left;
	height: auto;
	width: auto;
	margin-right: 7px;
	padding: 11px 15px 11px 0pt;
}

.shippingService_add
{
    background-image: url(../../image/silk/lorry_add.png);
}

.shippingService_servicesList li, .shippingService_ratesList li
{
    width: auto;
}

.shippingService_new_rate
{
    background-color: white;
}
.shippingService_ratesList li
{
    width: auto;
	margin: 5px 0px;
}

#newZoneInput {
    width: 135px;
}
#deliveryZoneContent label.setting 
{
	display: block;
	float: none;
	margin-bottom: 0px;
	width: auto;
}

#deliveryZoneManagerContainer .activeList .errorText 
{
    float: none;
}

.shippingService_rateFloatValue
{
    width: 60px;   
}

.shippingService_servicesList .activeList_editContainer { 
    margin: 10px;
}

.addNewTaxRate
{
    background-image: url(../../image/silk/add.png);
}

.taxRate_taxRatesList .activeList_editContainer 
{
     padding: 10px;
}  

.taxRate_taxIDFieldset 
{
    border: 0 none; 
    padding: 10px 0;
}

.countriesAndStates_regionsAndUnions
{
    width: 20em;
    text-align: center;
    margin: 0 6.8em 2em;
    float: right;
}

.countriesAndStates_regionsAndUnions div
{
   display: inline;
}

#zone_-1
{
    font-weight: bold;
}

/* Weight range */
.shippingService_weightRange
{
   position: relative !important;
   display: block; 
   height: 8em;
}

.weightRange
{
    position: absolute; 
	top: 0px;
}


.shippingService_weightRange label
{
    float: none;
}

.UnitConventer_SwitchUnits
{
    position: absolute;
    width: 10em;
    left: 30em;
    top: 2.2em;
}

.UnitConventer_HiValue, .UnitConventer_LoValue
{
   width: 2.5em !important;
}

.UnitConventer_HiUnit, .UnitConventer_LoUnit
{
   padding-left: 3px !important;
   padding-right: 10px !important;
}

.weightRangeEnd, .weightRangeStart
{
   margin-left: 11em;
}

.weightDelimiter
{
   margin-left: 15em;
}

.rangeTypeStatic
{
    padding: 5px 0pt 12px 0pt ! important;
}

.tabDeliveryZoneCountryContent ul.activeList
{
	min-height: 0;
	margin-top: 7px;
}

.countriesAndStates_exampleMask
{
    font-weight: bold; 
	color: #777; 
	font-size: 0.8em;
}
