#newZoneInput {
    width: 135px;
}
#deliveryZoneContent label.setting 
{
	display: block;
	float: auto;
	float: none;
	margin-bottom: 0px;
	width: auto;
}

p.checkbox 
{
	padding-left: 0px;
}

#deliveryZoneManagerContainer .activeList .errorText 
{
    float: none;
}

.shippingService_rateFloatValue
{
    width: 60px;   
}

.shippingService_servicesList .activeList_editContainer { 
    margin: 10px;
}

.taxRate_taxRatesList .activeList_editContainer 
{
     padding: 10px;
}  

.taxRate_taxIDFieldset 
{
    border: 0 none; 
    padding: 10px 0;
}

#zone_-1
{
    font-weight: bold;
}