.shippingService_add
{
    background-image: url(../../image/silk/lorry_add.png);
}

#newZoneInput {
    width: 135px;
}
#deliveryZoneContent label.setting 
{
	display: block;
	float: none;
	margin-bottom: 0px;
	width: auto;
}

#deliveryZoneManagerContainer .activeList .errorText 
{
    float: none;
}

.shippingService_rateFloatValue
{
    width: 60px;   
}

.shippingService_servicesList .activeList_editContainer { 
    margin: 10px;
}

.taxRate_taxRatesList .activeList_editContainer 
{
     padding: 10px;
}  

.taxRate_taxIDFieldset 
{
    border: 0 none; 
    padding: 10px 0;
}

.countriesAndStates_regionsAndUnions
{
    width: 20em;
    text-align: center;
    margin: 0 9em 2em;
}

.countriesAndStates_regionsAndUnions div
{
   display: inline;
}

#zone_-1
{
    font-weight: bold;
}

/* Weight range */
.shippingService_weightRange
{
   position: relative !important;
}

.UnitConventer_SwitchUnits
{
    position: absolute;
    
    left: 30em;
    top: 2.2em;
}

.UnitConventer_HiValue, .UnitConventer_LoValue
{
   width: 2.5em !important;
}

.UnitConventer_HiUnit, .UnitConventer_LoUnit
{
   padding-left: 3px !important;
   padding-right: 10px !important;
}

.weightRangeEnd
{
   margin-left: 11em;
}

.weightDelimiter
{
   margin-left: 15em;
}

.rangeTypeStatic
{
    padding: 5px 0pt 12px 0pt ! important;
}