fieldset.specification
{
  	margin-top: 10px;
}

fieldset.specification .numeric
{
 	width: 100px;
}

.multiValueSelect p.selectMenu
{
	clear: none;
	margin: 10px 0 10px 20px;
	font-size: smaller;
	float: left;
}

fieldset.specification .notDisplayed
{
	color: #aaa;
}

.multiValueSelect div.other
{
	float: left;
}

.multiValueSelect div.other label
{
  	width: auto;
  	margin-right: 10px;
	line-height: 1.8em;
}

.multiValueSelect div.other input, input.other
{
  	width: 200px;
  	font-size: smaller;
}

.multiValueSelect input.filter
{
	font-size: smaller;
	width: 100px;
	margin: 0;
}

.eavCheckboxes
{
	max-height: 200px;
	overflow: auto;
	border: 1px solid #ddd;
	width: 570px;
	padding: 0.5em;
}