.hideTabs .nav-tabs
{
	display: none;
}

/*
fieldset.specification
{
  	margin-top: 10px;
}

fieldset.specification .numeric
{
 	width: 100px;
}

.multiValueSelect .selectMenu
{
	clear: none;
	font-size: smaller;
	text-align: right;
}

fieldset.specification .notDisplayed
{
	color: #aaa;
}

.multiValueSelect input.filter
{
	font-size: smaller;
	width: 100px;
	margin: 0;
	display: inline-block;
}

.eavCheckboxes
{
	max-height: 200px;
	overflow: auto;
	border: 1px solid #ddd;
	padding: 0.5em;
	margin-bottom: 10px;
}

.newOptionValue
{
	margin-top: 10px;
}

input.newOptionValue
{
	margin-bottom: 10px;
	margin-top: 0;
}
*/
