.filterList li
{
 	padding: 5px;
	margin-bottom: 10px; 
  	background-color: #F7F7F7;  		
}

.filterList li.filtergroup_has_no_filters
{
  	background-color: #F7E0E0;  		
}

.filter_step_lev1 {
    background: #fff;
}

.filter_range input
{
    width: 3em;
}

.filter_date_range input
{
    width: 6em;
}

.filter_step_main p {
    position: relative;
}

.filter_step_filters li input
{
   margin: 0px;
}

.filter legend, .filter_date_range, .filter_language_translation, .filter_form_language_translation
{
	display: none;
}
.filter .filter_step_translations_language
{
    background: #ccc;
}

.filter_step_translations_language legend
{
    display: block;
    cursor: pointer;
	cursor: hand;
}

.filter_step_filters li label
{ 
    cursor: default;
}

.filter_step_filters li p
{
   padding: 1px;
   margin: 1px;
}

.filter_title, .filter_count
{
   font-size: 200%;
}

.filter ul
{
    list-style: none;
}

.filter_step_filters_translations li
{
   padding: 4px;
}

.filter_crate_filters a
{
   padding: 2px 10px;
}



/* IE */
.filter_step_translations_language
{
    position: relative;
}
