* 
{
  	margin: 0;
  	padding: 0;
  	border: 0;
}

/* Layout positioning */
html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
}

div#helpContainer {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
}

div#helpFooter {
	position:absolute;
	width:100%;
	bottom:0; /* stick to bottom */
}

/* Formatting */
body {
	background-image: none;  
	background-color: #FFFFFF;
}
p {
  	margin-bottom: 10px;
  	padding-left: 20px;
}
ul, ol {
  	padding: 5px;
  	padding-left: 20px;
  	padding-top: 15px;
	margin-left: 15px;
  	margin-bottom: 10px;
	list-style-type: square;
#	width: 80%;
#	background-color: #EEEEEE;
}

li	{
	margin-bottom: 10px;
	margin-left: 15px;
	
}

h1 {
	font-size: largest; 
	font-weight: bold;
	margin: 0px;
	padding-top: 5px;
	padding-left: 5px;
}

h2 {
	margin-top: 10px;  
	margin-bottom: 10px;  
}

h3 {
	margin-top: 25px;  
	margin-bottom: 10px;  
}

h4 {
	margin-top: 20px;  
	margin-bottom: 10px;  
}

a.external
{
	background-image: url(../../image/silk/link_go.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 17px;	
}

/**************************
	Header
**************************/
#helpHeader {
	padding: 10px; 
	background-color: yellow;
	height: 60px;
}
#helpTitle {
  	font-size: 20px;
  	font-weight: bold;
  	position: absolute;
  	top: 55px;
  	left: 150px;
}
#helpNav {
  	background-color: white;
  	padding: 4px;
}
#helpContent {
  	padding: 10px;
}
#breadCrumbLast {
  	font-weight: bold;
}

/**************************
	Sidebar navigation
**************************/
#helpTopicTree ul, .tasks ul, .seeAlso ul
{
	padding: 0;
	margin-left: 20px;
	width: auto;
	background-color: inherit;
}

#helpTopicTree ul li, .tasks ul li, .seeAlso ul li
{
	margin-bottom: 3px;
}

/**************************
	Footer
**************************/
#helpFooter {
	border-top: 1px solid #AAAAAA;  
	background-color: #DDDDDD;
}
#helpFooterContent {
	text-align: center;
	padding: 5px;
}

/**************************
	Content
**************************/
.tasks, .seeAlso
{
	float: left; 
	width: 97%;
	margin-top: 25px;
	margin-bottom: 25px;
}

.tasks fieldset, .seeAlso fieldset
{
  	float: left;
}

.tasks ul
{
	list-style-type: square;
	margin-left: 30px;
	line-height: 25px;
	font-family: georgia;
}

#helpContent img
{
  	border: 1px solid #CCCCCC;
	#text-align: left;
  	#margin: 8px;
	display:block;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 20px;

}

.current
{
  	font-weight: bold;
}

del, del p {
  	color: #DDDDDD;
  	text-decoration: line-through;
}

code {
	font-family: courier;
	font-size: 12px;
}


ins {
  	font-weight: bold;
  	text-decoration: none;
  	color: rgb(255, 100, 100);
}

p.note {

	margin: 5px;
	font-family: verdana, sans-serif;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
	padding: 5px;
	font-size: 13px;
	color: #465584;
#BLUE	background-color: #F1F7FF;
	background-color: #FCFFDB;
	border: 1px dotted #728DC9;

	  
}

small {

	font-size: 11px;
	
}

