* 
{
  	margin: 0;
  	padding: 0;
  	border: 0;
}

/* Layout positioning */
html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
}

div#helpContainer {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
}

div#helpFooter {
	position:absolute;
	width:100%;
	bottom:0; /* stick to bottom */
}

/* Formatting */
body {
	background-image: none;  
	background-color: #FFFFFF;
}
p {
  	margin-bottom: 10px;
  	padding-left: 20px;
}
ul, ol {
  	margin-left: 20px;
  	margin-bottom: 10px;
	list-style-type: square;

}
h1 {
	font-size: largest; 
	font-weight: bold;
	margin: 0px;
	padding-top: 5px;
	padding-left: 5px;
}

h2 {
	margin-top: 10px;  
	margin-bottom: 10px;  
}

h3 {
	margin-top: 25px;  
	margin-bottom: 10px;  
}

#helpHeader {
	padding: 10px; 
	background-color: yellow;
	height: 60px;
}
#helpTitle {
  	font-size: 20px;
  	font-weight: bold;
  	position: absolute;
  	top: 55px;
  	left: 150px;
}
#helpNav {
  	background-color: white;
  	padding: 4px;
}
#helpContent {
  	padding: 10px;
}
#breadCrumbLast {
  	font-weight: bold;
}
#helpFooter {
	border-top: 1px solid #AAAAAA;  
	background-color: #DDDDDD;
}
#helpFooterContent {
	text-align: center;
	padding: 5px;
}

.tasks, .seeAlso
{
	float: left; 
	width: 97%;
	margin-top: 25px;
	margin-bottom: 25px;
}

.tasks fieldset, .seeAlso fieldset
{
  	float: left;
}

.tasks ul
{
	list-style-type: square;
}

#helpContent img
{
  	border: 1px solid #CCCCCC;
  	margin: 7px;
}

.current
{
  	font-weight: bold;
}

del, del p {
  	color: #DDDDDD;
  	text-decoration: line-through;
}

code {
	font-family: courier;
	font-size: 12px;
}


ins {
  	font-weight: bold;
  	text-decoration: none;
  	color: rgb(255, 100, 100);
}


p.note {

	margin: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 5px;
	font-size: 14px;
	color: #465584;
	background-color: #F1F7FF;
	border: 1px dotted #728DC9;
	  
}


