.orderNoteMenu li
{
    background-image: url(../../image/silk/note_add.png);    
}

ul.notes
{
    list-style-type: none;   
    margin-top: 15px;
}

ul.notes li
{
    margin-bottom: 10px;
    width: 600px;
}

.responseUser
{
    float: left;
}

.noteDate
{
    float: right;
}

.noteText
{
    border: 1px solid #EEEEEE;
    background-color: #FCFCFC;
    padding: 5px;
    margin-top: 5px;
    font-family: "Lucida Console", Monospace;
}

ul.notes li.responder_0 .noteText
{
    border: 1px solid #AA0000;
}
