fieldset.transactionContainer
{
    margin-top: 20px;
    width: 600px;
}

.paymentSummary
{
	padding-top: 15px;
}

.amountSection
{
	border-bottom: 1px solid black;
}

ul.transactions li
{
    padding: 5px;
    margin-top: 10px;
    border: 2px solid #DDDDDD;
    list-style-type: none;  
	position: relative;  
}

ul.transactionMenu li
{
    margin: 0;
}

.transactionAmount.isVoided
{
    text-decoration: line-through;    
}

/* Sale */
.transactionType_0 .transactionAmount
{
    color: green;
}

/* Authorize */
.transactionType_1 .transactionAmount
{
    color: black;
}

/* Capture */
.transactionType_2 .transactionAmount
{
    color: lightgreen;
}

/* Void */
.transactionType_3 .transactionAmount
{
    color: red;
}

.transactionAmount
{
    font-size: 200%;
    font-weight: bold;
}

.transactionMainDetails
{
    float: left;
}

.transactionDetails
{
	float: right;
    text-align: right;
    width: 250px;
}

.gatewayTransactionID
{
	font-size: smaller;
}

.transactionComment
{
	float: left;
	background-color: lightyellow;
	border: 1px solid black;
	margin-top: 5px;
	padding: 5px;
	font-size: smaller;
}

ul.transactionMenu li
{
    border: 0;       
    width: auto;
}

.transactionMenu li a
{
    color: red;
}

/*********************
    transaction action form (capture or void)
*********************/
.transactionForm
{
	position: relative;
	text-align: left;
}

.transactionForm textarea
{
	width: 97%;
	height: 80px;
}

.transactionForm fieldset.controls
{
	padding: 5px;
}

/*********************
    offline payment
*********************/
.addOfflinePayment textarea
{
    width: 300px;
    height: 100px;      
}