.modal-dialog.product-edit
{
	width: 90%;
}

/*************************
	Product form
*************************/
.autoSKU
{
    position: relative;
    top: 5px;
}

.tabProductBasicContent .autoSKU
{
    display: none;
}

.listPrice
{
	margin-left: 1.5em;
}

.listPrice input
{
	font-size: smaller;
}

/********************
	Pricing
*********************/
.productForm .pricing .row
{
    margin-top: 5px;
}

.priceRow .row
{
	display: inline-block;
	margin: 0;
}

.priceRow
{
	white-space: nowrap;
}

.productForm .pricing label
{
	width: auto;
	min-width: 70px;
}

a.setQuantPrice
{
	display: block;
	margin-bottom: 5px;
	font-size: 11px;
}

quantity-price table
{
	margin-top: 1em;
}

quantity-price .quantityLabel,
quantity-price .groupLabel
{
	font-size: smaller;
	font-weight: bold;
}

quantity-price .quantityLabel
{
	float: right;
	margin-bottom: 10px;
	padding-top: 10px;
}

quantity-price .groupLabel
{
	margin-top: 24px;
	float: left;
	padding-left: 5px;
}

quantity-price select
{
	width: 150px;
}

quantity-price td
{
	padding: 0 2px;
}

quantity-price .number
{
	width: 50px;
	font-size: smaller;
	padding: 4px;
}

.quantityRow, .groupColumn
{
	background-color: lightyellow;
}
