/*************************
	Product form
*************************/
fieldset.specification
{
  	margin-top: 10px;
}

fieldset.specification .numeric
{
 	width: 100px; 
}

.multiValueSelect p.selectMenu
{
	clear: both; 	 	
	margin-bottom: 10px;
	font-size: smaller;
}

.multiValueSelect label
{

}

.multiValueSelect div.other label
{
  	width: auto;
  	margin-right: 10px;        
}

.multiValueSelect div.other input
{
  	width: 150px;
}

.unitSwitch
{
	font-size: smaller;
	margin-left: 20px;  
}

.unitDef 
{
	display: none;  
}

/*************************
	Product list
*************************/
.productList, .productHead
{
  	width: 100%;
}

.productList td, .productHead th
{
  	height: 14px;
  	padding: 2px;
  	white-space: nowrap;
}

.productHead th .fieldName
{
	display: none;
}

.headRow 
{
	background-color: #DDDDDD;	  
}

.cell_cb
{
	width: 30px;  
	text-align: center;
}

.cell_sku
{
	width: 80px;  
}

.cell_name
{
	width: 300px;  
}

.cell_manuf
{
	width: 120px;  
}

.cell_price
{
	width: 100px;  
	text-align: center;
}

.cell_stock
{
	width: 80px;  
	text-align: center;
}

.cell_enabled
{
	width: 80px;   
}

.lowStock
{
  	color: red;
}

.notEnabled
{
  	color: red;
}