#tabContainer, 
.container,
.cell_cb,
.cell_stock
{ 
    display: none; 
}
#sectionContainer {
    height: 455px;
    padding: 0px;
    margin-right: 10px;
}

#topShadeContainerRight {
    display: none;
}

body, html {
    padding: 5px;
    background-image: none;
}
