.productRelationship_add
{
    background-image: url(../../image/silk/link_add.png);
}

.productRelationshipGroup_add
{
    background-image: url(../../image/silk/table_add.png);
}


.productRelationshipGroup_title {
    color: grey;
    font-size: 300%;
    font-weight: bold;
}

li.productRelationshipGroup_item {
    border: 2px solid grey;
    margin-bottom: 0.5em;
}

li.productRelationshipGroup_item li {
 	margin-top: 0.5em;
}

.productRelationship_title {
    font-size: 1.5em;
    font-weight: bold;
}

.productRelationship_image
{
    width: 80px;
    float: left;
    text-align: center;
}

.productRelationship_list {
    padding-bottom: 1em;
}

.productRelationship_list .activeList_icons
{
    float: left;
    width: 50px;
    padding-top: 4px;
}

.productRelationship_list li
{
    margin-bottom: 10px;
    padding: 5px;
    width: auto;
}

a.openRelatedProduct
{
    background-image: url(../../image/silk/application_go.png);
    background-repeat: no-repeat;
    padding-left: 22px;
    margin-left: 10px;
}