#productVariationTemplate
{
	display: none;
}

.productVariationTable input,
.productVariationTable select
{
	width: 90px;
	font-size: smaller;
}

.productVariationTable td
{
	padding: 4px;
}

.productVariationTable
{
	border: 1px solid #ddd;
}

.productVariationTable thead
{
	background-color: lightgreen;
}

.productVariationTable td
{
	vertical-align: top;
}

.productVariationTable td.variation span.name,
.productVariationTable td.variation.input input
{
	display: inline;
}

.productVariationTable td.variation input
{
	display: none;
}

.testBg { 	background: red; }