#productVariationTemplate
{
	display: none;
}

.productVariationTable input.text,
.productVariationTable select
{
	width: 90px;
	font-size: smaller;
}

.productVariationTable .price input,
.productVariationTable .shippingWeight input,
.productVariationTable .stockCount input
{
	width: 60px;
}

.productVariationTable td,
.productVariationTable th
{
	padding: 6px;
}

.productVariationTable
{
	border: 1px solid #ddd;
}

.productVariationTable thead
{
	background-color: #eef;
}

.productVariationTable td
{
	vertical-align: middle;
}

.productVariationTable td.image,
.productVariationTable th.image
{
	width: 230px;
}

.productVariationTable td.variation
{
	width: 130px;
}

.productVariationTable td.variation span.name,
.productVariationTable td.variation.input .variationInput
{
	display: inline;
}

.productVariationTable td.variation .variationInput
{
	display: none;
	width: 100px;
}

.productVariationTable .addVariationContainer
{
	text-align: center;
}

.productVariationTable .addVariation
{
	font-weight: normal;
	font-size: 12px;
	background: url(../../image/silk/bullet_add.png) no-repeat center left;
	padding-left: 16px;
}

.productVariationTable .deleteVariation,
.productVariationTable .deleteVariationType
{
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 8px;
	margin-right: 4px;
	opacity: 0.6;
	background-image: url(../../image/silk/cancel.png);
}

.productVariationTable .deleteVariation:hover,
.productVariationTable .deleteVariationType:hover
{
	opacity: 1;
}

.productVariationTable span.name
{
	margin-left: 20px;
}

.productVariationTable td.price,
.productVariationTable td.shippingWeight
{
	text-align: center;
}

.productVariationTable td.price input,
.productVariationTable td.shippingWeight input
{
	display: none;
}

.productVariationTable td.price.input input,
.productVariationTable td.shippingWeight.input input
{
	display: block;
	margin: 0 auto;
}