body
{
	background-image: none;
	height: auto;
	background-color: #fff;
}

#loginContainer
{
	margin: 0pt auto;
	width: 430px;
	border: 5px solid #eee;
	padding: 20px;
}

#logoContainer
{
    text-align: center; 
    padding: 30px;
}

#loginHeader
{
	margin-left: 30px;
	margin-top: 30px;
}

.forgottenPassword
{
    font-size: smaller;
    display: block;
    margin-bottom: 1em;
}