h1
{
	margin-bottom: 6px;
}

#settingsContent label.setting
{
	display: block;
	float: auto;
	float: none;
	margin-bottom: 0px;
	width: auto;
}

#settingsContent select
{
    width: auto;
}

p.checkbox
{
	padding-left: 0px;
}

div.multi
{
    border: 1px solid gray;
    margin: 5px;
    background: #EEE;
}

#settingsBrowser
{
	padding-left: 0px;
}

#settingsBrowser, #settingsBrowser .containerTableStyle
{
    height: 350px;
}

#settingsBrowser .containerTableStyle
{
	padding-left: 5px;
}

.setting
{
    position: relative;
}

.multi
{
    padding: 10px;
}

#themePreview
{
	border: 1px solid #eee;
	margin-bottom: 1em;
	cursor: -moz-zoom-in;
}

#keyboardMsg
{
	display: none;
}