h1
{
	margin-bottom: 6px;
}

#settingsContent label.setting
{
	display: block;
	float: auto;
	float: none;
	margin-bottom: 0px;
	width: auto;
}

#settingsContent select
{
    width: auto;
}

p.checkbox
{
	padding-left: 0px;
}

div.multi
{
    border: 1px solid gray;
    margin: 5px;
    background: #EEE;
}

#settingsBrowser
{
	padding-left: 0px;
}

#settingsBrowser, #settingsBrowser .containerTableStyle
{
    height: 350px;
}

#settingsBrowser .containerTableStyle
{
	padding-left: 5px;
}

.setting
{
    position: relative;
}

.multi
{
    padding: 10px;
}

.siteMapSubmission li
{
	background: url(../../image/silk/tick.png) no-repeat center left;
	padding-left: 22px;
	list-style-type: none;
}

.siteMapSubmission li.submitFail
{
	background-image: url(../../image/silk/cancel.png)
}

.imageSettings fieldset.settings fieldset.settings
{
	float: left;
	width: 22.5%;
	margin-right: 1%;
	padding: 0.5%;
}

.imageSettings fieldset.settings fieldset.settings legend
{
	font-size: 0.85em;
	font-weight: bold;
}