.orderShipment_title 
{
    font-size: 200%;
    color: #777;
    font-weight: bold;
    display: inline;
}


.orderShipmentsItem_title 
{
    font-size: 1em;
    display: inline;
}

.orderShipment
{
    border: 2px solid #777 ! important;
    margin-bottom: 1em;
}

.orderShipmentsItem
{
    padding-bottom: 1em;
    padding-top: 1em;
}

.orderShipment_info
{
    margin-left: 80px; 
    color: #777;
}
.orderShipment_info hr
{
    width: 13em;
}

.orderShipmentsItem_info
{
    margin-left: 60px; 
    color: #777;
}

.orderShipmentsItem_info dt, .orderShipmentsItem_info dd
{
    display: inline; 
}

.orderShipment_info label, .orderShipmentsItem_info dt
{
    width: 9em;
    margin-top: 2px;
    font-weight: bold;
}
