.orderShipmentsItem 
{
   position: relative;
}
/* Product table */
.orderShipmentsItem_info
{
    width: 100%;
    display: inline;
}

.orderShipment_info
{
    display: block;
    padding-left: 40px;
    margin-top: -3px;
   
}
.orderShipmentsItem_info td
{
    padding: 2px 4px;
    border: 1px solid;
}

.orderShipments li
{
    border: 0px none;
}

.orderShipmentsItem_info_sku_td { width: 80px; }
.orderShipmentsItem_info_sku { width: 70px; }

.orderShipmentsItem_info_name_td { width: 100%;  }
.orderShipmentsItem_info_name { width: 400px;  }

.orderShipmentsItem_info_price_td { width: 90px;}
.orderShipmentsItem_info_price { width: 80px;  }

.orderShipmentsItem_info_total_td { width: 90px; }
.orderShipmentsItem_info_total { width: 80px; }

.orderShipmentsItem_info_report_td { width: 100%;  }
.orderShipmentsItem_info_report_td { width: 100%; text-align: right; }


.orderShipmentsItem_info_count_td { width: 70px; }
.orderShipmentsItem_info_count { width: 60px; text-align: right;}

.orderShipmentsItem li
{
    border: 0px none;
    padding: 0px;
    margin: 0px;
    margin-top: -3px;
}