.orderShipments, .orderShipment_report
{
   padding-bottom: 3em;
}

.orderShipment_report
{
   padding-left: 50px;
}

.orderShipment_report_values
{
    width: 100%;
}

.orderShipment_report_values td
{
    border: 1px solid;  
    padding: 2px; 
}

.orderShipment_report_description
{
}

.orderShipment_report_value
{
    width: 90px;
    text-align: right; 
}

.orderShipmentsItem 
{
    padding-top: 15px;
}
/* Product table */
.orderShipmentsItem_info
{
    width: 100%;
    display: inline;
}

.orderShipment_info
{
    display: block;
    padding-left: 40px;
    margin-top: -3px;
}

.orderShipment_info_first_row
{
    border-top: 3px solid black;
}

.orderShipmentsItem_info td
{
    padding: 2px 4px;
    border: 1px solid;
}

.orderShipments li
{
    border: 0px none;
}

.orderShipmentsItem_info_sku_td { width: 80px; }
.orderShipmentsItem_info_sku { width: 70px; }

.orderShipmentsItem_info_name_td { width: 100%;  }
.orderShipmentsItem_info_name { width: 400px;  }

.orderShipmentsItem_info_price_td { width: 90px;}
.orderShipmentsItem_info_price { width: 80px;  }

.orderShipmentsItem_info_total_td { width: 90px; }
.orderShipmentsItem_info_total { width: 80px; }

.orderShipmentsItem_info_report_td { width: 100%;  }
.orderShipmentsItem_info_report_td { width: 100%; text-align: right; }


.orderShipmentsItem_info_count_td { width: 70px; }
.orderShipmentsItem_info_count { width: 60px; text-align: right;}

.orderShipmentsItem li
{
    border: 0px none;
    padding: 0px;
    margin: 0px;
    margin-top: -3px;
}

.orderShipmentsItem_count
{
    width: 50px;
    text-align: right;
}

/* Shipped */
.orderShippedShipments
{
    list-style: none;
}

.orderShippedShipments .orderShipmentsItem
{

    list-style: none;
}

.orderShippedShipments .orderShipmentsItem, 
.orderShippedShipments .orderShipment_info
{
    padding-left: 50px;
}