#addNews
{
	width: 650px;
}

#newsList
{
	width: 700px;
}

#newsList li
{
	padding: 5px;
}

#newsList .activeList_icons 
{
	left: 0px;
	position: absolute;
	width: auto;
}

#newsList li .checkbox
{
	margin-top: 3px;
	margin-right: 5px;
}

.newsTitle
{
	font-weight: bold;
	float: left;
}

.newsDate
{
	font-size: smaller;
	float: right;
}

.newsListContainer
{
	padding-left: 60px;
}

.newsText
{
	display: block;
}