.specField legend
{
    display: none;
}

.specField fieldset
{
    background: #fff;
    margin-right: 1em;
}

.specField_title
{
   font-size: 200%;
}


.specFieldList .activeList_container
{
   padding-left: 80px;
}

.specField_form_values_group div input
{
    width: 10em;
}

.specField_step_values, .specField_step_translations, .specField_step_translations_language
{
	display: none;
}

.specField_language_link
{
    display: inline;
    padding: 0 5px;
}

.specField_change_state
{
    padding: 0 5px;
}



.specField_form_values_value .specField_form_values_default_checkbox
{
    width: auto;
}

#specField_item_new_form
{
    background: #cccccc;
    padding: 5px;
}

.specField_controls
{
    padding-left: 2em;
}

.specField_save
{
    margin: 0;
}


.specField_add_field
{
    white-space: nowrap;
    margin-left: 56px;
}

.specField_values
{
    width: auto !important;
    padding-bottom: 10px;
}



h2.specField_values_title
{
   width: 7em ! important;
}


/* START Values active list */



fieldset.specField_step_values  .activeList_icons
{
    width: 77px;
}

fieldset.group h2
{
    font-size: 1em;
    font-weight: normal;
}

/* END Values active list */


.specField .feedback, .specField .feedback_textarea
{
    visibility: hidden;
    white-space: nowrap;
}

.specField ul
{
    list-style: none;
}