.specField_form_values_group div input
{
    width: 10em;
}

.specField_step_values, .specField_step_translations, .specField_step_translations_language
{
	display: none;
}

.specField_language_link
{
    display: inline;
    padding: 0 5px;
}

.specField_change_state
{
    padding: 0 5px;
}

.specField_change_state_active, .specField_step_translations_language_active
{
    background: yellow;
}

.specField_form_values_value .specField_form_values_default_checkbox
{
    width: auto;
}

.specField_controls
{
	display: none;

}

#specField_item_new_form
{
    background: #cccccc;
    padding: 5px;
}

.specField_controls
{
    padding-left: 2em;
}

.specField_save
{
    margin: 0;
}


.specField_add_field
{
    white-space: nowrap;
    margin-left: 77px;
}

.specField_values
{
    width: auto !important;
}


/* START Values active list*/

.specField_step_values  .feedback
{
    width: 100%;
    left: 0em ! important;
    padding-left: 20px;
    background: url(/public/image/silk/error.png) no-repeat left top;
}


fieldset.specField_step_values  .feedback
{
    width: 18em;
}

fieldset.specField_step_values .activeList_icons_container
{
    float: right;
    width: 16px;
    height: 16px;
    margin: 2px;
    cursor: pointer;
    cursor: hand;
}

fieldset.specField_step_values  .activeList_icons
{
    width: 77px;
}

fieldset.group h2
{
    width: 6em;
    float: left;
    font-size: 1em;
    font-weight: normal;
}
/* END Values active list */