.addTax
{
    background-image: url(../../image/silk/coins.png);
}

#tax_new_form
{
    width: 500px;
}

#tax_taxesList li.activeList_odd,
#tax_taxesList li.activeList_even
{
    margin: 5px;
  	width: 30em;
}

#confirmations
{
    position: absolute; 
    right: 0px; 
    width: 600px;
}