/***************
	editor
****************/
/* popup */
.templateForm .code
{
	height: 80%;
	width: 100%;
}

/* normal */
.templateContent textarea.code
{
	height: 500px;
	width: 900px;
}

.templateContent textarea.body
{
	height: 350px;
	width: 900px;
}

.templateContent .languageForm
{
	margin-top: 2em;
}

.templateForm .yellowMessage, .templateForm .redMessage
{
	width: auto !important; 
	padding: 0 !important;
}

fieldset.controls
{
	margin-top: 15px;
}

.templateBrowser, .containerTableStyle
{
	height: 380px;
}

/***************
	EditArea
****************/
#EditAreaArroundInfos_code
{
	display: none !important;
}

.templateForm .minimenu
{
	float:right;
	margin-top:-38px;
}

#TemplateSearchResultOuterContainer
{
	left:7px !important;
	top:44px !important;
	width:244px;
}

#TemplateSearchResultOuterContainer li a

{
	color: gray
}

#TemplateSearchResultOuterContainer li a strong
{
	color: #00008B;
}

#TemplateSearchQuery
{
	width:240px !important;
}