#templateBrowser
{
  	float: left;
  	width: 250px;
  	height: 400px;
  	overflow: auto;
}

/***************
	editor
****************/
#templateContent
{
	margin-left: 270px;
}

/* popup */
#templateForm #code
{
    height: 80%;
    width: 100%;	
}

/* normal */
#templateContent textarea#code
{
    height: 500px;
    width: 900px;
}

#templateForm .yellowMessage, #templateForm .redMessage
{
	width: auto !important; 
	padding: 0 !important;
}

fieldset.controls
{
	margin-top: 15px;
}

/***************
	EditArea
****************/
#EditAreaArroundInfos_code
{
	display: none !important;
}