/***************
	editor
****************/
/* popup */
#templateForm #code
{
    height: 80%;
    width: 100%;	
}

/* normal */
#templateContent textarea#code
{
    height: 500px;
    width: 900px;
}

#templateForm .yellowMessage, #templateForm .redMessage
{
	width: auto !important; 
	padding: 0 !important;
}

fieldset.controls
{
	margin-top: 15px;
}

#templateBrowser, .containerTableStyle
{
    height: 500px;
}

/***************
	EditArea
****************/
#EditAreaArroundInfos_code
{
	display: none !important;
}