/***************
	editor
****************/
/* popup */
.templateForm .code
{
	height: 80%;
	width: 100%;
}

/* normal */
.templateContent textarea.code
{
	height: 500px;
	width: 900px;
}

.templateContent textarea.body
{
	height: 350px;
	width: 900px;
}

.templateContent .languageForm
{
	margin-top: 2em;
}

.templateForm .yellowMessage, .templateForm .redMessage
{
	width: auto !important; 
	padding: 0 !important;
}

fieldset.controls
{
	margin-top: 15px;
}

.templateBrowser, .containerTableStyle
{
    height: 380px;
}

/***************
	EditArea
****************/
#EditAreaArroundInfos_code
{
	display: none !important;
}
