input.themeName
{
	width: 100%;
	margin-left: -5px;
}

#addForm label,
#copyForm label
{
	float: none;
}

input.color
{
	width: 100px;
	border: 1px solid black;
}

.sizeEntry select
{
	width: auto;
}

.sizeEntry input
{
	width: 60px;
}

.imageOptions
{
	padding-left: 170px;
	margin-top: -7px;
	margin-bottom: 7px;
}

.imageOptions, .imageOptions select
{
	font-size: smaller;
	width: auto;
}

div.repeat
{
	float: left;
	margin-right: 2em;
}

.filesData .fileName
{
font-weight:bold;

}

.thumbnailContainer
{
	vertical-align:text-top;
}

.filesData .thumbnailContainer img
{
	vertical-align:text-top;
}

.filesData .thumbnailContainer
{
	margin-right:6px;
}

.activeList_icons,
.filesData .fileInfoContainer,
.filesData .thumbnailContainer,
.filesData
{
	float:left;
}

.formContainer
{
	clear:both;
}

.activeList_icons
{
	width:50px !important; 
}


.warning.cssAndStyleTab
{
	color:red;
	font-weight:bold;
	padding:10px;
	cursor: pointer;
}