#userGroupsBrowserWithControlls
{
  	float: left;
  	width: 200px;
}

#newZoneInput {
    width: 135px;
}

#userGroupsContent
{
	margin-left: 240px;	
}

#userGroupsContent label.setting 
{
	display: block;
	float: auto;
	float: none;
	margin-bottom: 0px;
	width: auto;
}

#userGroupsManagerContainer, #userManagerContainer
{
    margin-left: 230px;
}

.countriesAndStates_regionsAndUnions  div
{
    float: left;
    width: 25%;
    text-align: left;
}

#userManagerContainer .activeList .errorText, #userGroupsManagerContainer .activeList .errorText 
{
    float: none;
}

.userList input
{
    width: 20px;
}


.cell_cb 
{
    text-align:center !important;
    width:4% !important;
}