#userGroupsBrowserWithControlls
{
    overflow: hidden;
}

#userGroupsWrapper .addTreeNode
{
    background-image: url(../../image/silk/group_add.png) !important;
}

li.addUser
{
    background-image: url(../../image/silk/user_add.png) !important;    
}

#userGroupsContent label.setting 
{
	display: block;
	float: auto;
	float: none;
	margin-bottom: 0px;
	width: auto;
}

#userGroupsBrowser
{
    padding: 0;
}

.cell_User_ID
{
    display: none;
}

#userManagerContainer .activeList .errorText, #userGroupsManagerContainer .activeList .errorText 
{
    float: none;
}

.userList input
{
    width: 20px;
}

.tabPageContainer .treeBrowser
{
    background: inherit;
    border: 0 none;
}

.cell_cb 
{
    width:4%;
}

#userGroupsManagerContainer .containerTableStyle
{
    height: auto ! important; 
}

.treeBrowser
{
    height: auto ;
}

#fromUsersPage .orderList .cell_CustomerOrder_viewOrder input,
#fromUsersPage .orderList .cell_User_email,
#fromUsersPage .orderList .cell_ShippingAddress_countryID,
#fromUsersPage .orderList .cell_ShippingAddress_city,
#fromUsersPage .orderList .cell_ShippingAddress_address1,
#fromUsersPage .orderList .cell_ShippingAddress_postalCode,
#fromUsersPage .orderList .cell_User_firstName,
#fromUsersPage .orderList .cell_User_lastName,
#fromUsersPage .orderList .cell_User_companyName,
#fromUsersPage #orderColumnMenu_8 .column_User_ID, 
#fromUsersPage #orderColumnMenu_8 .column_User_email,
#fromUsersPage #orderColumnMenu_8 .column_CustomerOrder_viewOrder,
#fromUsersPage #orderColumnMenu_8 .column_ShippingAddress_countryID,
#fromUsersPage #orderColumnMenu_8 .column_ShippingAddress_city,
#fromUsersPage #orderColumnMenu_8 .column_ShippingAddress_address1,
#fromUsersPage #orderColumnMenu_8 .column_ShippingAddress_postalCode,
#fromUsersPage #orderColumnMenu_8 .column_User_companyName,
#fromUsersPage #orderColumnMenu_8 .column_User_lastName,
#fromUsersPage #orderColumnMenu_8 .column_User_firstName
{
    display: none;
}

/* Billing and shippind addresses */
.user_billingAddress, .user_shippingAddress {
  display: inline;
}

.sameAddress label{
    width: 90%;
}

fieldset.showPassword
{
    margin-top: -0.4em; 
    margin-bottom: 1em;
}

#userManagerContainer .sameAddress {
  margin-top: 2em;
}

.userPasswordBlock
{
    position: relative;
}

.generatePasswordProgressIndicator
{
    position: absolute; 
	margin: 0; 
	padding: 0.6em 0;
}