*
{
  	margin: 0;
  	padding: 0;
}

body
{
    font-family: Verdana;
    font-size: small;
}

a img
{
    border: 0;
}

h1, h2, h3
{
	font-family: Trebuchet MS;
}

h1
{
	font-size: 200%;
/*	padding-left: 20px; */
	margin-bottom: 10px;
}

h2
{
	margin-top: 10px;
	margin-bottom: 10px;
}

h3
{
	font-size: 1em;
}

td
{
	vertical-align: top;
}

ul 
{
  	padding-left: 12px;
}

p
{
	margin-top: 10px;
	margin-bottom: 10px;
}

table
{
    border-spacing: 0;   
}

.clear
{
    clear: both;
}

/*****************************
	Layout
*****************************/
#container 
{
  	margin: 0 auto;
  	width: 950px;
}

#header 
{
  	padding: 20px;
  	padding-bottom: 10px;
  	padding-top: 10px;
}

#footer 
{
  	border: 1px solid black;
  	padding: 20px;
}

#leftSide 
{
	float:left;
	width: 190px;
}

#rightSide 
{
	float:right;
	width:150px;
	display: none;
}

#clearFooter {
	clear: both;
	height: 1px;
}

#content 
{
	margin-left: 190px;
	padding: 10px;
}

#content.left
{
	margin-left: 0px;
}

#content.right
{
	margin-right: 0px;
}

/*****************************
	Header
*****************************/
#storeName
{
	font-family: Trebuchet MS;    
	font-size: 26px;
	font-weight: bold;
	display: inline;
    position: absolute;
    left: 90px;
    top: -10px;
}

/*****************************
	Boxes
*****************************/
div.box
{
	margin-bottom: 5px;
}

div.box .title
{
  	border-bottom: 1px solid #CCCCCC;
  	border-top: 1px solid #CCCCCC;
  	padding: 3px;
  	background-color: #EEEEEE;
  	text-align: center;
  	font-weight: bold;
}

div.box .content
{
  	padding: 5px;
}

.current 
{
	font-weight: bold;
}

fieldset.container
{
    border: 0;
}

/*****************************
    Tables
*****************************/
.table
{
    border: 1px solid #DDDDDD;
}

.table thead
{
    background-color: #FAFAFA;    
}

.table th
{
    padding: 3px;
}

.table td
{
    padding: 4px;
}

.table tr.odd
{
    background-color: #F6F6F6;
}

.table tr.even
{
    background-color: #EEEEEE;
}

/*****************************
	Quick search
*****************************/
.quickSearch
{
	float: left;
}

.quickSearch .searchQuery
{
	border: 1px solid #DDDDDD;
	width: 180px;
}

.quickSearch .submit
{
	border: 1px solid #DDDDDD;	
}

.quickSearch select
{
    width: auto;
    padding-left: 0px;
}

/*****************************
	Category box
*****************************/
.categories ul ul
{
    list-style-type: disc;   
    margin: 5px;
    margin-left: 0px;
}

#currentSubCategories li
{
    list-style-type: circle;
    margin-bottom: 7px;
}

/*****************************
	Filters
*****************************/
.filterGroup ul
{
	padding: 4px;		
	padding-left: 20px;
	font-size: 90%;
	padding-right: 0;
	width: 95%;
}

.filterGroup h3
{
	margin-top: 3px;
}

.filterGroup .count 
{
	color: #666666;
}

.filterGroup .showAll
{
	list-style: none;
	font-weight: bold;	
}

/*****************************
	Currency switch
*****************************/
.box.currency .content
{
	font-size: smaller;
	text-align: center;	
}

.box.currency .content a
{
	margin-left: 3px;
}

/*****************************
	Breadcrumb
*****************************/
#breadCrumb
{
	float: left;
	width: 100%;
	padding: 5px;
	font-size: smaller;
}

#breadCrumb ul
{
    float: left;
}

#breadCrumb ul li
{
	float: left;
	margin-right: 10px;	
	list-style-type: none;
}

#breadCrumb ul li span.separator
{
	margin-left: 5px;
	font-weight: bold;
}

#breadCrumbCaption
{
    float: left;
    font-weight: bold;
}

/*****************************
	Sub-category list
*****************************/
.subCatName .count
{
    color: #666666;
}

.subCatName
{
    font-size: larger;
    font-weight: bold;
}

.subCatImage img
{
    vertical-align: middle;
}

tr.separator td
{
    height: 10px;   
}

.subCategories td.details
{
    padding-left: 10px;
}

/*****************************
	Product list
*****************************/
ul.productList
{
	list-style: none;		
}

ul.productList li
{
	margin-bottom: 20px;
}

ul.productList .title
{
	display: block;
	margin-bottom: 3px;
	font-size: 105%;
}

ul.productList .spec
{
	font-size: smaller;
	font-weight: bold;
}

ul.productList p.descr
{
    float: left;
}

ul.productList p.image
{
	float: left; 
    margin-right: 8px;
}

ul.productList p.image img
{
    vertical-align: top;
}

/*****************************
	Product page
*****************************/
#productSpecification td
{
    padding: 2px;    
    vertical-align: top;
}

tr.specificationGroup
{
    font-weight: bold;        
}

#relatedProducts li
{
	margin-bottom: 10px;	
	list-style: none;
}

#relatedProducts a.productName
{
	display: block;
}

#moreImages
{
	text-align: center;
}

#moreImages img
{
	border: 1px solid black;
	margin-right: 4px;
	cursor: pointer;
}

#cartLinks
{
	text-align: center;
}

#addToCart
{
	font-weight: bold;	
}

/*****************************
	Shopping cart
*****************************/
#cartStats
{
 	padding-top: 10px;
 	padding-bottom: 10px;
}

.cartListTitle
{
	text-align: left;
}

#cart, #wishList
{
	width: 90%;
}

#cart td, #wishList td
{
	overflow: hidden;
	padding: 3px;
}

.cartControl
{
	width: 120px;
}

.cartControl a
{
	white-space: nowrap;
	font-size: smaller;
	margin-bottom: 5px;
	display: block;
}

.cartQuant
{
	width: 80px;
	text-align: center;
}

.cartPrice
{
	width: 80px;
	text-align: center;
}

.cartName
{
	width: auto;
}

.cartQuant input.text
{
	width: 50px;
}

/*****************************
	Checkout
***************************/
.addressSelector
{
    
}

.addressSelector .selector
{
    vertical-align: middle;    
    text-align: center;
}

.addressSelector .address
{
    padding: 5px;    
}

.addressSelector .address p
{
    margin: 3px;
}

.shipment
{
    width: 70%;    
    border: 1px solid #DDDDDD;
}

.shipment td
{
    text-align: center;  
    width: 12%;
}

.shipment .productName
{
    text-align: left;   
    width: 64%;
}

.shipment .subTotal
{
    font-weight: bold;
    text-align: center;
}

.shipment .subTotalCaption
{
    text-align: right;
}

.shippingMethods
{
    padding-left: 30px;    
    padding-bottom: 40px;    
    clear: both;
}

/* Payments */
#ccExpiryMonth, #ccExpiryYear, #ccType
{
    width: auto;   
}

#ccCVV
{
    width: 4em;
}

#payTotal
{
	font-size: larger;
	padding: 6px;
	background-color: yellow;
	display: inline;
	clear: both;
}

#payTotal .subTotal
{
	font-weight: bold;
}

/*************************** 
	Form styling
***************************/
form
{
     display: inline;
}

form p
{
    position: relative;
    clear: both;
}

.feedback, .feedback_textarea
{
    position: absolute ! important;
    vertical-align: middle;
    margin-left: 10px;
    padding-left: 20px;
    background: url(../../image/silk/error.png) no-repeat left center;
    visibility: hidden;
    white-space: nowrap;
}

fieldset.group
{
    position: relative;
}

form fieldset.group div
{
    width: auto;
}

fieldset
{
    margin: 1em 0;
    padding: 1em;
    background: #f8f8f8;
    margin: auto 0;
    margin-bottom: 10px;
    border: 1px solid #DDD;
}

legend
{
	font-size: 18px;
	color: #30A0F9;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #CCC;
	top: -22px; 
}

label
{
    float: left;
    width: 11em;
    cursor: pointer;
}

p.required label
{
  	font-weight: bold;
}

p.radio, p.checkbox
{
   padding-left: 11em;
}

p.radio label, p.checkbox label
{
    white-space: nowrap;
    margin-top: 3px;
}

label.checkbox, label.radio
{
  	margin-top: 3px;
  	width: auto;
}

input, select, file, form.other
{
    width: 15em;
    font-size: 16px;
    padding: 2px;
    vertical-align: middle;
}

select
{
	padding-left: 0px;
	padding-right: 0px;
}

option
{
	padding-right: 4px;
}

optgroup option 
{
   padding-left: 1em;
   color: black;
   background-color: #ffc;
}

optgroup  
{
   font-style: normal;
   font-weight: bold;
}

textarea
{
    padding: 2px;
    width: 40em;
    height: 10em;
    font-size: 14px;
    font-family: arial, verdana;
    color: #333;
}
.feedback_textarea
{
   line-height: 10em;
}

input.radio, input.checkbox, input.submit, input.button, input.reset
{
    width: auto;
}
input.submit, input.reset {
	text-transform: uppercase;
	font-size: 10px;
	padding: 4px;
}
input.submit {
	background-color: #008cff;
	color: #fff;
	padding-left: 15px;
	padding-right: 15px;
}
input.reset {
	background-color: #ddd;
	color: #666;
}

input.radio, input.checkbox
{
    float: left;
    margin-right: 1em;
    cursor: pointer;
}

input:focus, textarea:focus, select:focus
{
    background: #ffc;
}

input.submit:focus 
{
	color: #008cff;
}

input.required, textarea.required, select.required
{
    border-color: red;
}

formem.required
{
    color: red;
}

label, input, select, form .other, textarea
{
    margin-top: 5px;
    margin-bottom: 5px;
}

a.cancel 
{
 	color: red;
}

fieldset.error, div.error, fieldset.container
{
	padding: 0px;
	margin: 0px;
	position: static; 
	border: 0;
	background-color: inherit;
	background: inherit;
	/* @todo: let's see how this works for IE */
	background: none;
}

.errorText /* , fieldset.error div */
{
	background-color: red;
	float: left; 
	width: auto;
	margin-bottom: 4px;
	margin-top: 0px;
	padding: 3px;
	color: white;
}

.hidden 
{
	display: none;	
}

.visible
{
	display: block;	
}

.progressIndicator {
	padding: 15px;
	width: 30px;
	height: 20px;
	background-image: url(../../image/indicator.gif);
	background-position: center center;
	background-repeat: no-repeat;
	clear: none;
}

p.checkbox label {
    float: none;
    clear: both;
}

/* textarea container */
div.textarea 
{
 	margin-bottom: 7px; 
}

input.wide 
{
  	width: 35em;
}

input.money, input.number
{
  	width: 5em;
}

input.date
{
  	width: 6em;  
}