.specSummary
{
    width: expression(this.clientWidth > 400 ? '400px' : 'auto');
}

.quickSearch .submit
{
    position: relative;
    top: 1px;
}

legend {
    margin: -30px 0 0 0;
    position: fixed;
    line-height: 1.4;
}

.allFilters
{
    margin-top: 20px;
}

#productSpecification td
{
    border: 0;
}

label.checkbox, label.radio
{
  	margin-top: 2px;
  	padding-top: 3px;
}

/* select elements do not respect z-index in IE 6 */
.lightboxOn select
{
	visibility: hidden;
}

table.productGrid
{
	width: auto;
}

#userMenu li
{
    background-repeat: no-repeat;
}

.checkoutHeader,
.checkoutHeader h1
{
    line-height: 40px;
}

* html .rootCategories,
* html .rootCategories *
{
	z-index: 50000 !important;
}

* html .rootCategories li
{
	position: relative;
}

* html .rootCategories .wrapper
{
	left: 0;
	top: 20px;
}

* html .categoryLayoutSwitch
{
	display: none;
}

/*
.rootCategories li *
{
	border: 1px solid red;
	padding: 0 !important;
	margin: 0 !important;
	height: auto !important;
}
*/