*
{
  	margin: 0;
  	padding: 0;
}

/* 100% height layout start >> */
html, body
{
	height: 100%;
}

div#container
{
	position: relative; /* needed for footer positioning*/

	height: auto !important; /* real browsers */
	height: 100%; /* IE6: treated as min-height*/

	min-height: 100%; /* real browsers */
}

div#footer
{
	position: absolute;
	width: 100%;
	bottom: 0; /* stick to bottom */
}

div#content
{
    padding-bottom: 120px;
}
/* << 100% height layout end */

body, h4
{
    font-family: Verdana;
    font-size: small;
}

a
{
	color: #143788;
}

a:hover:active
{
    color: blue;
}

a img
{
    border: 0;
}

h1, h2, h3
{
	font-family: "Trebuchet MS";
	font-weight: normal;
}

h1
{
	font-size: 200%;
	padding-left: 10px;
	margin-bottom: 10px;
}

h2
{
	margin-top: 20px;
	margin-bottom: 12px;
	padding-top: 7px;
	border-top: 1px dashed #AAAAAA;
    font-size: 150%;
}

h3
{
	margin-bottom: 10px;
    margin-top: 7px;
    font-size: 150%;
}

td
{
	vertical-align: top;
}

ul
{
  	padding-left: 12px;
}

p
{
	margin-top: 10px;
	margin-bottom: 10px;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

.clear
{
    clear: both;
    width: 100%;
    height: 1px;
    overflow: hidden;
}

.errorMsg
{
	color: #FF0000;
}

.message
{
	padding: 15px;
	font-weight: bold;
}

div.confirmationMsg
{
    padding: 10px;
}

div.confirmationMsg div
{
    display: inline;
    padding: 5px;
    background-color: #FFFCAC;
    z-index: 0;
}

/*****************************
	Layout
*****************************/
#container
{
  	margin: 0 auto;
  	width: 950px;
}

#header
{
  	padding: 20px;
}

#footer
{
	border-top: 1px solid #DDDDDD;
  	padding: 20px;
  	text-align:center;
}

#leftSide
{
	float: left;
	width: 190px;
	overflow: visible;
	position: relative;
	margin-bottom: 120px;
}

#rightSide
{
	float:right;
	width:150px;
	display: none;
}

#clearFooter {
	clear: both;
	height: 1px;
}

#content
{
	margin-left: 190px;
	padding: 10px;
	padding-top: 0;
}

#content.left
{
	margin-left: 0;
}

#content.right
{
	margin-right: 0;
}

/*****************************
	Header
*****************************/
#header
{
/*    border-top: 1px solid #CCCCCC;   */
    padding-top: 6px;
  	padding-bottom: 0;
}

#storeName
{
	font-family: "Trebuchet MS";
	font-size: 26px;
	font-weight: bold;
	display: inline;
    position: absolute;
    left: 90px;
    top: -10px;
}

/*****************************
	Boxes
*****************************/
div.box
{
	margin-bottom: 5px;
	overflow: visible;
	position: relative;
}

div.box .title
{
  	border-bottom: 1px solid #CCCCCC;
  	border-top: 1px solid #CCCCCC;
  	padding: 3px;
  	background-color: #EEEEEE;
  	text-align: center;
  	font-weight: bold;
  	color: #143788;
}

div.box .content
{
  	padding: 5px;
  	overflow: visible;
}

.currentName
{
	font-weight: bold;
/*    background-image: url(../../image/silk/bullet_blue.png); */
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    margin-left: -20px;
}

li.current
{

}

fieldset.container
{
    border: 0;
}

/*****************************
    Tables
*****************************/
.table
{
    border: 1px solid #DDDDDD;
}

.table thead
{
    background-color: #FAFAFA;
}

.table th
{
    padding: 3px;
}

.table td
{
    padding: 4px;
}

tr.odd
{
    background-color: #F6F6F6;
}

tr.even
{
    background-color: #EEEEEE;
}

/*****************************
	Quick search
*****************************/
#searchContainer
{
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #DDDDDD;
    background: #F7F7F7;
    margin-bottom: 10px;
}

.quickSearch
{
	padding-left: 30px;
	float: left;
}

.quickSearch input, .quickSearch select
{
    font-size: smaller !important;
}

.quickSearch .submit
{
    margin-bottom: 0;
    margin-top: 0;
}

.quickSearch .searchQuery
{
	width: 160px;
}

.quickSearch select
{
    width: auto;
    padding-left: 0;
}

/*****************************
	Category box
*****************************/
.categories ul
{
    margin-left: 0;
    padding-left: 0;
}

.categories .content
{
    background-color: #F6F6F6;
    padding: 12px !important;
    padding-left: 20px !important;
    padding-top: 5px !important;
  	border-bottom: 1px solid #CCCCCC;
}

.categories .content a
{
    color: black;
}

.categories li
{
    margin-top: 5px;
}

.categories ul li
{
    list-style-type: none;
}

.categories ul ul
{
    list-style-type: disc;
    margin-top: 8px;
    margin-left: 0;
    padding-left: 12px;
}

.current ul, .subSubCats
{
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.current ul li, .subSubCats li
{
    list-style-type: none;
    margin-bottom: 7px;

    padding-left: 20px;
    background-image:url(../../image/silk/gif/bullet_arrow_left.gif);
    background-repeat: no-repeat;
    background-position: center left;
}

.categories .count
{

}

/*****************************
	Filters
*****************************/
.filterGroup ul
{
	padding: 4px;
	padding-left: 20px;
	font-size: 90%;
	padding-right: 0;
	width: auto;
}

.filterGroup ul li a
{
    color: #BB5500;
}

.filterGroup ul li
{
    margin-bottom: 2px;
    list-style-type: none;
    padding-right: 1px;
}

.filterGroup h4
{
	margin-top: 3px;
}

.filterGroup .count, .categories .count
{
	color: #666666;
}

.filterGroup .showAll
{
	list-style: none;
	font-weight: bold;
	margin-top: 5px;
	padding-top: 2px;
	background-image: url(../../image/silk/gif/tag_yellow.gif);
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 20px;
	margin-left: -20px;

	z-index: 10;

}

#smallCart
{
    padding-top: 10px;
}

#smallCart a.checkout
{
	background-image: url(../../image/silk/gif/cart_go.gif);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 20px;
}

.logout
{
	margin-top: 0.5em;
	font-size: smaller;
	text-align: left;
}

/*****************************
	Information menu
*****************************/
.informationMenu ul li
{
    list-style-type: none;
    margin-bottom: 5px;
}

/*****************************
	Currency switch
*****************************/
#currency, #language
{
	font-size: smaller;
	text-align: center;
	margin-top: 12px;
	margin-right: 12px;
	float: right;
	font-size: smaller;
}

#currency a, #language a
{
	margin-left: 3px;
}

#language select
{
	width: auto;
	font-size: smaller;
	margin: 0;
}

/*****************************
	Breadcrumb
*****************************/
#breadCrumb
{
	float: left;
	width: 100%;
	padding: 5px;
/*	font-size: smaller; */
}

#breadCrumb ul
{
    float: left;
}

#breadCrumb ul li
{
	float: left;
	margin-right: 10px;
	list-style-type: none;
}

#breadCrumb ul li span.separator
{
	margin-left: 5px;
	font-weight: bold;
}

#breadCrumbCaption
{
    float: left;
    font-weight: bold;
}

/*****************************
	Home (index) page
*****************************/
.newsDate
{
    font-style: italic;
}

.newsReadMore
{
    font-size: smaller;
    padding: 0.5em;
    padding-top: 0;
}

.newsArchive
{
    padding-top: 1em;
}

ul.news
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.news li.newsEntry
{
    margin-top: 0.5em;
    border-bottom: 1px solid #eee;
}

/*****************************
	Sub-category list
*****************************/
.count
{
    color: #666666;
}

.subCatName
{
    font-size: larger;
    font-weight: bold;
}

.subCatImage
{
    vertical-align: middle;
}

tr.separator td
{
    height: 10px;
    padding: 15px;
}

tr.separator div
{
	border-bottom: 1px solid #EEEEEE;
	height: 5px;
	width: 282px;
}

.subCategories
{
    margin-top: 10px;
    margin-left: 20px;
    width: 45%;
    float: left;
}

.subCategories td.subCatImage
{
	padding-right: 10px;
}

.subCategories td.details
{
    padding-left: 20px;
    padding-right: 10px;
    vertical-align: middle;
    height: 140px;
}

.subCategories td.details.verticalSep
{
	border-right: 1px solid #EEEEEE;
}

.subCategories td.details .count
{
    font-weight: normal;
    font-size: smaller;
}

.narrowByCat .subCategories
{
    float: none;
}

.narrowByCat .subCategories td.details
{
    height: auto;
}

ul.subSubCats
{
    margin: 6px;
    margin-top: 12px;
}

li.moreSubCats
{
    font-size: smaller;
}

/*****************************
	Product list
*****************************/
.keywords
{
	font-style: italic;
}

.notFound
{
    margin: 20px;
    background-image: url(../../image/silk/gif/emoticon_unhappy.gif);
    background-repeat: no-repeat;
    background-position: 6px center;
    padding-left: 28px;
}

.notFoundMain
{
    font-weight: bold;
}

.allFilters li
{
	margin-bottom: 5px !important;
}

.allFilters legend
{
	color: black;
	background-color: inherit;
    background-image: url(../../image/silk/gif/zoom.gif);
    background-repeat: no-repeat;
    background-position: 6px center;
    padding-left: 28px;
    margin-left: 5px;
}

.allFilters .filterGroup
{
    float: left;
    width: 30%;
}

.foundCategories
{
	margin-bottom: 1em;
	margin-left: 1em;
}

.page
{
    border: 1px solid #143788;
    padding: 2px 6px;
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
}

.currentPage
{
    background: #143788;
    font-weight: bold;
    color: white;
}

.resultPages .next
{
    background-image: url(../../image/silk/gif/resultset_next.gif);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 22px;
    border: 0;
    text-decoration: underline;
}

.resultPages .previous
{
    background-image: url(../../image/silk/gif/resultset_previous.gif);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 22px;
    border: 0;
    text-decoration: underline;
}

.resultPages
{
    border-top: 1px solid #CCCCCC;
    padding-top: 10px;
}

.resultStats
{
    padding: 10px;
    padding-top: 0;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #CCCCCC;
    font-size: 120%;
}

.resultStats .pagingInfo
{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.resultStats .sortOptions
{
    float: right;
}

#productSort
{
    width: auto;
    font-size: smaller;
}

ul.productList
{
	list-style: none;
}

ul.productList li
{
	margin-bottom: 30px;
}

ul.productList li.featured .title
{
    font-weight: bold;
    background-image: url(../../image/silk/gif/star.gif);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 22px;
}

ul.productList .title
{
	display: block;
	font-size: 120%;
	float: left;
}

ul.productList .spec
{
	font-size: smaller;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 9px;
}

ul.productList .descr
{
    margin-left: 110px;
}

ul.productList .image
{
	float: left;
    margin-right: 8px;
    width: 100px;
    text-align: center;
}

ul.productList .image img
{
    vertical-align: top;
}

ul.productList .order
{
	margin-top: 9px;
}

ul.productList a.addToCart
{
    padding-left: 20px;
    background-image:url(../../image/silk/gif/cart_add.gif);
    background-repeat: no-repeat;
    background-position: center left;
    float: right;
}

.pricingInfo span.price
{
/*
	float: right;
	width: 100px;
*/
}

ul.productList .pricingInfo
{
    float: right;
    white-space: nowrap;
    width: 250px;
    line-height: 1.2em;
}

ul.productList .orderingControls
{
    float: right;
}

.shortDescr
{
	font-size: 90%;
}

.productSeparator
{
    border-bottom: 1px solid #EEEEEE;
    margin-top: 15px;
    margin-bottom: -7px;
    margin-left: 110px;
    margin-right: auto;
}

/*****************************
	Product page
*****************************/
.productIndex h1
{
	width: 600px;
}

.returnToCategory
{
	padding-left: 0;
    margin-bottom: 12px;
}

.returnToCategory a
{
    background-image: url(../../image/silk/gif/resultset_previous.gif);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 18px;
    list-style-type: none;
    margin-left: 0;
    margin-top: 4px;
    font-weight: bold;
}

.specSummary
{
    font-weight: bold;
    float: right;
    background: #FFFCDA;
    padding: 10px;
    font-size: smaller;
    max-width: 300px;
    margin-top: -40px;
    z-index: 10;
}

#mainInfo
{
    clear: right;
}

#mainInfo table
{
	margin-top: 20px;
}

#mainInfo td
{
	padding: 5px;
	white-space: nowrap;
	vertical-align: middle;
}

#mainInfo td.param
{
    text-align: right;
}

#mainInfo td.websiteUrl
{
    border-top: 1px dotted black;
}

.websiteUrl a
{
  	background-image: url(../../image/backend/icon/exLink.gif) !important;
  	background-repeat: no-repeat;
	background-position: right 0px;
	padding-right: 20px;
}

.price
{
	font-weight: bold;
	color: #a52a2a;
}

#mainInfo .price
{
	font-size: larger;
}

.noStock, .lowStock
{
    text-align: center;
    font-size: smaller;
}

#productSpecification table
{
	border: 1px solid #AAAAAA;
	width: auto;
}

#productSpecification td
{
    padding: 5px;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid white;
}

tr.specificationGroup
{
    font-weight: bold;
	font-size: larger;
	background-color: #CCCCCC;
}

tr.specificationGroup td.param
{
	border-right: 0 !important;
}

tr.specificationGroup td.value
{
	border-left: 0 !important;
}

ul.attributeList
{
    padding: 0;
}

ul.attributeList li
{
    background-image: url(../../image/silk/gif/tick.gif);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 22px;
    list-style-type: none;
    margin-left: 0;
}

ul.attributeList.singleValue li
{
    background-image: none;
    padding-left: 0;
}

#relatedProducts a.productName
{
	display: block;
}

#imageContainer
{
	width: 450px;
	float: left;
    text-align: center;
}

#outerImageContainer #imageContainer
{
	width: auto;
	float: none;
}

#lightbox
{
	padding: 2px !important;
}

#keyboardMsg
{
	display: none;
}

#lightboxCaption
{
	font-size: 1.2em;
}

#mainImage
{
    margin: 20px;
}

#largeImage.multipleImages
{
	height: 350px;
}

#largeImage.missingImage
{
	width: 300px;
	height: auto;
}


#moreImages
{
	text-align: center;
}

#moreImages img
{
	border: 1px solid black;
	margin-right: 4px;
	cursor: pointer;
}

.cartLinks
{
	text-align: center;
	padding-top: 0;
	vertical-align: middle;
}

.cartLinks select
{
    width: auto;
    padding: 0;
}

.cartLinks .submit
{
    top: 5px;
    position: relative;
}

td.addToWishList
{
    text-align: right;
    padding-bottom: 30px !important;
}

#addToCart
{
	font-weight: bold;
}

/*****************************
	Users
*****************************/
.forgottenPassword
{
    display: block;
    font-size: smaller;
}

/*****************************
	Shopping cart box
*****************************/
div.checkout a
{
	font-weight: bold;
}

/*****************************
	Shopping cart
*****************************/
#cartItems h2
{
    margin: 0;
}

#cartStats
{
 	padding-top: 10px;
 	padding-bottom: 10px;
}

.cartListTitle
{
	text-align: left;
}

#cart, #wishList
{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}

#wishList
{
    margin-bottom: 15px;
}

#cart td, #wishList td
{
	overflow: hidden;
	padding: 3px;
	vertical-align: middle;
}

.cartControl
{
	width: 120px;
	overflow: hidden;
}

.cartControl a
{
	white-space: nowrap;
	font-size: smaller;
	margin-bottom: 5px;
	display: block;
}

.cartQuant
{
	width: 80px;
	text-align: center;
	padding-bottom: 5px;
}

.cartPrice
{
	width: 100px;
	text-align: center;
	white-space: nowrap;
	padding-bottom: 5px;
}

.subTotalCalc
{
	font-size: smaller;
	font-weight: bold;
	color: #777777;
}

.cartName
{
	width: auto;
}

.cartQuant input.text
{
	width: 50px;
}

.continueShopping
{
    float: left;
    background-image: url(../../image/silk/gif/resultset_previous.gif);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 22px;
    font-weight: bold;
}

.proceedToCheckout
{
    background-color: #DDEEFF;
    background-image: url(../../image/silk/gif/cart_go.gif);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #DDDDDD;
    float: right;
    font-weight: bold;
    padding: 5px 27px 5px 5px;
}

.cartImage
{
	width: 60px;
	padding: 7px !important;
	text-align: center;
}

.cartImage img
{
	vertical-align: middle;
	border: 1px solid #777777;
}

#cartUpdate
{
	text-align: center;
}

#expressCheckoutMethods
{
    padding: 20px;
    text-align: right;
}

/*****************************
	Checkout
***************************/

/* Progress bar */

.checkoutHeader
{
    line-height: 2em;
}

.checkoutHeader h1
{
    float: left;
    line-height: 2em;
}

#checkoutProgress
{
    width: auto;
    text-align: center;
    padding-top: 1em;
    float: right;
	height: 3em;
}

#checkoutProgress a
{
    padding: 10px;
    border: 3px solid #ccc;
    background-color: #eee;
    margin-right: 20px;
}

/* completed steps */
#checkoutProgress a.completed,
.progressPayment a,
#progressCart,
.progressShipping #progressAddress,
.shippingSelected,
.addressSelected
{
    border: 3px solid #ADD8E6 !important;
    background-color: #f8f8f8 !important;
}

/* current step */
.progressPayment #progressPayment,
.progressCart #progressCart,
.progressAddress #progressAddress,
.progressShipping #progressShipping
{
    border: 3px solid #ADD8E6 !important;
    background-color: #FFFCBB !important;
}

.progressOrder
{
    font-size: smaller;
    margin-right: 5px;
}

/* Select address */

.addressSelector .selector
{
    vertical-align: middle;
    text-align: center;
}

.addressSelector a
{
    float: right;
}

.addressSelector .address
{
    padding: 5px;
}

.addressSelector .address p
{
    margin: 3px;
}

/* Shipping method */

#shippingSelect
{
    margin-top: 1.5em;
}

.shipment
{
    width: 70%;
    border: 1px solid #DDDDDD;
}

.userViewOrder .shipment
{
    width: 90%;
}

.shipment td
{
    text-align: center;
    width: 12%;
}

.shipment .productName
{
    text-align: left;
    width: 64%;
}

.shipment .subTotal, #cart .subTotal
{
    font-weight: bold;
	white-space: nowrap;
	text-align: center;
}

.subTotalCaption, .shipment td.tax
{
    text-align: right !important;
}

.shippingMethods
{
    padding-left: 30px;
    padding-bottom: 20px;
    clear: both;
}

/* Payments */
#ccForm
{
    float: left;
    width: 500px;
}

#ccExpiryMonth, #ccExpiryYear, #ccType
{
    width: auto;
}

#ccCVV
{
    width: 4em;
}

a.cvv
{
	font-size: smaller;
}

#payTotal
{
	margin-top: 20px;
}

#payTotal div
{
	font-size: larger;
	padding: 6px;
	background-color: #FFFCAC;
	display: inline;
	margin: 20px;
}

#payTotal .subTotal
{
	font-weight: bold;
}

#payItems
{
	margin-top: 5px;
}

#expressComplete
{
    display: block;
    padding-top: 15px;
    margin-left: 22px;
}

.orderOverviewControls
{
    width: 70%;
    text-align: right;
}

.orderOverviewControls a
{
    margin-bottom: -25px;
}

#overviewAddresses
{
    padding-top: 2em;
    padding-bottom: 2em;
}

.addressContainer
{
    width: 50%;
    float: left;
}

#otherMethods img
{
    vertical-align: middle;
}

#otherMethods a
{
    margin-right: 2em;
}

.checkoutPay h2
{
    margin-bottom: 24px;
}

#cvvHelp
{
    float: left;
    width: 350px;
    padding: 5px;
    margin-left: 20px;
}

#cvvExample
{
    vertical-align: top;
    float: left;
}

#testHandlerWarning
{
    font-size: 90%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid yellow;
    padding: 5px;
    background-color: #FFFCDA;
    margin-top: 15px;
    margin-bottom: 15px;
}

#paymentError .errorMsg
{
    padding-top: 10px;
}

/***************************
	User account
***************************/
.userLogin .failed
{
    margin: 0;
}

ul#userMenu
{
    padding: 0;
}

#userMenu li
{
    margin-bottom: 10px;
    list-style-type: none;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 22px;
}

#userMenu li#homeMenu
{
    background-image: url(../../image/silk/gif/house.gif);
}

#userMenu li#orderMenu
{
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    background-position: bottom left;
    background-image: url(../../image/silk/gif/package.gif);
}

#userMenu li#addressMenu
{
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    background-position: bottom left;
    background-image: url(../../image/silk/gif/book_addresses.gif);
}

#userMenu li#emailMenu
{
    background-image: url(../../image/silk/gif/email_edit.gif);
}

#userMenu li#fileMenu
{
    background-image: url(../../image/silk/gif/disk.gif);
}

#userMenu li#passwordMenu
{
    background-image: url(../../image/silk/gif/key.gif);
}

#userMenu li#signOutMenu
{
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    background-position: bottom left;
    background-image: url(../../image/silk/gif/door_out.gif);
}

#userMenu li.selected
{
    font-weight: bold;
}

#userMenuContainer
{
    padding: 10px;
    float: left;
    background-color: #F7F7F7;
    border: 1px solid #DDDDDD;
    margin-bottom: 30px;
}

#userContent
{
    margin-left: 210px;
}

/***************************
	User addresses
***************************/
div.addressBlock
{
    border: 1px solid #DDDDDD;
    background-color: #FAFAFA;
    float: left;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    width: 230px;
    cursor: pointer;
}

div.addressControl
{
    text-align: right;
    width: 250px;
    margin-bottom: 15px;
    margin-top: 5px;
}

/***************************
	Orders
***************************/
.orderDetails
{
    border: 1px solid #DDDDDD;
    background-color: #FAFAFA;
    float: left;
    width: 700px;
    padding: 10px;
    margin-bottom: 20px;
}

.orderMenu
{
    padding-left: 10px;
}

.orderDetails .orderMenu
{
    float: left;
    width: 200px;
}

.orderDetails .orderContent
{
    margin-left: 220px;
}

.orderMenu ul
{
    list-style-type: none;
    margin: 5px;
    margin-left: 0;
    padding-left: 0;
}

.orderMenu li
{
    padding: 4px;
    margin-left: 0;
    padding-left: 0;
}

.orderMenu .orderTotal
{
    padding-top: 10px;
}

div.orderStatus
{
    padding: 6px;
}

a.invoice, a.viewOrder, a.messages
{
	padding-left: 22px;
	background-image: url(../../image/silk/gif/printer.gif);
	background-position: left center;
	background-repeat: no-repeat;
}

a.viewOrder
{
	background-image: url(../../image/silk/gif/page_white_text.gif);
}

a.messages
{
	background-image: url(../../image/silk/gif/email.gif);
	color: red;
}

p.messages
{
}

.cancelled
{
    color: red;
    font-weight: bold;
}

/***************************
	File downloads
***************************/
ul.downloadFile li
{
    list-style-type: none;
    padding: 4px;
    padding-left: 22px;
    background-image: url(../../image/silk/gif/disk.gif);
    background-position: center left;
    background-repeat: no-repeat;
}

ul.downloadFile li.fileGroup
{
    padding-left: 0;
    background-image: none;
    margin-top: 7px;
    font-weight: bold;
}

/***************************
	Order notes
***************************/
ul.notes
{
    list-style-type: none;
    margin-top: 15px;
    padding-left: 0;
}

ul.notes li
{
    margin-bottom: 10px;
    width: 600px;
}

.responseUser
{
    float: left;
}

.noteDate
{
    float: right;
}

.noteText
{
    border: 1px solid #EEEEEE;
    background-color: #FCFCFC;
    padding: 5px;
    margin-top: 5px;
    font-family: "Lucida Console", Monospace;
}

ul.notes li.responder_1 .noteText
{
    border: 1px solid #AA0000;
}

.noteAbout
{
    border-bottom: 1px solid #999999;
    width: auto;
    padding: 5px;
}

#noteForm
{
    margin-top: 2em;
    display: block;
}

#noteForm label
{
    float: none;
}

/***************************
	Invoices
***************************/
#invoiceHeader
{
    text-align: center;
    border-bottom: 1px solid black;
    position: relative;
    margin-top: 20px;
}

#invoiceLogo
{
    position: absolute;
    left: 0;
    top: 0;
}

#invoice h1
{
    padding-top: 20px;
}

#invoiceContacts h2
{
    border: none;
}

#invoiceDate
{
    padding-bottom: 10px;
}

#invoicePaymentInfo td
{
    padding: 5px;
    width: 300px;
}

td.amount
{
    text-align: center;
}

#invoicePaymentInfo td.amount
{
    width: auto;
}

#invoicePaymentInfo .beforeTaxSubtotal td.amount
{
    border-top: 1px solid black;
}

#invoicePaymentInfo .grandTotal td.amount
{
    border-top: 1px solid black;
    padding-bottom: 10px;
}

#invoicePaymentInfo .amountPaid td
{
    border-top: 1px solid black;
}

#invoicePaymentInfo .grandTotal td.amount
{
    font-weight: bold;
}

#invoicePaymentInfo .amountDue td.amount
{
    font-weight: bold;
}

/***************************
	Customization
***************************/
div.templateLocator:hover
{
	border: 2px solid blue;
	position: relative;
	padding: 5px;
	padding-top: 15px;
	z-index: 2;
}

div.templateLocator span.templateName
{
	display: none;
	position: absolute;
	top: -2px;
	left: -2px;
	background-color: #DDF;
	height: 15px;
	padding: 3px;
	z-index: 1;
	border: 2px solid blue;
	padding-left: 25px;
	background-image: url(../../image/silk/gif/layout_edit.gif);
	background-position: 4px center;
	background-repeat: no-repeat;
}

div.templateLocator:hover > span.templateName:first-child
{
	display: inline;
}

/***************************
	Form styling
***************************/
form
{
     display: inline;
}

form p
{
    position: relative;
    clear: both;
}

.feedback, .feedback_textarea
{
    position: absolute ! important;
    vertical-align: middle;
    margin-left: 10px;
    padding-left: 20px;
    background: url(../../image/silk/gif/error.gif) no-repeat left center;
    visibility: hidden;
    white-space: nowrap;
}

fieldset.group
{
    position: relative;
}

form fieldset.group div
{
    width: auto;
}

fieldset
{
    margin: 1em 0;
    padding: 1em;
    background: #f8f8f8;
    margin: auto 0;
    margin-bottom: 10px;
    border: 1px solid #DDD;
}

legend
{
	font-size: 18px;
	color: #30A0F9;
	padding-left: 10px;
	padding-right: 10px;
	top: -22px;
}

label
{
    float: left;
    width: 156px;
    cursor: pointer;
    padding-right: 6px;
    margin-top: 0;
    margin-bottom: 0;
}

p.required label
{
	font-weight: bold;
}

p.radio, p.checkbox
{
   padding-left: 11em;
}

p.radio label, p.checkbox label
{
    white-space: nowrap;
    margin-top: 3px;
}

label.checkbox, label.radio
{
  	margin-top: 3px;
  	width: auto;
}

input.text, select, file, form.other
{
    width: 15em;
    font-size: 16px;
    padding: 2px;
    vertical-align: middle;
}

label.cancel
{
    float: none;
    position: relative;
    top: -6px;
    padding-left: 0;
}

select
{
	padding: 0;
}

option
{
	padding-right: 4px;
}

optgroup option
{
   padding-left: 1em;
   color: black;
   background-color: #ffc;
}

optgroup
{
   font-style: normal;
   font-weight: bold;
}

textarea
{
    padding: 2px;
    width: 40em;
    height: 10em;
    font-size: 14px;
    font-family: arial, verdana;
    color: #333;
}
.feedback_textarea
{
   line-height: 10em;
}

input.submit
{
    margin-top: 5px;
}

input.radio, input.checkbox, input.submit, input.button, input.reset
{
    width: auto;
}

input.radio, input.checkbox
{
    float: left;
    margin-right: 1em;
    cursor: pointer;
}

input:focus, textarea:focus, select:focus
{
    background: #ffc;
}

input.submit:focus
{
	color: #008cff;
}

input.required, textarea.required, select.required
{
    border-color: red;
}

label, input, select, form .other, textarea
{
    margin-top: 5px;
    margin-bottom: 5px;
}

a.cancel
{
 	color: red;
}

fieldset.error, div.error, fieldset.container
{
	padding: 0;
	margin: 0;
	position: static;
	border: 0;
	background-color: inherit;
	background: inherit;
	/* @todo: let's see how this works for IE */
	background: none;
}

.errorText /* , fieldset.error div */
{
	background-color: #FF0001;
	float: left;
	width: auto;
	margin-bottom: 4px;
	margin-top: 0;
	padding: 3px;
	color: white;
}

.hidden
{
	display: none;
}

.visible
{
	display: block;
}

.progressIndicator {
	padding: 15px;
	width: 30px;
	height: 20px;
	background-image: url(../../image/indicator.gif);
	background-position: center center;
	background-repeat: no-repeat;
	clear: none;
}

p.checkbox label {
    float: none;
    clear: both;
}

label.title
{
    font-weight: bold;
}

label.text
{
    width: auto;
}

/* textarea container */
div.textarea
{
 	margin-bottom: 7px;
}

input.wide
{
  	width: 35em;
}

input.money, input.number
{
  	width: 5em;
}

input.date
{
  	width: 6em;
}