.specSummary
{
    width: expression(this.clientWidth > 400 ? '400px' : 'auto');
}

.quickSearch .submit
{
    position: relative;
    top: 1px;
}

legend {
    margin: -30px 0 0 0;
    position: fixed;
    line-height: 1.4;
}

.allFilters
{
    margin-top: 20px;
}

#productSpecification td
{
    border: 0;
}

label.checkbox, label.radio
{
    margin: 0;
  	margin-top: 6px;
}

/* select elements do not respect z-index in IE 6 */
.lightboxOn select
{
	visibility: hidden;
}

table.productGrid
{
	width: auto;
}