#customizeMenu
{
	position: fixed;
	bottom: 0;
	z-index: 65000;
	background-color: #000;
	color: #fff;
	font-size: 14px;
	width: 100%;
}

#customizeMenuInner
{
    border-top: 2px solid #999999;
    height: 22px;
    padding: 0 4px 4px;
}

#customizeMenu input
{
	font-size: smaller;
	padding: 0;
}

#customizeMsg
{
	position: absolute;
	right: 2px;
	top: 1px;
}

#customizeMsg div
{
	background-color: #666;
	color: white;
	padding: 2px 4px;
	padding-left: 22px;
	background-image: url(../../image/silk/information.png);
	background-position: 4px center;
	border: 1px solid #444;
}

#customizeMsg a
{
	color: white;
	font-weight: bold;
}

.templateLocator.activeTpl #customizeMenu
{
	margin-top: -32px;
	margin-left: -4px;
}

#customizeMenu ul
{
	display: inline;
	margin-left: 2em;
}

#customizeMenu ul li
{
	display: inline;
	padding: 3px;
	background-color: #444;
	border: 2px solid #999;
    -moz-border-radius: 0 0 5px 5px;
    margin-left: 5px;
}

#customizeMenu ul li a
{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
}

#customizeMenu li.active
{
	background-color: #999;
    border-top-width: 0;
	/* border-color: #ddd; */
}

#modeTitle
{
	font-weight: bold;
}

#translationDialog .container
{
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	padding: 10px;
	width: 300px;
}

#trans.text
{
	width: 100%;
}

#defTrans
{
	font-size: smaller;
	color: #CCCCCC;
}

#transFlag
{
	float: right;
}

.menuLoadIndicator {
	border: 1px solid black;
	background-color: white;
	padding: 5px;
	width: 20px;
	height: 20px;
	background-image: url(../../image/indicator.gif);
	background-position: center center;
	background-repeat: no-repeat;
}

.transMode:hover {
  	color: red;
}

#newRuleMenu
{
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    background-color: black;
    height: 315px;
    left: 310px;
    padding: 10px;
    position: absolute;
    top: -335px;
    z-index: 65000;
}

#newRuleMenu label
{
	float: none;
	width: 100%;
}

#newRuleMenu .cssExample
{
	display: block;
	font-size: smaller;
}

#cssSaveIndicator
{
	background-image: url(../../image/indicator_black.gif);
}

#modeExit
{
	left: 25px;
    position: relative;
}