body
{
	margin-top: 30px !important;
}

#customizeMenu
{
	position: fixed;
	top: 0;
	z-index: 65000;
	background-color: #000;
	color: #fff;
	font-size: 14px;
	width: 100%;
}

#customizeMenuInner
{
	height: 22px;
	padding: 4px;
}

#customizeMsg
{
	position: absolute;
	right: 2px;
	top: 1px;
}

#customizeMsg div
{
	background-color: #666;
	color: white;
	padding: 2px 4px;
	padding-left: 22px;
	background-image: url(../../image/silk/information.png);
	background-position: 4px center;
	border: 1px solid #444;
}

.templateLocator.activeTpl #customizeMenu
{
	margin-top: -32px;
	margin-left: -4px;
}

#customizeMenu ul
{
	display: inline;
	margin-left: 2em;
}

#customizeMenu ul li
{
	display: inline;
	padding: 1px 3px;
	background-color: #444;
	border: 1px solid #999;
	margin-left: 1em;
}

#customizeMenu ul li a
{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
}

#customizeMenu li.active
{
	background-color: #999;
	border: 1px solid #ddd;
}

#modeTitle
{
	font-weight: bold;
}

#translationDialog .container
{
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	padding: 10px;
	width: 300px;
}

#trans.text
{
	width: 100%;
}

#defTrans
{
	font-size: smaller;
	color: #CCCCCC;
}

#transFlag
{
	float: right;
}

.menuLoadIndicator {
	border: 1px solid black;
	background-color: white;
	padding: 5px;
	width: 20px;
	height: 20px;
	background-image: url(../../image/indicator.gif);
	background-position: center center;
	background-repeat: no-repeat;
}

.transMode:hover {
  	color: red;
}

#newRuleMenu
{
	position: absolute;
	background-color: black;
	z-index: 65000;
	padding: 10px;
	left: 340px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
}

#newRuleMenu label
{
	float: none;
	width: 100%;
}

#newRuleMenu .cssExample
{
	display: block;
	font-size: smaller;
}

#cssSaveIndicator
{
	background-image: url(../../image/indicator_black.gif);
}