/* general theme overrides/resets */
body, h4
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 85%;
}

h2
{
	border-width: 0;
}

input.submit, input.text, input.password, select, textarea
{
	border: 1px solid;
}

tr.last td
{
	border-bottom: 0;
}

#productSummaryContainer
{
	background-color: transparent;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, #border-color-var
{
	border-color: #CEF1FF;
}

#searchContainer,
div.box .title,
div.box .title div,
.subCategories td.details.verticalSep,
tr.separator div,
#productSpecification table,
a.proceedToCheckout,
#checkoutProgress a
{
	border-width: 0;
}

#searchContainer,
div.box .title,
.subCategories td.details,
.specSummary,
a.proceedToCheckout,
#checkoutProgress a
{
	padding: 0;
}

/* rounded corners */
a.proceedToCheckout span,
#checkoutProgress a span,
.subCategories .subCatContainer .subCatContainer,
#productSpecification tr.last td.value,
.rtl #productSpecification tr.last td.param,
#cart .last .cartQuant, #wishList .last .cartPrice
{
	background-image: url(../image/cornerBottomRight.gif);
	background-position: bottom right;
}

a.proceedToCheckout span span,
#checkoutProgress a span span,
.quickSearch,
.subCategories .subCatContainer,
#productSpecification tr.last td.param,
.rtl #productSpecification tr.last td.value,
#cart .last, #wishList .last
{
	background-image: url(../image/cornerBottomLeft.gif);
	background-position: bottom left;
}

a.proceedToCheckout span span span,
#checkoutProgress a span span span,
.subCategories td.details,
#productPrice td.param,
#productSpecification tr.first td.param,
.rtl #productSpecification tr.first td.value,
#cart .first .cartControl, #wishList .first .cartControl
{
	background-image: url(../image/cornerTopLeft.gif);
	background-position: top left;
}

a.proceedToCheckout span span span span,
#checkoutProgress a span span span span,
.subCategories .subCatContainer .subCatContainer .subCatContainer,
#productSpecification tr.first td.value,
#cart .first .cartQuant, #wishList .first .cartPrice
{
	background-image: url(../image/cornerTopRight.gif);
	background-position: top right;
}

/* background color 1 */
tr.odd,
#searchContainer,
div.box .content,
div.box .title,
#userMenuContainer,
fieldset,
div.addressBlock,
.orderDetails,
.noteText,
#checkoutProgress a,
tr.even td,
.dynamicMenu, .dynamicMenu ul,
.dynamicMenu li:hover li a,
.dynamicMenu li.sfhover li a,
.dynamicMenu li:hover li:hover li a,
.dynamicMenu li.sfhover li:hover li a
{
	background-color: #F3FCFF;
}

/* background color 2 */
tr.odd td,
tr.specificationGroup,
#checkoutProgress a.completed,
.subCategories td.details
{
	background-color:#E6F5FF;
}

/* background color 3 */
thead,
tr.heading td
{
	background-color: #cef1ff;
}

/* background color 4: pink */
a.proceedToCheckout
{
	background-color: #FFF3FC;
}

/* background color 5: light green */
#checkoutProgress a.active,
#checkoutProgress a:hover,
a.proceedToCheckout:hover
{
	background-color: #dfd;
}

div.addressBlock, .table, .shipment, #userMenuContainer, .orderDetails, #searchContainer, div.box .title div
{
	border: 1px solid #A6DAFF
}

div, td, img, input.submit, input.text, input.password, select, textarea
{
	border-color: #cef1ff;
}

/* gradient background */
div.box .title,
tr.heading
{
	background-image: url(../image/boxGradient.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	border: 0;
}

/* links with background icons */
a.addToWishList,
#productToWishList td.value a,
.newsReadMore a
{
	padding-left: 22px;
}

/* right floats */
ul.productList .pricingInfo,
.productGrid .pricingInfo
{
	float: right;
}

/* left floats */
.pricingInfo span.price,
ul.productList .orderingControls,
#checkoutProgress a,
#checkoutProgress span.progressOrder
{
	float: left;
}

/*
	Header
*/

#searchContainer
{
	border-top-width: 1px;
	padding-left: 1em;
	margin-top: 5px;
	-moz-border-radius: 10px;
}

#searchContainer .wrapper
{
	height: 23px;
}

#language
{
	padding-top: 1px;
}

#currency
{
	padding-right: 12px;
}

#breadCrumb
{
	font-size: smaller;
}

#breadCrumbCaption
{
	display: none;
}

#breadCrumb *
{
	color: #999;
}

/*
	Side boxes
*/

div.box
{
	margin-bottom: 10px;
	border-width: 1px;
	-moz-border-radius: 10px;
}

div.box .title div
{
    border-width: 0;
    font-size: 1.05em;
    display: inline;
    background-position: left top;
	padding-left: 22px;
}

div.box .title
{
	-moz-border-radius: 10px 10px 0 0;
	color: #444;
    padding-bottom: 2px;
    padding-top: 4px;
	text-align: left;
	padding-left: 1em;
}

div.box .content
{
	border-top-width: 1px;
	-moz-border-radius: 0 0 10px 10px;
}

/*
	Category list
*/
.subCategories .subCatContainer .subCatContainer .subCatContainer
{
	padding-left: 15px;
	vertical-align: middle;
}

.categories .content
{
    border-bottom-width: 0;
}

ul#dynamicNav
{
	top: -1px;
}

div.dynamicMenu
{
	padding-bottom: 5px;
}

.dynamicMenu li a
{
	width: 171px;
}

/*
	Product list
*/
.categoryLayoutSwitch a
{
	-moz-border-radius: 5px;
}

.categoryLayoutSwitch a:hover
{
	border-color: cyan;
}

.resultStats
{
	font-size: 100%;
}

ul.productList .pricingInfo, .productGrid .pricingInfo
{
	line-height: 2em;
	margin-top: -5px;
	margin-bottom: 5px;
}

.productGrid .pricingInfo
{
	float: none;
	margin: 0 auto;
}

.pricingInfo span
{
	display: none;
}

.pricingInfo span.listPrice
{
	display: block;
	line-height: 1em;
}

.pricingInfo span.price
{
	display: inline !important;
	padding-left: 0.5em;
	float: none;
}

.pricingInfo a.addToCart
{
	float: none;
	line-height: 1.5;
}

ul.productList .image
{
	border-right-width: 1px;
}

ul.productList .addToWishList, #productToWishList td.value a, .productGrid .addToWishList
{
	background-image: url(../../../image/silk/gif/heart_add.gif);
}

.productGrid .orderingControls
{
	margin-top: 0.5em;
	font-size: smaller;
}

.productGrid td
{
    border-width: 0;
}

.compactProductList .productInfo,
.compactProductList .pricingInfo
{
	float: none;
	margin-left: 50px;
	text-align: left;
}

.compactProductList .productInfo
{
	font-size: 0.9em;
}

.compactProductList .pricingInfo .price
{
	width: auto;
	font-size: 80%;
}

/*
	Product page
*/
#productSummaryContainer
{
	margin-top: 0;
}

#mainInfo
{
    padding: 10px;
    margin-top: 0;
}

#largeImage
{
	margin-bottom: 1em;
}

#mainInfo,
#largeImage
{
	border-width: 1px;
	border-color: #aaa;
}

#imageContainer
{
	padding-top: 0;
	padding-left: 0;
}

#mainInfo #productToCart
{
	border-width: 1px;
}

#mainInfo #productToCart td
{
	background-color: #D4FDFF;
    background-image: url("../image/shade.png");
    background-position: left -150px;
    background-repeat: repeat-x;
    border-width: 0;
    padding: 5px;
}

#mainInfo td
{
	padding: 2px;
}

#productMainDetails td
{
	font-size: 0.9em;
}

#productPrice td.value, #productToCart td.value, #productToWishList td.value
{
 	padding-right: 1em;
}

#productPrice td
{
	padding-top: 1em;
}

#productToWishList td.value
{
	text-align: left;
}

#productToWishList td
{
	padding-bottom: 1em !important;
}

tr.specificationGroup
{
	background-repeat: repeat-x;
}

.returnToCategory
{
	display: none;
}

.specSummary
{
	background: transparent;
	float: none;
	margin-top: -5px;
	margin-bottom: 5px;
	width: auto;
	z-index: 0;
}

.tabberlive h2
{
    display: block;
    margin-top: 0;
}

ul.tabbernav li a
{
    -moz-border-radius: 5px 5px 0 0;
}

/*
	Shopping cart
*/
a.proceedToCheckout span
{
	display: block;
}

a.proceedToCheckout span span span span
{
	padding: 10px 27px 10px 10px;
}

.miniCartTotal div
{
	margin-bottom: 5px;
}

a.checkout,
a.addToCart,
#productToCart input.submit
{
    -moz-border-radius: 4px;
    background-color: gold;
    background-image: url("../image/shade.png");
    background-position: center bottom;
    background-repeat: repeat-x;
    border-width: 0;
    font-weight: bold;
    padding: 4px;
}

a.addToCart,
#productToCart input.submit
{
    background-color: lightCyan;
    border: 1px solid lightcyan;
    color: white;
    font-size: 100%;
    padding: 2px 5px;
    text-decoration: none;
    text-transform: uppercase;
}

a.checkout
{
	color: #f8f6cc !important;
}

a.checkout:hover
{
	text-decoration: none !important;
	background-color: orange;
}

a.addToCart:hover,
#productToCart input.submit:hover
{
	background-color: cyan;
}

a.addToCart span
{
	display: inline;
	padding-left: 22px;
	background-image: url("../../../image/silk/gif/cart_add.gif");
}

/*
	Checkout
*/
#checkoutProgress a span
{
	display: block;
}

#checkoutProgress a span span span span
{
	padding: 0 10px;
}

#checkoutProgress a span span span span, #checkoutProgress span.progressOrder
{
	line-height: 40px;
}

/*
	Site news
*/
.newsReadMore a
{
	background-image:url(../../../image/silk/gif/page_white_text.gif);
	padding-top: 4px;
}

.rtl .subCatContainer table
{
	margin-right: 1em;
}

.box.informationMenu li
{
	background-image:url(../../../image/silk/bullet_star.png);
	background-position: left 3px;
    padding-left: 18px;
}

#leftSide a:hover,
#rightSide a:hover
{
	text-decoration: underline;
}

#leftSide a,
#rightSide a
{
    text-decoration: none;
    color: #333333;
}

.subSubCats
{
	display: none;
}

.subCategories .subCatImage
{
    padding: 5px;
    width: 80px;
}

.subCatName
{
    font-size: 105%;
}

.subCategories .details
{
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

.box.miniCart .title div
{
	background-image: url(../../../image/silk/cart.png);
}

.box.categories .title div
{
	background-image: url(../image/categories.png);
}

.box.narrowResults .title div
{
	background-image: url(../../../image/silk/find.png);
}

.box.informationMenu .title div
{
	background-image: url(../../../image/silk/information.png);
}

.box.newsletter .title div
{
	background-image: url(../../../image/silk/email.png);
}

.box.quickNav .title div
{
	background-image: url(../../../image/silk/lightning.png);
}

.box.newestProducts .title div
{
	background-image: url(../../../image/silk/new.png);
}

/* IE */
.compactProductList li { position: static !important; }