body {
  font-size: 12px;
  line-height: 20px;
	padding: 0 0 20px 0;
	margin: 10px;
	color: #333;
	background-color: #fff;
  text-align: left;
  text-indent: 10px;
  font-family: verdana, sans-serif;
}


h2 {
	font-size: 22px;
	color: #9;
	margin: 0 0 5px 0;
	font-family: verdana;
	font-weight: bold;
	margin-top: 10px;
}

h3 {
	color: #000000;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 16px;
	text-align: left;
	font-weight: bold;
	margin-bottom: 5px;	
	}


h4 {
	font-size: 16px;
	color: #000; 990000
	padding: 0;
	margin: 0 0 5px 0;
	font-family: verdana;
}
ul {
	list-style-type: square;
}

li {
	margin-bottom: 10px;
}







