* 
{
  	margin: 0;
  	padding: 0;
}


/**************************
	Layout positioning
**************************/
html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
}

div#helpContainer {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
}

div#helpFooter {
	position:absolute;
	width:100%;
	bottom:0; /* stick to bottom */
}

/**************************
	Formatting
**************************/
body {
	background-image: none;  
	background-color: #FFFFFF;
}
p {
  	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 0px;	
/* 	padding-left: 20px;*/
}

.top {
	margin-top: 40px;
	margin-bottom: 0px;
}

.topP {
	margin-top: 80px;
	margin-bottom: 0px;
}

.subList {
	font-size: 12px;
	list-style-type: circle;
}

ol {
	list-style-type: decimal;
  	padding: 5px;
  	padding-left: 20px;
  	padding-top: 15px;
/*	margin-left: 15px;*/
  	margin-bottom: 10px;
/*	background-color: #F5F5F5;*/
}

ol li {
	margin-bottom: 10px;
	margin-left: 15px;
}

#helpTopicTree ul {
	list-style-type: circle;
}


ul {
  	padding: 5px;
  	padding-left: 20px;
  	padding-top: 15px;
/*	margin-left: 15px;*/
  	margin-bottom: 10px;
	list-style-type: square;
/*	width: 80%;*/
/*	background-color: #EFEFEF; */
}


ul li	{
	margin-bottom: 10px;
	margin-left: 15px;
}

h1 {
	font-size: largest; 
	font-weight: bold;
	margin: 0px;
	padding-top: 5px;
	padding-left: 5px;
}

h2 {
	margin-top: 10px;  
	margin-bottom: 10px;  
}

h3 {
	margin-top: 50px;  
	margin-bottom: 10px;  
}

h4 {
	margin-top: 30px;  
	margin-bottom: 10px;  
}

a {
	text-decoration: none;
	
}

a:hover { 

	text-decoration: underline;

}

a.external
{
	background-image: url(../../image/silk/link_go.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 17px;	
}

a.note
{
	background-image: url(../../image/silk/information.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;	
}

/**************************
	Header
**************************/
#helpHeader {
	padding: 10px; 
	background-color: #FFF9D8;
	height: 60px;
}
#helpTitle {
  	font-size: 20px;
  	font-weight: bold;
  	position: absolute;
  	top: 55px;
  	left: 150px;
}
#helpNav {
  	background-color: white;
  	padding: 4px;
}
#helpContent {
  	padding: 10px;
}
#breadCrumbLast {
  	font-weight: bold;
}

/**************************
	Sidebar navigation
**************************/
#helpTopicTree ul, .tasks ul, .seeAlso ul
{
	padding: 0;
	margin-left: 10px;
	width: auto;
	background-color: inherit;
}

#helpTopicTree ul li, .tasks ul li, .seeAlso ul li
{
	margin-bottom: 3px;
}

/**************************
	Footer
**************************/
#helpFooter {
	border-top: 1px solid #AAAAAA;  
	background-color: #DDDDDD;
}
#helpFooterContent {
	text-align: center;
	padding: 5px;
}

/**************************
	Content
**************************/
.tasks, .seeAlso
{
	float: left; 
	width: 97%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.tasks fieldset, .seeAlso fieldset
{
  	float: left;
}


.tasks ul
{
	list-style-type: square;
	margin-left: 10px;
	line-height: 20px;
}

#image img
{
	padding:5px;
	background:silver;
	border:1px solid black;
}

#helpContent img
{
  	border: 2px solid #CCCCCC;
	#text-align: left;
  	#margin: 8px;
	display:block;
	margin-top: 20px;
	margin-bottom: 20px;
/*	margin-left: 15px;*/

}

.current
{
  	font-weight: bold;
}

del, del p {
  	color: #DDDDDD;
  	text-decoration: line-through;
}

code {
	font-family: courier;
	font-size: 12px;
}


ins {
  	font-weight: bold;
  	text-decoration: none;
  	color: rgb(255, 100, 100);
}

p.note {

	margin: 5px;
	font-family: verdana, sans-serif;
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
	padding: 5px;
	font-size: 13px;
	color: #465584;
	background-color: #F1F7FF;
	width: 96%;
/*	yellow	background-color: #FCFFDB;*/
	border: 1px dotted #728DC9;

	  
}

/**************************
	Glossary
**************************/
a.acronym
{
    border-bottom: 1px dotted black;    
    cursor: help;
    #margin-right: 5px; /* IE */
    color: black !important;
    position: relative;
}

a.acronym div.acronymFull
{
    display: none;
	background-color: #EEEFFF;
}

a.acronym:hover
{
    display: inline;
    text-decoration: none;
}

a.acronym:hover div.acronymFull
{
    display: block;
    position: absolute;
/*  background-color: yellow;*/
    border: 2px solid gray;
    padding: 5px;
    #margin-top: 17px;
    left: 0px;
    white-space: nowrap;
    color: black;
    z-index: 5;
}

/**************************
	Comments
**************************/
#helpComments
{
	background-color: #EEEFFF;
	padding: 10px;
	clear: both;
}

#helpComments form label
{
	margin-top: 5px;
	float: none;	
	display: block;	
}

#commentContainer
{
	list-style-type: none;
	padding-top: 15px;
	padding-left: 0; !important
	margin-left: 0; !important
}

#commentContainer li
{
}

.commentHeader
{
	padding: 5px;	
	clear: both;
	background-color: #DDDDDD;
}

.commentHeader .time
{
	float: right;
	clear: none;
}

.commentHeader .username
{
	display: inline;
	clear: none;
	float: left;
	font-weight: bold;
}

.commentText
{
	padding: 5px;
	clear: both;
}

.commentText textarea
{
	width: 100%;
	height: 250px;
}

small {
	
	color: #247cd4;
	font-size: 11px;
	
}

small:hover {
	
	text-decoration: underline;

}


