.activeList_icons
{
    width: 90px;
}

.singleInput .activeList_icons
{
    display: block;
    float: left;
    padding-top: 8px;
}

.activeList_icons_container
{
    width: 16px;
    height: 16px;
    margin: 2px;
    cursor: pointer;
    cursor: hand;
}

ul.activeList, .activeListGroup
{
    list-style: none;
    position: relative;
	min-height: 20px;
}

.activeList li, .activeListGroup li
{
    padding: 5px; 
    width: auto;    
}

li.activeList_even, li.activeList_odd
{
    list-style: none;
    margin: 5px 10px;
    margin-left: 0;
    white-space: nowrap;
    overflow: hidden;
    background-color: #FAFAFA;
    border: 2px solid #EEEEEE;
}

ul.activeListGroup > li
{
    overflow: visible;
}

.activeList_add_sort li {
    cursor: move;   
}

li.activeList_delete_inProgress 
{
    background-color: #FFE0E0 ! important;
}

li.activeList_edit_inProgress
{
    cursor: auto;
}