.activeGrid
{
    table-layout: fixed;    
}

.activeGrid_loadIndicator
{
	position: absolute; 
	width: 100%; 
	padding-top: 150px; 
	text-align: center;
}

.activeGrid_loadIndicator div
{
	background-color: white; 
	display: inline;
	padding: 10px; 
	border: 1px solid black;
}

.activeGrid td
{
    overflow: hidden;
}

.activeGrid_viewport
{
    margin-right: -17px;
    width: 100%;
}

.activeGrid_highlight
{
  	background: #CCCCCC;
}

.readonlyGrid .cell_cb
{
  	display: none;
}


.activeGrid th input, .activeGrid th select
{
    width: 70%; 
    font-size: smaller; 
    font-weight: bold;
    border: 1px solid #888888 !important;
}

.activeGrid th select
{
	width: 80%;
}

.activeGrid th 
{
	text-align: left;
}

.activeGrid th img
{
	vertical-align: middle;
}

.activeGrid_filter_blur
{
    background-color: #EEEEEE;
    border: 0 !important;
}

.activeGrid_filter_select
{
	font-weight: normal !important;	
}

.activeGrid th, .activeGrid td
{
  	height: 23px;
  	padding: 2px;
  	white-space: nowrap;
}

.activeGrid th .fieldName
{
	display: none;
}

.activeGrid th
{
	background-color: #DDDDDD;	  
    overflow: hidden;
}