.activeList_icons
{
    float: left;
    width: 80px;
  	vertical-align: top;
  	display: block;
}

.activeList_icons_container
{
    float: right;
    width: 16px;
    height: 16px;
    margin: 2px;
	cursor: pointer;
	cursor: hand;
}

ul.activeList
{
    list-style: none;
}

.activeList li
{
    clear: both;
  	list-style: none;
}


/*
 * Do not delete this rule as it fixes bug in explorer version.
 * For more details ActiveList::decorateLi() function in ActiveList.js
 */
.activeList .ignore *
{
}
