.activeGrid
{
    table-layout: fixed;   
	width: 100%;  
	height: 100%;
	border: 2px solid #CCC;
	border-right: 1px solid #CCC;
}

.activeGrid_loadIndicator
{
	position: absolute; 
	width: 100%; 
	padding-top: 200px; 
	text-align: center;
}

.activeGrid_loadIndicator div
{
	background-color: white; 
	display: inline;
	padding: 10px; 
	border: 1px solid black;
}

.activeGrid td
{
    overflow: hidden;
}

.activeGrid_viewport
{
    margin-right: -17px;
    width: 100%;
}

.activeGrid_highlight
{
  	background: #CCCCCC;
}

.readonlyGrid .cell_cb
{
  	display: none;
}

.activeGrid .cell_cb
{
    padding: 0;
    text-align: center;
}

.activeGrid .cell_cb input
{
    width: auto;
    float: none;
    padding: 0;
    margin: 0;
}

.activeGrid th input, .activeGrid th select
{
    width: 70%; 
    font-size: smaller; 
    font-weight: bold;
    border: 1px solid #888888;
    float: left;
}

.activeGrid th.cellt_numeric input
{
    width: 50%;
}

.activeGrid th select
{
	width: 80%;
}

.activeGrid th 
{
	text-align: left;
}

.activeGrid th img
{
	vertical-align: middle;
}

.activeGrid_filter_blur
{
    background-color: #EEEEEE;
    border: 0;
}

.activeGrid_filter_select
{
	font-weight: normal;	
}

.activeGrid th, .activeGrid td
{
  	height: 23px;
  	padding: 2px;
  	white-space: nowrap;
}

.activeGrid th .fieldName
{
	display: none;
}

.activeGrid th
{
	background-color: #DDDDDD;	  
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    padding: 3px;
}

.activeGrid .headRow
{
    height: 23px;
}

.activeGrid select, .activeGrid input
{
    margin: 0;
}

.activeGrid .headRow .cell_cb
{
    text-align: center;
    padding: 0;
}

.activeGrid .headRow .rangeTo
{
    font-weight: normal;
    font-size: smaller;
}

.activeGrid th .filterIcon
{
    margin-top: 2px;
    margin-right: 2px;
    float: left;
}

.activeGrid th:hover
{
    background-color: #E5E5E5;   
}

/***********************
    Sort preview icon
***********************/
.activeGrid th .sortPreview, .activeGrid th .sortImg
{
    position: absolute;
    right: 5px;
    margin-top: 2px;
}

.activeGrid th:hover .sortImg, .activeGrid th .sortPreview
{
    display: none;
}

.activeGrid th:hover .sortPreview
{
    display: block;
}

/***********************
    Filter menu
***********************/
.activeGrid .filterMenuContainer
{
    float: left;
    position: relative;
    z-index: 65000;
}

.activeGrid .filterMenu
{
    display: none;
    position: absolute; 
    margin-top: 18px;
    margin-left: -20px;
    left: 0;
    z-index: 50000;

    border: 1px solid black; 
    background-color: white;
    padding: 5px;
}

.activeGrid .filterMenuContainer:hover .filterMenu, .filterMenu:hover
{
    display: block;
}

.activeGrid th .filterMenu li
{
    padding: 5px;    
    list-style-type: none;
    font-weight: normal;
    padding-right: 25px;
}

.activeGrid th .filterMenu li:hover
{
    background-color: #eee;
}

.activeGrid th .filterMenu span.sign
{
    float: left;
    width: 22px;
    font-weight: bold;
}

/***********************
    Range filter
***********************/
.activeGrid th .rangeFilter
{
    white-space: nowrap; 
    float: left;
}

.activeGrid th .rangeFilter input
{
    width: 30px;    
    font-weight: normal;
}

.activeGrid th .rangeFilter input, .activeGrid th .rangeFilter span
{
    float: left;   
}

.activeGrid th .rangeFilter .rangeTo
{
	padding: 2px;
	padding-top: 6px;
}

/***************************************
	Column selector
***************************************/
.activeGridColumns
{
	margin-bottom: -7px;
	padding-top: 5px;	
	text-align: right;
}

.activeGridColumns a
{
	background-image: url('../../image/silk/table_add.png');	
	padding-left: 22px;
	background-repeat: no-repeat;
	top: 5px;
}

.activeGridColumnsSelect
{
    background-color: white; 
	border: 1px solid black; 
	text-align: center; 
	white-space: nowrap; 
	width: 250px;
	position: absolute;
	right: -250px;
	top: -385px;
	min-height: 370px;
}

.activeGridColumnsSelectControls
{
    padding: 5px; 
	position: static; 
	width: 100%;
}

.activeGridColumnsList
{
    padding: 10px; 
	background-color: white; 
	max-height: 300px; 
	overflow: auto; 
	text-align: left;
}

.activeGridControls
{
	position: relative !important;
}

.activeGridMass
{
    float: left; 
    text-align: right; 
}

.activeGridItemsCount
{
    position: absolute;
    bottom: 4px;
    right: 0;
    text-align: right; 
}

.activeGridColumnsRoot
{
    left: -250px; 
	position: absolute; 
	z-index: 5; 
	width: auto; 
}