.activeList_icons
{
    width: 90px;
}

.activeList_icons_container
{
    width: 16px;
    height: 16px;
    margin: 2px;
	cursor: pointer;
	cursor: hand;
}

ul.activeList
{
    list-style: none;
}

ul.activeList li
{
  	padding: 3px;
}

li.activeList_odd, .activeList_even
{
    list-style: none;
    border: 1px solid #b3d4ef;
    margin-top: 2px;
}

li.activeList_odd
{
    background: #F0F0FF;
}

.activeList_even
{
    background: #EFF4F6;
}

li.activeList_even, li.activeList_odd {
  	border: 2px solid #EEEEEE;
  	background: #EFF4F6;
}