.managerContainer {
	position: relative;
}

.sectionContainer
{
	position: relative;
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #fdfdfd;
	/*margin-top: -1px; */
}

.tabContainer ul.tabList li.tab.hidden
{
	display: none;
}

.ui-tabs .sectionContainer
{
	border: 0;
}