


/***************************************************
 * backend\Backend.css
 ***************************************************/

* 
{
  	margin: 0;
	padding: 0;
}

html
{
    font-size: 67.5%;
}

body {
	font-family: arial, verdana;
	font-size: 1.4em;
	color: #333;
	margin: 0px;
	background-color:#E6E6E6;
	background-image:url(../../image/backend/layout/workarea_shade_vertical_wide.jpg?1185801191);
	background-position: right 200px;
	background-repeat: repeat-y;
}

table 
{
  	border-collapse: collapse;
}

a img 
{
  	border: 0;
}

a, a:visited
{
  	color: blue;
}

h1
{
	margin-bottom: 3px;
}

/*************************** 
	Common classes 
***************************/
.disabled, .disabled * {
  	color: #AAAAAA;
}

.menuFieldSet {
  	display: inline;
  	width: auto;
  	padding: 10px;
}

.menuFieldSet legend {
	padding: 3px;
}


div.tip {
  	padding: 5px;
  	margin: 10px;
  	margin-left: 0px;
}

div.tip img {
	vertical-align: middle; 
	cursor: pointer;
}

div.tip div {
  	padding: 8px;
/* 	padding-left: 25px; */
  	background-color: #FFFD8C;
  	display: inline;
	width: auto;
/*	background-image: url(../../image/backend/icon/information.png?1185801191); */
	background-repeat: no-repeat;
	background-position: 5px center;
	margin-right: 10px;
}

div.noRecords div {
    border: 2px solid #FF8600;
    background: #FFDDD5;
    display: inline;
    width: auto;
    padding: 5px;
}

/***************************
* Messages
****************************/
div.yellowMessage, div.redMessage, div.bugMessage {
	margin: 0pt;
	padding: 10pt;
	position: relative;
    overflow: visible;
}

div.yellowMessage .closeMessage, div.redMessage .closeMessage, div.bugMessage .closeMessage {
    position: absolute; 
    right: 18px; 
    top: 18px;
    cursor: pointer;
	cursor: hand;
}

div.yellowMessage div, div.redMessage div, div.bugMessage div {
	border: 4px solid;
	font-weight: bold;
	padding: 7px;
	text-align: center;
}

div.yellowMessage div {
    border-color: #FFDD00;
    background-color: #FFEE7F;
}

div.redMessage div {
    background-color: #FF933A;
    border-color: #FF4E3A;
}

div.bugMessage div {
    background-color: black ! important;
    border-color: #BBB;
    color: #CCC;
    font-size: 120%;
    padding: 15px;
}

div.yellowMessage .closeMessage
{
    display: none;
}

/*************************** 
	Layout 
***************************/
/* commented backslash hack v2 \*/
html, body{
  	height:100%;
}
/* end hack */

#pageContainer {
	position:relative; /* needed for footer positioning*/
}


#pageContentContainer {
    position: relative;
    margin: 0 19px 0 15px;
    background: white;
	min-height: 100%; /* needed for footer positioning*/
}


#pageContentInnerContainer {
    padding: 10px;
}

.maxHeight {
  	height: 95%; 
}

/*************************** 
	Page header 
***************************/
#pageHeader {
  	background-color: #30a0f9;
    height: 99px;
}
#headerContainer {
  	height: 55px;
}
#topAuthInfo {
  	color: #FFFFFF;
	text-align: right;
	padding-right: 20px;
	font-size: 10px;
}
#topBackground {
	background-image: url(../../image/backend/layout/top_bg.jpg?1185801191);
    height: 60px;
	width: 100%;
	background-repeat: repeat-x;
}
#topBackgroundLeft {
	background-image:url(../../image/backend/layout/top_bg_left.jpg?1185801191);
	height: 61px;
	background-repeat: no-repeat;
    width: 100%;
}
#topLogoContainer {
	float: right;
	width: 200px;
	height: 40px;
	position: relative;
	z-index: 1;
}
#topLogoImageContainer {
    float: right;
}

#topLogoImage {
  	margin-right: 10px;
  	margin-top: -5px;
	position: absolute;
	top: 15px;
	left: 0;
}
#headerUserName {
  	font-weight: 900;
  	font-size: 11px;
}
#homeButtonWrapper {
	vertical-align: middle;
	text-align: left;
	padding-left: 30px;
	padding-top: 10px;
	color: #FFFFFF;
	font-size: 10px;
	position: relative;
	z-index: 1500;
}
#homeButton {
	vertical-align:middle;
}
#systemMenu {
 	font-size: 11px;
	text-align: right;
	padding-top: 3px;
	padding-right: 5px;
	vertical-align: top;
	z-index: 7000;
	position: relative;
	float: right;
}

/***************************
	Page footer
***************************/
#footerContainer {
  	width: 100%;
	border-collapse: collapse;
	height: 44px;
	clear: both;
}
#footerLeft {
  	width: 824px;
	background-image:url(../../image/backend/layout/footer.png?1185801191);
	color: #FFFFFF;
	font-size: x-small;
	padding-left: 10px;
	padding-bottom: 10px;
	vertical-align: bottom;
}
#footerLeft a {
	color: #FFFFFF;  
}
#footerStretch {
  	background-image:url(../../image/backend/layout/footer_stretch.png?1185801191);
}

#pageFooter {
	position: relative;
    background-color: #E6E6E6;
}

#frontendLink
{
    color: white; 
    padding-right: 22px; 
    background-image:url(../../image/silk/gif/house.gif?1185801191); 
    background-repeat: no-repeat;    
    background-position: center right;
}

/*************************** 
 	Navigation menu 
****************************/
#navContainer {
  	padding-left: 110px;
}

#nav {
	position: relative;
	z-index: 1;
	top: -2px;
}

#nav li ul, #nav { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
}

#nav li { /* all list items */
	float: left;
	position: relative;
}

#nav li ul { /* second-level lists */
	display: none;
	position: absolute;
	left: 0;
}

#nav li>ul { /* to override top and left in browsers other than IE, which will position to the top right of the containing li, rather than bottom left */
	top: auto;
	left: auto;
}

#nav li:hover ul, #nav li.over ul { /* lists nested under hovered list items */
	display: block;
}

#nav a {
  	text-decoration: none;
  	color: #0000FF;
  	font-weight: bold;
  	font-size: 15px;
}

#nav li {
	padding-left:10px;
	white-space: nowrap;
	height: 18px;
}

#nav li div {
  	background-image: url(../../image/backend/menu/menu_item_left.gif?1185801191);
  	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 10px;
}

#nav li div div {
  	padding: 0px;
 	background-image: url(../../image/backend/menu/menu_item_right.gif?1185801191); 
  	background-repeat: no-repeat;
	background-position: top right;
}

#nav li div div div {
 	background-image: url(../../image/backend/menu/menu_item_middle.jpg?1185801191); 
	background-repeat: repeat-x;
	background-position: 0px 0px;
	margin: 0px;
	margin-right: 10px;
	text-align: center;
	padding: 5px;
}

#nav #navSelected div {
  	background-image: url(../../image/backend/menu/menu_item_left_active.gif?1185801191);
}

#nav #navSelected div div {
  	background-image: url(../../image/backend/menu/menu_item_right_active.gif?1185801191);
}

#nav #navSelected div div div {
  	background-image: url(../../image/backend/menu/menu_item_middle_active.gif?1185801191);
}

#navSelected li div {
  	background-image: none !important;
}

#navSelected div a {
	color: #0093DD;
}

#nav li ul {
  	margin-top: 5px;
  	left: 10px;
  	border: 1px solid #999999;
  	background-image: url(../../image/backend/menu/menu_commands_bg.jpg?1185801191);
  	background-position: bottom left;
  	background-repeat: repeat-x;
  	background-color: #CDD9EE;
  	padding: 5px;
  	width: 200px;
}

#nav li ul li {
	width: 200px;
  	min-width: 150px;
  	text-align: left;
	background-image: none;
	border-bottom: 1px dotted #999999;
	padding: 2px;
}

#nav li ul li div {
  	background-image: none;
  	padding: 0px;
}

#navSubSelected {
  	padding-top: 4px;
}

#navSubSelected a {
  	color: #000000 !important;
}

#nav #navSelected li {
  	padding-left: 5px;
}

#nav li ul li a {
	text-decoration: none;
	color: #1249A4;
}

#nav li a:hover {
	text-decoration: underline;
}

#nav li ul li:hover, .menuCommandHover {
}

#nav li ul li:hover a, .menuCommandHover a {
}

/*************************** 
	Breadcrumb navigation
***************************/
#breadcrumb {
	position: absolute; 
	left: 350px; 
	top: 0px;
	font-size: smaller;
	font-size: smaller;
	height: 20px;
	padding-top: 5px;
} 

#breadcrumbLast {
  	font-weight: bold;
}

/*************************** 
	Language switch menu 
***************************/
#langMenuContainer {
  	position: absolute;
	display: none;
	z-index: 20;
	width: auto;
	padding-top: 6px;
	left: -20px;
	top: 13px;
}

#langMenuIndicator {
	border: 1px solid black;
	background-color: white;
	padding: 5px;
}

#langMenu {
	padding: 5px;
	text-align: left;
  	background-color: #CDD9EE;
  	background-image: url(../../image/backend/menu/menu_commands_bg.jpg?1185801191);
  	background-position: bottom left;
  	background-repeat: repeat-x;
  	font-size: larger;
 	border:1px solid #999999;
}

#langMenu div {
	margin-bottom: 5px;
}

#langMenu div div {
	margin: 0;
	padding: 5px;
  	cursor: pointer;
}

.langMenuHover {
	background: #3981E7;
}

#langMenuCurrent {
  	font-weight: bold;
}

/*************************** 
	Work area styling 
***************************/
#rightWorkareaShadeTop {
	background-color: #E6E6E6;
	margin-top: -3px;
	height: 10px;
}
#workareaBottomShadeLeft {
  	width: 30px;
	height: 2px;
}
#workareaBottomShade {
  	width: 100%;
	background-image:url(../../image/backend/layout/workarea_shade_horizontal.jpg?1185801191);
	background-repeat: repeat-x;
}
#workareaShadeCorner {
  	width: 20px;
	vertical-align: top;
	padding-right: 12px;
}
#workareaShadeCornerImage {
	vertical-align: top;
}
#workareaBottomShadeContainer {
  	width: 100%;
}

#topShadeContainer {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background-color: white;
}

#topShadeContainerLeft {
    float: left; 
    width: 15px; 
    height: 100%; 
    background-color: #E6E6E6;
}

#topShadeContainerRight {
    float: right; 
    width: 20px; 
    height: 100%; 
    background-image:url(image/backend/layout/workarea_shade_vertical_wide.jpg?1185801191);
	background-position: -8px 0px; 
    background-repeat: repeat-y;  
    background-color: #E6E6E6;
}

#topShadeContainerRight div {
    height:110px; 
    width: 20px; 
    background-color: #E6E6E6;
}

/*************************** 
	Work area content 
***************************/
#pageTitleContainer {
	height:20px;
	padding-top: 5px;
	background-color: #E6E6E6;
	position: relative;
	width: 100%;
	clear: both;
}
#pageTitle {
  	font-weight: bold;
	padding-left: 20px;
    float: left;
}
#titleHelpButton {
	position: relative;
	top: 1px;
	margin-left: 5px;
}
#workArea {
  	background-color: #FFFFFF;
	padding: 10px;
}

/*************************** 
	Menus 
***************************/
.menuLoadIndicator {
	border: 1px solid black;
	background-color: white;
	padding: 5px;
	width: 20px;
	height: 20px;
	background-image: url(../../image/indicator.gif?1185801191);
	background-position: center center;
	background-repeat: no-repeat;
}

ul.menu {
	margin-bottom: 30px;
}

ul.menu li {
  	list-style: none;
  	float: left;
  	margin-right: 10px;
}

.menu a {
  	color: red;  	
}

ul.verticalMenu
{
	list-style-type: none;	
	padding: 15px;
}

ul.verticalMenu li
{
	margin-bottom: 5px;
	padding-left: 23px;
	background-repeat: no-repeat;
	background-position: left center;	
}

/*************************** 
	Handy classes
***************************/
br.clear, div.clear
{
    clear: both;
}

.dom_template
{
	display: none ! important;
}

.center
{
	text-align: center;
}

.nowrap
{
	white-space: nowrap;
}

/*************************** 
	Form styling
***************************/
form
{
     display: inline;
}

.formReadonly .controls
{
    display: none;
}

form p
{
    position: relative;
    clear: both;
}

fieldset.error, div.error, fieldset.container
{
	padding: 0px;
	margin: 0px;
	position: static; 
	border: 0;
	background-color: transparent;
	/* @todo: let's see how this works for IE */
	background: none;
}

.errorText /* , fieldset.error div */
{
	background-color: red;
	float: left; 
	width: auto;
	margin-bottom: 4px;
	margin-top: 0px;
	padding: 3px;
	color: white;
}

.disabledTextarea
{
    border: 1px solid #888;
    background-color: white;
    overflow: auto;
}

.feedback, .feedback_textarea
{
    position: absolute ! important;
    vertical-align: middle;
    margin-left: 10px;
    padding-left: 20px;
    background: url(../../image/silk/error.png?1185801191) no-repeat left center;
    visibility: hidden;
    white-space: nowrap;
}

fieldset.controls
{
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 0.5em;
    padding-left: 1em;
}

fieldset.group
{
    position: relative;
}

form fieldset.group div
{
    width: auto;
}

fieldset
{
    margin: 1em 0;
    padding: 1em;
    background: #f8f8f8;
    margin: auto 0;
    margin-bottom: 10px;
    border: 1px solid #DDD;
}

legend
{
	font-size: 18px;
	color: #30A0F9;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #CCC;
	top: -22px; 
}

label
{
    float: left;
    width: 11em;
    cursor: pointer;
}

label.cancel
{
    float: none;
    position: relative;
    padding-left: 0px;
}

p.required label, fieldset.required label
{
  	font-weight: bold;
}

p.radio, p.checkbox, fieldset.radio, fieldset.checkbox
{
   padding-left: 11em;
}

p.radio label, p.checkbox label, fieldset.radio label, fieldset.checkbox label
{
    white-space: nowrap;
    margin-top: 3px;
}

input, select, file, form.other
{
    width: 15em;
    font-size: 16px;
    padding: 2px;
    vertical-align: middle;
}

label.checkbox, label.radio
{
  	margin-top: 3px;
  	width: auto;
}

optgroup option 
{
   padding-left: 1em;
   color: black;
   background-color: #ffc;
}

optgroup  
{
   font-style: normal;
   font-weight: bold;
}

textarea, .disabledTextarea
{
    padding: 2px;
    width: 40em;
    height: 10em;
    font-size: 14px;
    font-family: arial, verdana;
    color: #333;
}
.feedback_textarea
{
   line-height: 10em;
}

input.radio, input.checkbox, input.submit, input.button, input.reset
{
    width: auto;
}
input.submit, input.reset {
	text-transform: uppercase;
	font-size: 10px;
	padding: 4px;
}
input.submit {
	background-color: #008cff;
	color: #fff;
	padding-left: 15px;
	padding-right: 15px;
}
input.reset {
	background-color: #ddd;
	color: #666;
}

input.radio, input.checkbox
{
    float: left;
    margin-right: 1em;
    cursor: pointer;
}

input:focus, textarea:focus, select:focus
{
    background: #ffc;
}

input.submit:focus 
{
	color: #008cff;
}

input.required, textarea.required, select.required
{
    border-color: red;
}

formem.required
{
    color: red;
}

form, .formDiv
{
    height: 2em;
    width: 11em;
}

label, input, select, form .other, textarea, .disabledTextarea
{
    margin-top: 5px;
    margin-bottom: 5px;
}

select
{
    padding-right: 0 !important;
    padding-left: 0 !important;
}

a.cancel, a.menu
{
 	color: red;
}

.hidden 
{
	display: none;	
}

.progressIndicator {
	padding: 15px;
	width: 30px;
	height: 20px;
	background-image: url(../../image/indicator.gif?1185801191);
	background-position: center center;
	background-repeat: no-repeat;
	clear: none;
}

p.checkbox label, fieldset.checkbox label {
    float: none;
    clear: both;
}

/* textarea container */
div.textarea 
{
 	margin-bottom: 7px; 
}

input.wide 
{
  	width: 35em;
}

.wider
{
	width: 50em;
}

input.money, input.number
{
  	width: 5em;
}

input.date
{
  	width: 6em;  
}

label.wide
{
	display: block;
	float: none;
}

select.narrow
{
    width: 5em;
}

/*************************** 
	Form types
***************************/
fieldset.addForm
{
	background-color: #FFFFDD;
	border: 1px solid #FFFF55;
	padding: 10px;
}

fieldset.addForm legend
{
	background-color: #FFFFAA;
}

/*************************** 
	List styling
***************************/
.odd
{
  	background-color: #EEEEEE;
}

.even
{
  	
}

/*************************** 
	Autocomplete
***************************/
div.autocomplete
{
	border: 1px solid #AAAAAA;
	background-color: #ffc !important;  
	color: black !important;
	z-index: 1;
}

div.autocomplete ul
{
  	list-style: none;
}

div.autocomplete .selected
{
  	background-color: yellow;
}

/*************************** 
	Calendar
***************************/
input.calendar
{
    width: 6em;
}

img.calendar_button
{
    margin-left: 0.5em;
    cursor: pointer; 
    border: 0px none;   
}

img.calendar_button_hover
{
    background: red;
}

/*************************** 
	Multicolumn groups
***************************/
fieldset.group
{
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
}

fieldset.group h2
{
    width: 11em;
    float: left;
    font-size: 1em;
    font-weight: normal;
}

fieldset.group div
{
    padding-left: 8em;
}

fieldset.group * div
{
    padding-left: 0;
}

fieldset.group p
{
    margin: 0.3em 0;
}

/*************************** 
	Expanding sections
***************************/
.expandingSection
{
/*	background-color: #e0e0e0; */
	margin-bottom: 5px;
	padding: 0;
	border: 0;
}
.expandingSection > legend
{
	cursor: pointer;
	background: inherit;
	background-image: url(../../image/silk/bullet_arrow_left.png?1185801191);
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 22px;
	color: black;
	font-size: inherit;
}
.expandingSectionContent
{
    display: none;
    margin: 10px;
    margin-left: 0px;
    border: 1px solid #DDD;
    padding: 10px;
}

.expandingSection.expanded > legend
{
	background-image: url(../../image/silk/bullet_arrow_down.png?1185801191);
}

.expandingSection.expanded div.expandingSectionContent
{
    display: block;
}

/*************************** 
	Tabs
***************************/
.tabs
{
    list-style: none;
    padding: 6px 0;
    margin-top: 6px;
}

.tabs li img
{
	vertical-align: middle;	
}

.tabs li
{
    display: inline;
    padding: 6px 15px 7px 15px ! important;
    border: 1px solid #ccc;
    vertical-align: middle;
}

.tabs li a
{
    text-decoration: none;
    color: black;
}

.tabs li.active a
{
    font-weight: bold;
}


.tabs li.active
{
    background: #fff !important;
    padding: 6px 17px 8px 17px ! important;
    border-top: 2px solid red;
    font-weight: bold;
}

.tabHelp
{
	display: none;
}

.tab
{
  	cursor: pointer;
}

/**************************
Translation tabs
***************************/
.languageForm
{
    margin-top: 1em;
    margin-bottom: 1em;
    border: 0px none;
    background-color: transparent;			
    padding: 0;
}

.languageFormCaption
{
    height: 100%;
    margin-right: 10px;		
    display: inline;
    padding: 0.5em 1em 0.5em 1em ! important;
    vertical-align: middle;
}

.languageTabsContainer	
{
   height: 1.5em;
}

ul.languageFormTabs
{	
    height: 100%;
    width: 300px;
    display: inline;

}

ul.languageFormTabs li
{
    display: inline;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: 0px;
    background-color: #f5f5f5;
    margin-left: 2px;
    padding: 0.5em 1em 0.5em 1em ! important;
}	

ul.languageFormTabs li:hover, ul.languageFormTabs li.active
{
    border-top: 2px solid red;		
    background-color: #fafafa;
}

ul.languageFormTabs li.active
{
    background-color: #fff;
    font-weight: bold;
}

.languageFormContent
{
    padding: 10px; 
    border: 1px solid #b3d4ef;
    background-color: #f5f5f5;
    position: relative;
}

.languageFormContainer
{
     display: none;
}	

.languageFormContainer.active
{
 	display: block;
}	


/*************************** 
	Tree browser
***************************/
.treeBrowser
{
    border: 1px solid #ccc; 
    background: #f1f1f1;
    padding: 5px;
    padding-right: 0;
  	height: 260px;
}

.treeContainer {
    position: absolute;
    width: 260px;
}

.containerTableStyle
{
    height: 262px; 
    width: 250px;
    overflow: auto;
}

.treeManagerContainer {
    margin-left: 270px;
}

.treePath {
    font-weight: normal; 
    padding-bottom: 5px; 
    padding-left: 275px;
}


/**************************
	Glossary
**************************/
a.acronym
{
    border-bottom: 1px dotted black;    
    cursor: help;
/*    margin-right: 5px; /* IE */
    color: black !important;
    position: relative;
}

a.acronym div
{
    display: none;
	background-color: #EEEFFF;
	font-weight: normal;
}

a.acronym:hover
{
/*    display: inline; */
    text-decoration: none;
}

a.acronym:hover div
{
    display: block;
    position: absolute;
    border: 2px solid gray;
    padding: 5px;
    left: 0px;
    color: black;
	width: 400px;
	z-index: 10000;
}

/**************************
 * Debuging
 *************************/
#log { 
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 10000; 
    background-color: white;
} 

.activeForm_progress {
    padding-right: 20px;
}

/***************************
 * Tree actions
 **************************/
.addTreeNode
{
	background-image: url('../../image/silk/page_white_add.png?1185801191');
	margin-bottom: 10px;
}

.viewTreeNode
{
	background-image: url('../../image/silk/page_white_code.png?1185801191');
}

.moveUpTreeNode
{
	background-image: url('../../image/silk/arrow_up.png?1185801191');
}

.moveDownTreeNode
{
	background-image: url('../../image/silk/arrow_down.png?1185801191');
}

.removeTreeNode
{
	background-image: url('../../image/silk/page_white_delete.png?1185801191');
}



/***************************************************
 * backend\stat.css
 ***************************************************/

#stat {
	position: absolute;
	top: 0;
	background-color: #000;
	border: 2px solid #fff;
	font-family: "Courier new";
	z-index: 1000;
}
#stat li, #stat td {
	font-size: 12px;
	color: #ccc;
	padding-top: 2px;
	padding-bottom: 2px;
}
#stat .label {
	font-size: 16px;
	font-weight: bold;
	color: yellow;
}
#stat table {
	width: 100%;
}
#stat td {
	padding: 5px;
	border-top: 1px solid #333;
}
#statButton {
	background-color: #ffffcc;
	padding: 5px;
}

/*
.error {
	background-color: red;
	color: #fff;
}
*/


/***************************************************
 * ..\javascript\library\tinymce\themes\advanced\css\editor_ui.css
 ***************************************************/

/* This file contains the CSS data for the editor UI of TinyMCE instances */

.mceToolbarTop a, .mceToolbarTop a:visited, .mceToolbarTop a:hover, .mceToolbarBottom a, .mceToolbarBottom a:visited, .mceToolbarBottom a:hover {border: 0; margin: 0; padding: 0; background: transparent;}
.mceSeparatorLine {border: 0; padding: 0; margin-left: 4px; margin-right: 2px;}
.mceSelectList {font-family: 'MS Sans Serif', sans-serif, Verdana, Arial; font-size: 7pt !important; font-weight: normal; margin-top: 3px; padding: 0; display: inline; vertical-align: top; background-color: #F0F0EE;}
.mceLabel, .mceLabelDisabled {font-family: 'MS Sans Serif', sans-serif, Verdana, Arial; font-size: 9pt;}
.mceLabel {color: #000000;}
.mceLabelDisabled {cursor: text; color: #999999;}
.mceEditor {background: #F0F0EE; border: 1px solid #cccccc; padding: 0; margin: 0;}
.mceEditorArea { font-family: 'MS Sans Serif', sans-serif, Verdana, Arial; background: #FFFFFF; padding: 0; margin: 0; }
.mceToolbarTop, .mceToolbarBottom {background: #F0F0EE; line-height: 1px; font-size: 1px;}
.mceToolbarTop {border-bottom: 1px solid #cccccc; padding-bottom: 1px;}
.mceToolbarBottom {border-top: 1px solid #cccccc;}
.mceToolbarContainer {display: block; position: relative; left: 0; top: 0; width: 100%;}
.mceStatusbarTop, .mceStatusbarBottom, .mceStatusbar {height: 20px;}
.mceStatusbarTop .mceStatusbarPathText, .mceStatusbarBottom .mceStatusbarPathText, .mceStatusbar .mceStatusbarPathText {font-family: 'MS Sans Serif', sans-serif, Verdana, Arial; font-size: 9pt; padding: 2px; line-height: 16px; overflow: visible;}
.mceStatusbarTop {border-bottom: 1px solid #cccccc;}
.mceStatusbarBottom {border-top: 1px solid #cccccc;}
.mceStatusbar {border-bottom: 1px solid #cccccc;}
.mcePathItem, .mcePathItem:link, .mcePathItem:visited, .mcePathItem:hover {text-decoration: none; font-family: 'MS Sans Serif', sans-serif, Verdana, Arial; font-size: 9pt; color: #000000;}
.mcePathItem:hover {text-decoration: underline;}
.mceStatusbarPathText {float: left;}
.mceStatusbarResize {float: right; background-image: url('../images/statusbar_resize.gif?1185801191'); background-repeat: no-repeat; width: 11px; height: 20px; cursor: se-resize;}
.mceResizeBox {width: 10px; height: 10px; display: none; border: 1px dotted gray; margin: 0; padding: 0;}
.mceEditorIframe {border: 0;}

/* Button CSS rules */

a.mceButtonDisabled img, a.mceButtonNormal img, a.mceButtonSelected img {width: 20px; height: 20px; cursor: default; margin-top: 1px; margin-left: 1px;}
a.mceButtonDisabled img {border: 0 !important;}
a.mceButtonNormal img, a.mceButtonSelected img {border: 1px solid #F0F0EE !important;}
a.mceButtonSelected img {border: 1px solid #6779AA !important; background-color: #D4D5D8;}
a.mceButtonNormal img:hover, a.mceButtonSelected img:hover {border: 1px solid #0A246A !important; cursor: default; background-color: #B6BDD2;}
a.mceButtonDisabled img {-moz-opacity:0.3; opacity: 0.3; border: 1px solid #F0F0EE !important; cursor: default;}
a.mceTiledButton img {background-image: url('../images/buttons.gif?1185801191'); background-repeat: no-repeat;}

/* Menu button CSS rules */

span.mceMenuButton img, span.mceMenuButtonSelected img {border: 1px solid #F0F0EE; margin-left: 1px;}
span.mceMenuButtonSelected img {border: 1px solid #6779AA; background-color: #B6BDD2;}
span.mceMenuButtonSelected img.mceMenuButton {border: 1px solid #F0F0EE; background-color: transparent;}
span.mceMenuButton img.mceMenuButton, span.mceMenuButtonSelected img.mceMenuButton {border-left: 0; margin-left: 0;}
span.mceMenuButton:hover img, span.mceMenuButtonSelected:hover img {border: 1px solid #0A246A; background-color: #B6BDD2;}
span.mceMenuButton:hover img.mceMenuButton, span.mceMenuButtonSelected:hover img.mceMenuButton {border-left: 0;}
span.mceMenuButtonFocus img {border: 1px solid gray; border-right: 0; margin-left: 1px; background-color: #F5F4F2;}
span.mceMenuButtonFocus img.mceMenuButton {border: 1px solid gray; border-left: 1px solid #F5F4F2; margin-left: 0;}
span.mceMenuHover img {border: 1px solid #0A246A; background-color: #B6BDD2;}
span.mceMenuButtonSelected.mceMenuHover img.mceMenuButton {border: 1px solid #0A246A; background-color: #B6BDD2; border-left: 0;}

/* Menu */

.mceMenu {position: absolute; left: 0; top: 0; display: none; z-index: 1000; background-color: white; border: 1px solid gray; font-weight: normal;}
.mceMenu a, .mceMenuTitle, .mceMenuDisabled {display: block; width: 100%; text-decoration: none; background-color: white; font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 11px; line-height: 20px; color: black;}
.mceMenu a:hover {background-color: #B6BDD2; color: black; text-decoration: none !important;}
.mceMenu span {padding-left: 10px; padding-right: 10px; display: block; line-height: 20px;}
.mceMenuSeparator {border-bottom: 1px solid gray; background-color: gray; height: 1px;}
.mceMenuTitle span {padding-left: 5px;}
.mceMenuTitle {background-color: #DDDDDD; font-weight: bold;}
.mceMenuDisabled {color: gray;}
span.mceMenuSelectedItem {background-image: url('../images/menu_check.gif?1185801191'); background-repeat: no-repeat; background-position: 5px 8px; padding-left: 20px;}
span.mceMenuCheckItem {padding-left: 20px;}
span.mceMenuLine {display: block; position: absolute; left: 0; top: -1px; background-color: #F5F4F2; width: 30px; height: 1px; overflow: hidden; padding-left: 0; padding-right: 0;}
.mceColors table, .mceColors td {margin: 0; padding: 2px;}
a.mceMoreColors {width: auto; padding: 0; margin: 0 3px 3px 3px; text-align: center; border: 1px solid white; text-decoration: none !important;}
.mceColorPreview {position: absolute; overflow:hidden; left: 0; top: 0; margin-left: 3px; margin-top: 15px; width: 16px; height: 4px; background-color: red;}
a.mceMoreColors:hover {border: 1px solid #0A246A;}
.mceColors td a {width: 9px; height: 9px; overflow: hidden; border: 1px solid #808080;}

/* MSIE 6 specific rules */

* html a.mceButtonNormal img, * html a.mceButtonSelected img, * html a.mceButtonDisabled img {border: 0 !important; margin-top: 2px; margin-bottom: 1px;}
* html a.mceButtonDisabled img {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); border: 0 !important;}
* html a.mceButtonDisabled {border: 1px solid #F0F0EE !important;}
* html a.mceButtonNormal, * html a.mceButtonSelected {border: 1px solid #F0F0EE !important; cursor: default;}
* html a.mceButtonSelected {border: 1px solid #6779AA !important; background-color: #D4D5D8;}
* html a.mceButtonNormal:hover, * html a.mceButtonSelected:hover {border: 1px solid #0A246A !important; background-color: #B6BDD2; cursor: default;}
* html .mceSelectList {margin-top: 2px;}
* html span.mceMenuButton, * html span.mceMenuButtonFocus {position: relative; left: 0; top: 0;}
* html span.mceMenuButton img, * html span.mceMenuButtonSelected img, * html span.mceMenuButtonFocus img {position: relative; top: 1px;}
* html a.mceMoreColors {width: auto;}
* html .mceColors td a {width: 10px; height: 10px;}
* html .mceColorPreview {margin-left: 2px; margin-top: 14px;}

/* MSIE 7 specific rules */

*:first-child+html a.mceButtonNormal img, *:first-child+html a.mceButtonSelected img, *:first-child+html a.mceButtonDisabled img {border: 0 !important; margin-top: 2px; margin-bottom: 1px;}
*:first-child+html a.mceButtonDisabled img {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); border: 0 !important;}
*:first-child+html a.mceButtonDisabled {border: 1px solid #F0F0EE !important;}
*:first-child+html a.mceButtonNormal, *:first-child+html a.mceButtonSelected {border: 1px solid #F0F0EE !important; cursor: default;}
*:first-child+html a.mceButtonSelected {border: 1px solid #6779AA !important; background-color: #D4D5D8;}
*:first-child+html a.mceButtonNormal:hover, *:first-child+html a.mceButtonSelected:hover {border: 1px solid #0A246A !important; background-color: #B6BDD2; cursor: default;}
*:first-child+html .mceSelectList {margin-top: 2px;}
*:first-child+html span.mceMenuButton, *:first-child+html span.mceMenuButtonFocus {position: relative; left: 0; top: 0;}
*:first-child+html span.mceMenuButton img, *:first-child+html span.mceMenuButtonSelected img, *:first-child+html span.mceMenuButtonFocus img {position: relative; top: 1px;}
*:first-child+html a.mceMoreColors {width: 137px;}
*:first-child+html .mceColors td a {width: 10px; height: 10px;}
*:first-child+html .mceColorPreview {margin: 0; padding-left: 4px; margin-top: 14px; width: 14px;}



/***************************************************
 * library\dhtmlCalendar\calendar-win2k-cold-2.css
 ***************************************************/

/* The main calendar widget.  DIV containing a table. */

.calendar {
  position: relative;
  display: none;
  border-top: 2px solid #fff;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #fff;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #c8d4d0;
  font-family: tahoma,verdana,sans-serif;
}

.calendar table {
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #c8d4d0;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;
  padding: 1px;
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
}

.calendar .nav {
  background: transparent url(menuarrow.gif?1185801191) no-repeat 100% 100%;
}

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;
  padding: 1px;
  border: 1px solid #000;
  background: #788480;
  color: #fff;
  text-align: center;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}

.calendar thead .daynames { /* Row <TR> containing the day names */
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #000;
  padding: 2px;
  text-align: center;
  background: #e8f4f0;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #f00;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  border-top: 2px solid #fff;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #fff;
  padding: 0px;
  background-color: #d8e4e0;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  padding: 2px 0px 0px 2px;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
  background-color: #b8c4c0;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #aaa;
}
.calendar tbody .day.othermonth.oweekend {
  color: #faa;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #000;
  background: #e8f4f0;
}

.calendar tbody .rowhilite td {
  background: #d8e4e0;
}

.calendar tbody .rowhilite td.wn {
  background: #c8d4d0;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  padding: 1px 3px 1px 1px;
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  padding: 2px 2px 0px 2px;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
}

.calendar tbody td.selected { /* Cell showing selected date */
  font-weight: bold;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
  padding: 2px 2px 0px 2px;
  background: #d8e4e0;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #f00;
}

.calendar tbody td.today { /* Cell showing today date */
  font-weight: bold;
  color: #00f;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: #e8f4f0;
  padding: 1px;
  border: 1px solid #000;
  background: #788480;
  color: #fff;
  text-align: center;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
  padding: 1px;
  background: #d8e4e0;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  padding: 2px 0px 0px 2px;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  width: 4em;
  top: 0px;
  left: 0px;
  cursor: default;
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
  background: #d8e4e0;
  font-size: 90%;
  padding: 1px;
  z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .active {
  background: #c8d4d0;
  padding: 0px;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
}

.calendar .combo .hilite {
  background: #048;
  color: #aef;
}

.calendar td.time {
  border-top: 1px solid #000;
  padding: 1px 0px;
  text-align: center;
  background-color: #e8f0f4;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: #fff;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
  background-color: #667;
  color: #fff;
}

.calendar td.time span.active {
  border-color: #f00;
  background-color: #000;
  color: #0f0;
}



/***************************************************
 * library\ActiveList.css
 ***************************************************/

.activeList_icons
{
    width: 90px;
}

.activeList_icons_container
{
    width: 16px;
    height: 16px;
    margin: 2px;
	cursor: pointer;
	cursor: hand;
}

ul.activeList
{
    list-style: none;
    position: relative;
}


li.activeList_even, li.activeList_odd
{
    list-style: none;
    margin: 5px 10px;
    padding: 0;
}

.activeList_add_sort li {
  	cursor: move;  	
}

/*
ul li.activeList_odd
{
    background: #F0F0FF;
}

ul li.activeList_even
{
    background: #EFF4F6;
}
*/

li.activeList_even, li.activeList_odd {
  	border: 2px solid #EEEEEE;
}


/***************************************************
 * library\ActiveGrid.css
 ***************************************************/

.activeGrid
{
    table-layout: fixed;   
	width: 100%;  
}

.activeGrid_loadIndicator
{
	position: absolute; 
	width: 100%; 
	padding-top: 150px; 
	text-align: center;
}

.activeGrid_loadIndicator div
{
	background-color: white; 
	display: inline;
	padding: 10px; 
	border: 1px solid black;
}

.activeGrid td
{
    overflow: hidden;
}

.activeGrid_viewport
{
    margin-right: -17px;
    width: 100%;
}

.activeGrid_highlight
{
  	background: #CCCCCC;
}

.readonlyGrid .cell_cb
{
  	display: none;
}

.activeGrid .cell_cb
{
    padding: 0;
}

.activeGrid .cell_cb input
{
    width: auto;
    float: none;
    padding: 0;
    margin: 0;
}

.activeGrid th input, .activeGrid th select
{
    width: 70%; 
    font-size: smaller; 
    font-weight: bold;
    border: 1px solid #888888;
    float: left;
}

.activeGrid th.cellt_numeric input
{
    width: 50%;
}

.activeGrid th select
{
	width: 80%;
}

.activeGrid th 
{
	text-align: left;
}

.activeGrid th img
{
	vertical-align: middle;
}

.activeGrid_filter_blur
{
    background-color: #EEEEEE;
    border: 0;
}

.activeGrid_filter_select
{
	font-weight: normal;	
}

.activeGrid th, .activeGrid td
{
  	height: 23px;
  	padding: 2px;
  	white-space: nowrap;
}

.activeGrid th .fieldName
{
	display: none;
}

.activeGrid th
{
	background-color: #DDDDDD;	  
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    padding: 3px;
}

.activeGrid .headRow
{
    height: 23px;
}

.activeGrid select, .activeGrid input
{
    margin: 0;
}

.activeGrid .headRow .cell_cb
{
    text-align: center;
    padding: 0;
}

.activeGrid .headRow .rangeTo
{
    font-weight: normal;
    font-size: smaller;
}

.activeGrid th .filterIcon
{
    margin-top: 2px;
    margin-right: 2px;
    float: left;
}

.activeGrid th:hover
{
    background-color: #E5E5E5;   
}

/***********************
    Sort preview icon
***********************/
.activeGrid th .sortPreview, .activeGrid th .sortImg
{
    position: absolute;
    right: 5px;
    margin-top: 2px;
}

.activeGrid th:hover .sortImg, .activeGrid th .sortPreview
{
    display: none;
}

.activeGrid th:hover .sortPreview
{
    display: block;
}

/***********************
    Filter menu
***********************/
.activeGrid .filterMenuContainer
{
    float: left;
    position: relative;
    z-index: 65000;
}

.activeGrid .filterMenu
{
    display: none;
    position: absolute; 
    margin-top: 18px;
    margin-left: -20px;
    left: 0;
    z-index: 50000;

    border: 1px solid black; 
    background-color: white;
    padding: 5px;
}

.activeGrid .filterMenuContainer:hover .filterMenu, .filterMenu:hover
{
    display: block;
}

.activeGrid th .filterMenu li
{
    padding: 5px;    
    list-style-type: none;
    font-weight: normal;
    padding-right: 25px;
}

.activeGrid th .filterMenu li:hover
{
    background-color: #eee;
}

.activeGrid th .filterMenu span.sign
{
    float: left;
    width: 22px;
    font-weight: bold;
}

/***********************
    Range filter
***********************/
.activeGrid th .rangeFilter
{
    white-space: nowrap; 
    float: left;
}

.activeGrid th .rangeFilter input
{
    width: 30px;    
    font-weight: normal;
}

.activeGrid th .rangeFilter input, .activeGrid th .rangeFilter span
{
    float: left;   
}

.activeGrid th .rangeFilter .rangeTo
{
	padding: 2px;
	padding-top: 6px;
}


/***************************************************
 * backend\Category.css
 ***************************************************/


#categoryBrowser {

}


/***************************************************
 * backend\Product.css
 ***************************************************/

#productManagerContainer span.tabCounter
{
    margin-left: 6px;
}

.doneProduct
{
    float: left;
    margin-bottom: 8px !important;
}

#productPage
{
	padding-right: 22px;
	background-image: url(../../image/silk/gif/resultset_next.gif?1185801191);
	background-position: center right;
	background-repeat: no-repeat;    
	float: right;
}

/*************************
	Product form
*************************/
fieldset.specification
{
  	margin-top: 10px;
}

fieldset.specification .numeric
{
 	width: 100px; 
}

.multiValueSelect p.selectMenu
{
	clear: both; 	 	
	margin-bottom: 10px;
	font-size: smaller;
}

.multiValueSelect label
{

}

.multiValueSelect div.other label
{
  	width: auto;
  	margin-right: 10px;        
}

.multiValueSelect div.other input, input.other
{
  	width: 400px;
}

.productForm.intangible .shipping, .productForm.intangible .inventory
{
    display: none;
}

/*************************
	Product list
*************************/
.productsList
{
  	width: 100%;
}

.cell_cb
{
	width: 4% !important;  
	text-align: center !important;
}

.cell_cb input
{
	float: none;
	margin-right: 0;
	width: auto;
}

.headRow .cell_cb span
{
	display: none;
}

.cellt_numeric, .cellt_bool
{
	width: 10%;
	text-align: center;
}

.cell_Product_sku
{
	width: 10% !important;  
}

.cell_Product_name
{
	width: 38% !important;  
}

.cell_Manufacturer_name
{
	width: 15% !important;  
}

.cell_ProductPrice_price
{
	width: 13% !important;  
	text-align: center;
}

.cell_Product_stockCount
{
	width: 10% !important;  
	text-align: center;
}

.cell_Product_isEnabled
{
	width: 10% !important;   
	text-align: center;
}

.lowStock
{
  	color: red;
}

.notEnabled
{
/*  	color: red;*/
}


/***************************************************
 * backend\SpecField.css
 ***************************************************/

.specField legend, .specField_step_values, .specField_language_translation, .specField_group_language_translation {
    display: none;
    
}

.specField_step_lev1 {
    background: white;
}

.specField .specField_step_translations_language legend {
    cursor: pointer;
    cursor: hand;
    display: block;
}

.specField fieldset {
    margin-right: 1em;
}

.specField_group_controls, .specField_group_translations {
    background: #fff;
}

.specField_group_title {
    font-size: 300%;
    color: grey;
    font-weight: bold;
}

.specFieldGroup_translations {
    display: none;
}

.specField_title {
    font-size: 200%;
}

.specField_group_title input {
    width: 200px;
    display: none;
}

.specField_new_group .specField_group_title input {
    display: block;
}


.specFieldList .activeList_container {
    padding-left: 80px;
}

.specFieldList li, .specFieldListGroup li {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #F7F7F7;  	
}

.specFieldList li li {
    width: 100%;
}

.specFieldList {
  	padding-bottom: 1em;
  	padding-top: 1em;
}

.specField_form_values_group div input.specField_valueName, input.specField_update {
    width: 30em;
}

.specField_language_link {
    display: inline;
    padding: 0 5px;
}

.specField_change_state {
    padding: 0 5px;
}

.specField .specField_step_translations_language {
    background: #ddd;
}

.specField_form_values_value .specField_form_values_default_checkbox {
    width: auto;
}

.specField_mergeValuesLink
{
    display: block;
    float: left;
    margin-bottom: 10px;
}

.specField .specField_mergeCheckbox 
{
   float: none;
}

.specField_controls {
    padding-left: 2em;
}

.specField_valueMergedLooser
{
    background-color: #FF8990 ! important;
}

.specField_valueMergedWinner
{
    background-color: #BBE5C1 ! important;
}

.specField_save {
    margin: 0;
}

.specField_add_field {
    white-space: nowrap;
    margin-left: 56px;
    color: red;
}

.specField_values_controls
{
    margin-bottom: 2em ! important;
}

.specField_values {
    width: auto !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

h2.specField_values_title {
   width: 7em ! important;
}

.specFieldListGroup > li {
	border: 2px solid grey;  
}

.specField_step_translations, .specField_step_values_translations {
    margin-top: 20px;
}

/* START Values active list */
fieldset.specField_step_values  .activeList_icons {
    width: 77px;
}

fieldset.group h2 {
    font-size: 1em;
    font-weight: normal;
}
/* END Values active list */

.specField ul {
    list-style: none;
}

.specField_step_translations_language_active {
    background: yellow;
    padding: 5px;
}

/* IE */
.specField_step_translations_language {
    position: relative;
}


/***************************************************
 * backend\ProductRelationship.css
 ***************************************************/

.productRelationshipGroup_title {
    color: grey;
    font-size: 300%;
    font-weight: bold;
}

li.productRelationshipGroup_item {
    border: 2px solid grey;
    margin-bottom: 0.5em;   
}

li.productRelationshipGroup_item li {
 	margin-top: 0.5em;
}

.productRelationship_title {
    font-size: 1.5em; 
    font-weight: bold;
    float: left;
}

.productRelationship_image
{
    width: 80px;
    float: left;
    text-align: center;
}

.productRelationship_list {
    padding-bottom: 1em;
}

.productRelationship_list .activeList_icons 
{
    float: left;
    width: 50px;
}

.productRelationship_list li
{
    margin-bottom: 10px;
    padding: 5px;
}


/***************************************************
 * backend\ProductFile.css
 ***************************************************/

.productFile_main
{
    border: 0;
}

.productFileGroup_title {
    color: grey;
    font-size:300%;
    font-weight:bold;
}

li.productFileGroup_item {
    border: 2px solid grey;
    margin-bottom: 1em;   
}

li.productFileGroup_item li {
 	margin-top: 0.5em;
}

.productFile_item_title {
    font-size: 1.5em; 
    font-weight: bold;
}

.productFile_list {
    padding-bottom: 1em;
}

.productFile_download_link {
margin-left: 2em;
}

.productFile_fileName_div
{
    padding: 0 !important;
}


/***************************************************
 * backend\Filter.css
 ***************************************************/

.filterList li
{
 	padding: 5px;
	margin-bottom: 10px; 
  	background-color: #F7F7F7;  		
}

.filterList li.filtergroup_has_no_filters
{
  	background-color: #F7E0E0;  		
}

.filter_item_new {
/*    margin-top: -25px; */
}

.filter_step_lev1 {
    background: #fff;
}

.filter_range input
{
    width: 3em;
}

.filter_date_range input
{
    width: 6em;
}

.filter_step_main p {
    position: relative;
}

.filter_step_filters li input
{
   margin: 0px;
}

.filter legend, 
.filter_date_range
{
	display: none;
}
.filter .filter_step_translations_language
{
    background: #ccc;
}

.filter_step_translations
{
    margin-top: 20px !important;
}

.filter_step_translations_language legend
{
    display: block;
    cursor: pointer;
	cursor: hand;
}

.filter_step_filters li label
{ 
    cursor: default;
}

.filter_step_filters li p
{
   padding: 1px;
   margin: 1px;
}

.filter_title, .filter_count
{
   font-size: 200%;
}

.filter ul
{
    list-style: none;
}

.filter_step_filters_translations li
{
   padding: 4px;
}

.filter_crate_filters a
{
   padding: 2px 10px;
}

.filter_form_specFieldText {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* IE */
.filter_step_translations_language
{
    position: relative;
}

.filter_range .errorText, filter_date_range .errorText {
    margin-left: 11em;
}




/***************************************************
 * backend\CategoryImage.css
 ***************************************************/

.catImageList, .prodImageList 
{
  	width: 600px;
}

.catImageList li, .prodImageList li 
{
	padding: 5px;
	margin-bottom: 10px; 
  	background-color: #F7F7F7;  		
}

.catImageTemplate img, .prodImageTemplate img 
{
  	vertical-align: top;	  
}

.catImageEditForm iframe, .prodImageEditForm iframe
{
/*    display: none; */
}

.catImageEditContainer, .prodImageEditContainer 
{
  	margin-top: 10px;
  	padding-left: 60px;
}

.imageTitle 
{
  	font-weight: bold;
  	font-size: larger;
	margin-left: 10px;
	margin-top: 10px;  	
}

img.image 
{
    cursor: pointer;
}

.activeList_editContainer fieldset.container  
{
    padding: 10px;   
}
    
.activeList_editContainer .container legend 
{
    display: none;
}

.activeList_editContainer .container fieldset legend 
{
    display: block;
}

.activeList_editContainer div.translations 
{
    margin-top: 20px;    
}

p.main, p.supplemental
{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    font-weight: bold;
}

div.translations 
{
	margin-top: 20px;
}


/***************************************************
 * library\TabControl.css
 ***************************************************/

.managerContainer {
	position: relative;
}

/* Category manager styling */
.tabContainer ul.tabList
{
	list-style: none;
	margin:0px;
	padding: 0px;
	height: 25px;
	padding-top: 8px;
}

.tabContainer ul.tabList li
{
	margin-right: 2px;	
	display: inline;
}

.tabContainer ul li.inactive, .tabContainer ul li.active, .tabContainer ul li.hover
{
	padding: 5px 15px 5px 15px;
	border: 1px solid #ccc;
	border-bottom: 0px;
}
.tabContainer ul li.active
{
	padding: 7px 17px 7px 17px;
	background-color: #fff;
	border-top: 2px solid red;
}
.tabContainer ul li.hover
{
	border-top: 2px solid red;
}
.tabContainer ul li.hover, .tabContainer ul li.inactive
{
	height: 15px;
	background-color: #f5f5f5;
}

.sectionContainer
{
	padding: 20px 10px 10px 10px; 
	border: 1px solid #b3d4ef;
	background-color: #f5f5f5;
}


/***************************************************
 * library\dhtmlxtree\dhtmlXTree.css
 ***************************************************/

.dhx_tree_textSign {
    background-image: url('../../image/backend/dhtmlxtree/leaf.gif?1185801191');
    background-image: url('../../image/backend/dhtmlxtree/line1.gif?1185801191');
    background-image: url('../../image/backend/dhtmlxtree/line2.gif?1185801191');
    background-image: url('../../image/backend/dhtmlxtree/line3.gif?1185801191');
    background-image: url('../../image/backend/dhtmlxtree/line4.gif?1185801191');
    background-image: url('../../image/backend/dhtmlxtree/blank.gif?1185801191');
    background-image: url('../../image/backend/dhtmlxtree/minus.gif?1185801191');
    background-image: url('../../image/backend/dhtmlxtree/minus2.gif?1185801191');
    background-image: url('../../image/backend/dhtmlxtree/minus3.gif?1185801191');
    background-image: url('../../image/backend/dhtmlxtree/minus4.gif?1185801191');
    background-image: url('../../image/backend/dhtmlxtree/minus5.gif?1185801191');
    background-image: url('../../image/backend/dhtmlxtree/plus.gif?1185801191');
    background-image: url('../../image/backend/dhtmlxtree/plus2.gif?1185801191');
    background-image: url('../../image/backend/dhtmlxtree/plus3.gif?1185801191');
    background-image: url('../../image/backend/dhtmlxtree/plus4.gif?1185801191');
    background-image: url('../../image/backend/dhtmlxtree/plus5.gif?1185801191');
    background-image: url('../../image/backend/dhtmlxtree/folderOpen.gif?1185801191');
    background-image: url('../../image/backend/dhtmlxtree/folderClosed.gif?1185801191');
}

.defaultTreeTable{
			margin : 0px;
			padding : 0px;
			border : 0px;
}
.containerTableStyle { overflow : auto; position:relative; top:0; font-size : 12px;}
.containerTableStyleRTL span { direction: rtl; unicode-bidi: bidi-override;  }
.containerTableStyleRTL { direction: rtl; overflow : auto; position:relative; top:0; font-size : 12px;}
.standartTreeRow{	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 	font-size : 12px; -moz-user-select: none;  }
.selectedTreeRow{ background-color : navy; color:white; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 		font-size : 12px;  -moz-user-select: none; }
.standartTreeRow_lor{	text-decoration:underline; background-color : #FFFFF0; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 	font-size : 12px; -moz-user-select: none; }
.selectedTreeRow_lor{   text-decoration:underline; background-color : navy; color:white; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 		font-size : 12px;  -moz-user-select: none; }

.standartTreeImage{ width:18px; height:18px;  overflow:hidden; border:0; padding:0; margin:0; }
.hiddenRow { width:1px;   overflow:hidden;  }
.dragSpanDiv{ 	font-size : 12px; 	border: 1px gray solid; background-color:white; }
.selectionBox{
background-color: #FFFFCC;
}
.selectionBar {
	top:0;
	background-color: Black;
	position:absolute;
	overflow:hidden;
	height: 2px;
	z-index : 11;
}

.intreeeditRow{
  width:100%; font-size:8pt; height:16px; border:1px solid silver; padding:0; margin:0;
  -moz-user-select:  text;   
}

.dhx_tree_textSign{
   font-size:8pt;
   font-family:monospace;
   width:21px;
   color:black;
   padding:0px;
   margin:0px;
   cursor:pointer;
   text-align: center;
}
