.clear
{
	height: 0px;
}

#content
{
	padding-right: 0;
}

fieldset
{
	background-color: #F3FCFF;
	border: 1px solid #A6DAFF
}

/*
	Forms
*/
input.submit, input.text, input.password, select
{
	border: 1px solid lightblue;
}

/*
	Header
*/

/*
#smallCart
{
	position: absolute;
	text-align: right;
	width: 100%;
	left: 0;
}
*/

.quickSearch
{
	background-image: url(../../theme/LightBlue/cornerBottomLeft.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-bottom: 3px;
}

#currency, #language
{
	line-height: 1.3em;
	margin-top: 8px;
	padding-bottom: 8px;
}

#searchContainer
{
	background-image: url(../../theme/LightBlue/boxGradient.gif);
	background-repeat: repeat-x;
	background-color: #F3FCFF;
	border: 0;
	border-top: 1px solid #A6DAFF;
}

#language
{
	padding-top: 1px;
}

#language img
{
	margin-top: 1px;
}

#language select
{
	margin-top: -1px;
}

#currency
{
	background-image: url(../../theme/LightBlue/cornerBottomRight.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-top: 1px;
	margin-right: 0;
	height: 16px;
	padding-right: 12px;
}

#breadCrumb
{
	font-size: smaller;
}

#breadCrumb .separator
{
	font-size: smaller;
}

/*
	Side boxes
*/

div.box
{
	margin-bottom: 10px;
	background-color: #F3FCFF;
	background-image: url(../../theme/LightBlue/bottomCorners.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}

div.box .title
{
	background-color: #E7F8FF;
	background-color: #cef1ff;
	border: 0;
	background-image: url(../../theme/LightBlue/cornerTopLeft.gif);
	background-repeat: no-repeat;
	padding: 0;
}

div.box .title div
{
	background-image: url(../../theme/LightBlue/cornerTopRight.gif);
	background-position: right top;
	background-repeat: no-repeat;
	padding-top: 6px;
	padding-bottom: 4px;
	font-size: 115%;
	border-bottom: 1px dashed #A6DAFF;
}

div.box .content
{
	border: 0;
	background: none;
	background-image: url(../../theme/LightBlue/boxGradient.gif);
	background-repeat: repeat-x;
}

/*
	Category/filter boxes
*/
.count
{
	font-size: smaller;
}

/*
	Category list
*/

.subCategories
{
	margin-left: 30px;
}

.subCategories.first
{
	# margin-left: 15px;
}

.subCategories td.details.verticalSep
{
	border: 0;
}

.subCategories td.details
{
	background-color: #E6FAFF;
	padding: 0;
	background-repeat: no-repeat;
	background-image: url(../../theme/LightBlue/cornerTopLeft.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

.subCategories .subCatContainer
{
	background-repeat: no-repeat;
	background-image: url(../../theme/LightBlue/cornerBottomLeft.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}

.subCategories .subCatContainer .subCatContainer
{
	background-image: url(../../theme/LightBlue/cornerBottomRight.gif);
	background-position: right bottom;
}

.subCategories .subCatContainer .subCatContainer .subCatContainer
{
	background-image: url(../../theme/LightBlue/cornerTopRight.gif);
	background-position: top right;
	padding-left: 15px;
	vertical-align: middle;
	height: 200px;
	width: 252px;
}

.noSubCats .subCatContainer
{
	text-align: center;
}

tr.separator div
{
	border: 0;
}

/*
	Product list
*/
.resultStats
{
	padding-right: 0;
	font-size: 100%;
}

.resultStats .pagingInfo
{
	margin-bottom: 0;
}

ul.productList li
{
	position: relative;
}

ul.productList .pricingInfo
{
	float: right;
	background-color: #FFF3FC;
	line-height: 2em;
	margin-top: -5px;
	margin-bottom: 5px;
	width: 200px;
	background-image: url(../../theme/LightBlue/cornerTopRight.gif);
	background-position: right top;
	background-repeat: no-repeat;
	#padding-top: 5px;
	#background-position: right 5px;
}

ul.productList .pricingInfo span
{
	display: none;
}

.pricingInfo span.price
{
	font-size: larger;
	display: inline !important;
	padding-left: 0.5em;
	float: left;
	background-image: url(../../theme/LightBlue/cornerTopLeft.gif);
	background-position: left top;
	background-repeat: no-repeat;
}

.pricingInfo div
{
	background-image: url(../../theme/LightBlue/cornerBottomLeft.gif);
	background-position: left bottom;
	background-repeat: no-repeat;

}

.pricingInfo div div
{
	background-image: url(../../theme/LightBlue/cornerBottomRight.gif);
	background-position: right bottom;
}

ul.productList a.addToCart
{
	margin-right: 1em;
}

ul.productList .sep
{
	display: none;
}

ul.productList .image
{
	border-right: 1px solid #eee;
}

ul.productList .orderingControls
{
	float: left;
}

ul.productList .addToWishList
{
	background-image: url(../../image/silk/gif/heart_add.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 22px;
}

.productList .title a
{
	overflow: hidden;
	display: block;
	width: 380px;
}

ul.productList .spec
{
	margin-top: 0;
}

/*
	Site news
*/
.newsReadMore a
{
	background-image:url(../../image/silk/gif/page_white_text.gif);
	background-position:left center;
	background-repeat:no-repeat;
	padding-left: 22px;
	padding-top: 4px;
}